<div id="socialnetworks" style="top:13em; z-index:100;margin-left:20px; width:50px" ng-show="get_dataset_fail.length<1" class="">
  <!-- <g:plusone></g:plusone> -->
  <div class="simple-skinnyleft">
    <a href="" class="tweetcountwrapper" ng-click="click_share_this('twitter')"><i class="fa fa-twitter"></i>
      <!-- <div class="simple-skinnyleft tweetcount">1,421</div> -->
    </a>
    <a href="" class="facebookcountwrapper" ng-click="click_share_this('facebook')"><i class="fa fa-facebook"></i>
    </a>
    <a href="" class="emailcountwrapper" ng-click="click_share_this('email')"><i class="fa fa-envelope"></i>
    </a>
    <a href="" class="tumblrcountwrapper" ng-click="click_share_this('tumblr')"><i class="fa fa-tumblr"></i>
    </a>
    <a href="" class="linkedincountwrapper" ng-click="click_share_this('linkedin')"><i class="fa fa-linkedin"></i>
    </a>
    <a href="" class="googlepluscountwrapper" ng-click="click_share_this('google')"> <i class="fa fa-google-plus"></i>
    </a>
  </div>
</div>
