<div id="wrapper">
    <div class="container-fluid3">

        <div class="caption">OmicsDI customization:</div>

        <br/><br/>
        what is your favorite paging size: <select>
        <option>10</option>
        <option>20</option>
        <option>30</option>
    </select><br/><br/>
        how do you want results sorted: <select>
        <option>by Accession</option>
        <option>by Publication Date</option>
        <option>by Popularity</option>
    </select><br/><br/>

        etc.,etc.

    </div>
</div>