<div class="row" *ngIf="profileX">
    <div class="col-md-12 col-sm-12 col-xs-12" *ngIf="!this.profileX.bio">
        <div class="mt-card">
            <div class="mt-card-header">
                <h4 class="mt-card-title" style="margin-left: 20px">
                    Congratulations! You have created OmicsDI profile. What next?
                </h4>
            </div>
            <div class="mt-card-body">
                <div>
                    <ul class="available-tasks">
                        <li>Upload best <a [routerLink]="['/dashboard','update']">photo</a>
                        <li>Write short <a [routerLink]="['/dashboard','update']">bio</a> to stand out of colleagues
                        <li>Use <a [routerLink]="['/search']" [queryParams]="{q: this.profileX?.userName}">search</a> and claim
                            your datasets!
                        <li>When you are happy with the content, you can make your profile <a
                                [routerLink]="['/dashboard','update']">public</a> and use short URL in communication
                        <li>Please consult <a href="http://blog.omicsdi.org/post/claiming-datasests/">help</a> for detailed
                            step-by-step instructions
                        <li>We are waiting for your <a [routerLink]="['/dashboard','feedback']">feedback</a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <app-profile-info [profile]="profileX"></app-profile-info>
    </div>
    <div class="col-md-8">
        <app-profile-connections *ngIf="isMy()"
                                 [profile]="profileX"></app-profile-connections>
    </div>
    <div class="col-md-4" *ngIf="dataSetDetails">
        <app-claim-orcid [datasetNumber]="profileX?.dataSets?.length" [datasets]="dataSetDetails"></app-claim-orcid>
    </div>
</div>
