<div id="wrapper">
    <app-nav></app-nav>
    <div id="page-wrapper">
        <div class="container-fluid3">
            <div class="row">
                <div class="col-md-10 col-sm-12 col-xs-12">
                    <app-profile-info [profile]="profileX"></app-profile-info>
                    <div class="row align-top" style="margin-left: 0">
                        <div *ngIf="profileX?.dataSets?.length>0" class="caption">Datasets</div>

                        <app-profile-result [profile]="profileX" (change)="updateProfile()"></app-profile-result>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"
                     style="display:inline-block; vertical-align: top; text-align: right;"
                     id="profile_div" *ngIf="profileX">
                    <app-profile-contacts [profile]="profileX"></app-profile-contacts>
                    <app-profile-connections *ngIf="isMy()"
                                             [profile]="profileService.profile"></app-profile-connections>
                    <app-claim-orcid [datasetNumber]="profileX?.dataSets?.length"></app-claim-orcid>

                    <!--<app-dashboard-profile-annual-omicstype [profile]="profileX"></app-dashboard-profile-annual-omicstype>-->

                    <app-counting-data-dashboard [profile]="profileX"></app-counting-data-dashboard>
                    <!--<app-dashboard-citations-count [profile]="profileX"></app-dashboard-citations-count>-->
                    <!--<app-dashboard-reanalisys-count [profile]="profileX"></app-dashboard-reanalisys-count>-->
                    <!--<app-dashboard-views-count [profile]="profileX"></app-dashboard-views-count>-->
                    <!--<app-dashboard-connections-count [profile]="profileX"></app-dashboard-connections-count>-->
                </div>
            </div>

        </div>
    </div>
</div>

