/* AUTOCOMPLETE */

.autocomplete{
  width: 100%;
  position: relative;
}

.autocomplete input{
  margin-left:2px;
  font-size: 1.2em;
  width: 99%;
  padding:10px;
}

.autocomplete ul{
  color: darkblue;
  list-style-type: none;  
  position: absolute;
  left: 0;
  margin-left:0;
  margin-top:0px;
  width: 99%;
  border-left: 1px solid darkgrey;
  border-right: 1px solid darkgrey;
  border-bottom: 1px solid darkgrey;
  z-index: 10;
  background:white;
}

.autocomplete li{
  font-size: 1.2em;
  text-align: left;
  margin-left: -17px;
  list-style:none;
  width: inherit;
  padding:0;
  background-color: #fff;
}

.autocomplete li.active{
  width: 100%;
  background-color: #4bf;
}

.autocomplete .highlight {
  color: black;
  margin-right: 0;
}

.autocomplete li.active .highlight {
/*  background: #666;*/
  color: #fff;
}
