/web/node_modules
/web/dist/out-tsc/app/about
/auth/target
rget
/.idea/libraries
/rest/target
/web/dist/out-tsc
/.idea
/*.iml
/*.gitignore
/auth/*.iml
*.iml
/src/main/webapp/bower_components/angular-route
angular-route
/web/node/node_modules/npm/.github
/web/node
/web/dist
/web/target/maven-archiver
/web/target
/profile/target
/data/target
/profile/.idea/artifacts
/profile/.idea
/web/.idea
target/
.DS_Store