<app-search-total></app-search-total>
<div style="float:right; position: relative; top:-25px; padding-right: 20px;">
  <claim-all-button></claim-all-button>
</div>
<app-search-query></app-search-query>
<table style="border:none;">
  <td style="vertical-align: top; border:none; min-width: 300px;"><app-search-facet></app-search-facet></td>
  <td style="vertical-align: top; border:none;">
    <app-search-pager></app-search-pager>
    <app-search-result></app-search-result>
    <app-search-pager></app-search-pager>
  </td>
  <tr>

  </tr>
</table>
