<div id="wrapper1" class="container_ddi" style="margin:0px;">
    <nav class="navbar navbar-inverse navbar-fixed-top row" role="navigation" style="border: none">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <div class="nav-item" style="padding: 10px 0 10px 15px; float: left;">
                <a class="nav-link text-center nav-element" style="padding: 20px 15px" [routerLink]="['/']" title="OmicsDI Homepage">
                    <img src="./static/images/logo/imageedit_2_3220380406.png" alt="logo" style="height: 25px;" />
                    <span style="margin-left: 8px; font-size: 10pt; vertical-align: bottom">Omics DI</span>
                </a>
            </div>
            <button type="button" class="navbar-toggle" (click)="isCollapsedNav = !isCollapsedNav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="nav navbar-left top-nav col-lg-5 col-md-10 col-sm-11 col-xs-12" style="padding: 0">
            <ul class="nav navbar-nav col-lg-7 col-md-12 col-sm-12 navbar-collapse" [class.collapse]="isCollapsedNav">
                <li class="nav-item"><a class="nav-link text-center nav-element" routerLink="/search">Browse</a></li>
                <li class="nav-item"><a class="nav-link text-center nav-element" (click)="toSubmission();">Submit Data</a></li>
                <li class="nav-item"><a class="nav-link text-center nav-element" [routerLink]="['/database']">Database</a></li>


                <li class="nav-item" dropdown>
                    <a class="nav-link text-center dropdown-toggle nav-element" dropdownToggle aria-controls="help-dropdown"><i
                            class="fa fa-bell"></i> Help <b class="caret"></b></a>

                    <ul *dropdownMenu class="dropdown-menu" id="help-dropdown" style="background-color: #ffffff">
                        <li class="nav-item" id="li1">
                            <div class="text-center" (click)="gotoHelp()" mat-menu-item>
                                Omics Help
                            </div>
                        </li>
                        <li class="nav-item"><div class="text-center" [routerLink]="['/help/api']" mat-menu-item>API</div></li>
                        <li class="nav-item" id="li3">
                            <div class="text-center" *appIsLogged mat-menu-item [routerLink]="['dashboard','feedback']">
                                Feedback
                            </div>
                        </li>
                    </ul>
                </li>
                <li *ngIf="!profile" dropdown>
                    <a data-toggle="dropdown" class="nav-link text-center dropdown-toggle" data-icon="M" dropdownToggle
                       style="color:white; border: none" aria-controls="login-dropdown">
                        <span class="glyphicon glyphicon-user"></span> Login
                    </a>

                    <div *dropdownMenu id="login-dropdown" class="dropdown-menu" style="background-color: #ffffff">
                        <app-login-dialog></app-login-dialog>
                    </div>
                </li>
                <li *ngIf="profile" dropdown class="nav-item dropdown text-center nav-element">
                    <a data-toggle="dropdown" class="nav-link text-center dropdown-toggle"
                       dropdownToggle data-icon="M" style="color:white !important;" aria-controls="profile-dropdown">
                        <span class="glyphicon glyphicon-user"></span>
                        {{profile.userName}} <b class="caret"></b>
                    </a>
                    <ul *dropdownMenu class="dropdown-menu" style="background-color: #ffffff" id="profile-dropdown">
                        <li class="nav-item">
                            <button *ngIf="profile.isPublic" [routerLink]="['/profile', profile.userId]" mat-menu-item>
                                Public profile
                            </button>
                        </li>
                        <li class="nav-item">
                            <button mat-menu-item [routerLink]="['/dashboard', 'dashboard']">
                                Dashboard
                            </button>
                        </li>
                        <li class="nav-item">
                            <button mat-menu-item (click)="logOut()">
                                Log Out
                            </button>
                        </li>
                    </ul>

                </li>
                <li class="nav-item" *ngIf="selectedComponents > 0">
                    <a routerLink="/dashboard/selected" class="nav-link text-center nav-element">
                        <i class="fa fa-fw fa-shopping-basket"></i> {{selectedComponents}}</a>
                </li>
            </ul>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav hidden-md hidden-sm hidden-xs col-lg-5 omics-search-box">
            <li style="width:100%;" *ngIf="!homePage" app-search-box [isHomeSearch]="false" class="col-md-6 col-sm-12 col-xs-12 functional">
        </ul>
    </nav>
    <!-- /local-nav -->
    <ng-progress [direction]="'ltr+'" [min]="20" [max]="1" [speed]="200"  [trickleSpeed]="300"
                 [spinner]="false" [spinnerPosition]="'left'" [thick]="false" [meteor]="true"
                 [color]="'red'" [ease]="'linear'"></ng-progress>
    <!--main container of page -->
    <div style="">
        <router-outlet></router-outlet>
    </div>
    <!-- </div> ResultsListCtrl -->
    <footer>
        <div class="row" id="global-footer" style="border-top:none;">

            <nav class="col-md-12" id="global-nav-expanded">

                <div class="col-md-2 col-sm-12 col-xs-12">
                    <a title="European Bioinformatics Institute homepage" target="_blank" class="no-icon"
                       href="http://www.ebi.ac.uk/">
                        <img class="img_at_footer ebi-img" alt="EMBL-EBI logo" src="img/logo/embl-ebi.jpg"
                             style="width:150px; margin-top:9px">
                    </a>

                    <a title="BD2K" target="_blank" class="no-icon" href="http://www.heartbd2k.org/">
                        <img class="img_at_footer img" alt="" src="img/logo/bd2k.png"
                             style="width:150px; margin-top:9px">
                    </a>
                    <a href="http://metabolomexchange.org/" target="_blank">
                        <img src="img/home/metabolome.png" class="img_at_footer"
                             style="width:150px; margin-top:9px"/></a>
                    <a class="img_at_footer" href="http://www.proteomexchange.org/" target="_blank">
                        <img src="img/home/proteome.png" style="width:150px; margin-top:9px"></a>
                    <a class="img_at_footer" href="https://www.ebi.ac.uk/ega/" target="_blank">
                        <img src="img/db-logos/ega_phenome_logo.jpg" style="width:150px; margin-top:9px">
                    </a>
                </div>

                <div class="col-md-8 col-sm-8 col-xs-12">
                    <h3 class="about">
                        OmicsDI Databases
                    </h3>


                    <div class="col-md-3 col-sm-4 col-xs-4">
                        <ul>

                            <li><a target="_blank" href="http://www.ebi.ac.uk/pride/archive/" class="no-icon">PRIDE</a>
                            </li>

                            <li><a target="_blank" href="http://www.peptideatlas.org/" class="no-icon">PeptideAtlas</a>
                            </li>

                            <li><a target="_blank" href="https://massive.ucsd.edu/ProteoSAFe/datasets.jsp"
                                   class="no-icon">MassIVE</a>
                            <li><a target="_blank" href="http://gpmdb.thegpm.org/" class="no-icon">GPMDB</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-4">
                        <ul>

                            <li><a target="_blank" href="https://www.ebi.ac.uk/ega/" class="no-icon">EGA</a></li>


                        </ul>
                    </div>

                    <div class="col-md-3 col-sm-4 col-xs-4">
                        <ul>


                            <li><a target="_blank" href="http://www.ebi.ac.uk/metabolights/" class="no-icon">MetaboLights</a>
                            </li>

                            <li><a target="_blank" href="http://www.metabolomicsworkbench.org/" class="no-icon">Metabolomics
                                Workbench</a></li>
                            <li><a target="_blank" href="https://www.metabolome-express.org/" class="no-icon">MetabolomeExpress</a>
                            <li><a target="_blank" href="https://GNPS.ucsd.edu" class="no-icon">GNPS</a>
                            </li>

                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-4">
                        <ul>
                            <li><a target="_blank" href="https://www.ebi.ac.uk/arrayexpress/" class="no-icon">ArrayExpress</a>
                            </li>
                            <li><a target="_blank" href="http://www.ebi.ac.uk/gxa/home"
                                   class="no-icon">ExpressionAtlas</a></li>

                        </ul>
                    </div>


                </div>


                <div class="col-md-2 col-sm-4 col-xs-12">
                    <h3 class="about">Information</h3>
                    <ul>
                        <li><a [routerLink]="['database']">Databases</a></li>
                        <li><a href="http://blog.omicsdi.org/">Help</a></li>
                        <li><a [routerLink]="['help', 'api']">API</a></li>

                        <li><a href="http://www.ebi.ac.uk/support/index.php?query=omics-di">Contact us</a></li>
                        <li><a target="_blank" href="https://github.com/OmicsDI/" class="no-icon">Code on GitHub</a>
                        </li>
                        <li><a target="_blank" href="http://www.ebi.ac.uk/about/terms-of-use" class="no-icon">Terms of
                            use</a>
                        </li>
                        <li><a href="https://www.ebi.ac.uk/biostudies/">Submit Data</a></li>
                    </ul>
                </div>

            </nav>

        </div>
    </footer>

</div>

<simple-notifications [options]="simpleNotificationsOptions"></simple-notifications>

