<!--<app-counting-data-dashboard [datasets]="dataSets"></app-counting-data-dashboard>-->
<!--<app-dashboard-citations-count [datasets]="dataSets"></app-dashboard-citations-count>-->
<!--<app-dashboard-reanalisys-count [datasets]="dataSets"></app-dashboard-reanalisys-count>-->
<!--<app-dashboard-views-count [datasets]="dataSets"></app-dashboard-views-count>-->
<app-dashboard-citations-count [datasets]="dataSets"></app-dashboard-citations-count>
<app-dashboard-reanalisys-count [datasets]="dataSets"></app-dashboard-reanalisys-count>
<app-dashboard-views-count [datasets]="dataSets"></app-dashboard-views-count>
<app-dashboard-connections-count [datasets]="dataSets"></app-dashboard-connections-count>