<div *appOnlyAdmin>
    Total merge candidates: {{this.count}}
    <div *ngFor="let d of mergeCandidates | paginate: { id: 'server', itemsPerPage: 10, currentPage: currentPage, totalItems: count}
          " style="width:100%; margin:10px;">
        <table style="background-color: silver;">
            <tr>
                <td style="width:50px"><input type="checkbox" style="opacity:10"
                                              (change)="check(d.database,d.accession,d.database,d.accession,$event.target.checked)">
                </td>
                <td style="width:100px">

                    <input *ngIf="isChecked(d.database,d.accession,d.database,d.accession)" class="form-control"
                           type="button" value="merge" (click)="merge(d.database,d.accession,d.database,d.accession)">
                    <input *ngIf="!isChecked(d.database,d.accession,d.database,d.accession)" class="form-control" disabled
                           type="button" value="merge" (click)="merge(d.database,d.accession,d.database,d.accession)">

                </td>
                <td style="width:100px">

                    <input *ngIf="isChecked(d.database,d.accession,d.database,d.accession)" type="button" value="skip"
                           (click)="skipMerge(d.database,d.accession,d.database,d.accession)" class="form-control">
                    <input *ngIf="!isChecked(d.database,d.accession,d.database,d.accession)" type="button" value="skip"
                           (click)="skipMerge(d.database,d.accession,d.database,d.accession)" class="form-control" disabled>

                </td>
                <td style="width:100px">

                    <input *ngIf="isChecked(d.database,d.accession,d.database,d.accession)" type="button" value="multiomics"
                           (click)="multiomicsMerge(d.database,d.accession,d.database,d.accession)" class="form-control">
                    <input *ngIf="!isChecked(d.database,d.accession,d.database,d.accession)" type="button"
                           value="multiomics" (click)="multiomicsMerge(d.database,d.accession,d.database,d.accession)"
                           class="form-control" disabled>

                </td>
                <td style="width:100px">{{d.database}}</td>
                <td style="width:100px"><a target="_blank" [routerLink]="['/dataset', d.database.toLowerCase(),d.accession]">{{d.accession}}</a>
                </td>
                <td>{{d.name}}</td>

            </tr>

            <tr *ngFor="let c of d.similars" style="width:100%; border: none;">
                <td style="width:50px"><input type="checkbox" style="opacity:10"
                                              (change)="check(d.database,d.accession,c.database,c.accession,$event.target.checked)">
                </td>
                <td style="width:100px">

                    <input *ngIf="isChecked(d.database,d.accession,c.database,c.accession)" type="button" value="merge"
                           (click)="merge(d.database,d.accession,c.database,c.accession)" class="form-control">
                    <input *ngIf="!isChecked(d.database,d.accession,c.database,c.accession)" type="button" value="merge"
                           (click)="merge(d.database,d.accession,c.database,c.accession)" class="form-control" disabled>
                </td>
                <td style="width:100px">

                    <input *ngIf="isChecked(d.database,d.accession,c.database,c.accession)" type="button" value="skip"
                           (click)="skipMerge(d.database,d.accession,c.database,c.accession)" class="form-control">
                    <input *ngIf="!isChecked(d.database,d.accession,c.database,c.accession)" type="button" value="skip"
                           (click)="skipMerge(d.database,d.accession,c.database,c.accession)" class="form-control" disabled>

                </td>
                <td style="width:100px">

                    <input *ngIf="isChecked(d.database,d.accession,c.database,c.accession)" type="button" value="multiomics"
                           (click)="multiomicsMerge(d.database,d.accession,c.database,c.accession)" class="form-control">
                    <input *ngIf="!isChecked(d.database,d.accession,c.database,c.accession)" type="button"
                           value="multiomics" (click)="multiomicsMerge(d.database,d.accession,c.database,c.accession)"
                           class="form-control" disabled>

                </td>
                <td style="width:100px">{{c.database}}</td>
                <td style="width:100px"><a target="_blank" [routerLink]="['/dataset', c.database.toLowerCase(),c.accession]">{{c.accession}}</a>
                </td>
                <td>{{c.name}}</td>

            </tr>

        </table>
    </div>

    <pagination-controls (pageChange)="getPage($event)"
                         class="my-pagination"
                         id="server">
    </pagination-controls>
</div>