<div class="contactInfo" *ngIf="contactInfoPresent()">
  <div class="contactInfoCaption">Contact Info</div>

  <p class="affiliation" *ngIf="this.profileService.profile?.affiliation">
    <span class="icon icon-generic" data-icon="]">&nbsp;{{this.profileService.profile?.affiliation}}</span>
  </p>

  <p class="email" *ngIf="this.profileService.profile?.email">
    <a class="icon icon-generic" data-icon="E" href="mailto:{{this.profileService.profile?.email}}">&nbsp;{{this.profileService.profile?.email}}</a>
  </p>

  <p class="homepage" *ngIf="this.profileService.profile?.homepage">
    <a class="icon icon-generic" data-icon="y" href="{{this.profileService.profile?.homepage}}">&nbsp;{{this.profileService.profile?.homepage}}</a>
  </p>

  <p class="orcid" *ngIf="this.profileService.profile?.orcid">
    <a class="icon icon-socialmedia" data-icon="O" href="http://europepmc.org/search?query=AUTHORID:%22{{this.profileService.profile?.orcid}}%22&amp;sortby=Date">&nbsp;{{this.profileService.profile?.orcid}}</a>
  </p>

  <p class="publicProfile" *ngIf="this.profileService.profile?.isPublic">
    <a href="{{this.publicProfileUrl()}}" title="OmicsDI public profile">
      <img src="img/logo/OmicsDI-icon-3.png" style="width:16px; height:16px;position:relative; top:-3px;">&nbsp;{{this.profileService.profile?.userName}}</a>
  </p>

</div>
