.huge-smaller {
    font-size: 17px;
}

i#species_icon.icon-conceptual::before {
    font-family: 'EBI-Conceptual';
    font-size: 2.5em;
    color: white;
    content: attr(data-icon);
    margin: 0 0 0 -10px;
    line-height: 1.0;
    display: block;
    position: relative;
    border: none;
}

.statistic-panel-item {
}

@media (min-width: 1200px) {
    #statistics-panel-body {
        width: 95%;
        margin: auto;
    }
}