<div style="width:80%; margin-left: auto; margin-right: auto;">
    <div class="caption">Selected Datasets</div>

    <div style="float:right;">

        <img src="img/subscribe.png" title="subscribe to updates">
        <img src="img/claim.png" title="claim">
        <img src="img/excel.png" title="export to Excel">
    </div>
    <ul class="list-unstyled" style="display:inline-block; width:100%">
        <li *ngFor="let d of this.dataSets | paginate: { itemsPerPage: 10, currentPage: p }"
            class="repeated-item ng-scope"
            style="min-width:400px;">

            <div class="ddi-card-panel  list-group-item">
                <div class="project-widget-accession">
                    <img style="float:right;cursor:pointer;" src="img/delete.png" title="delete"
                         (click)="selectedService.unselect(d.source, d.id); remove(d.source, d.id);">
                    <app-omics-image [omics]="d.omics_type"></app-omics-image>

                    <a [routerLink]="['/dataset',d.source, d.id]">
                        <span class="ng-binding">{{d.name}}</span></a>
                </div>
                <blockquote class="ddi-blockquote">
                    <div class="project-widget-paragraph align-justify ng-binding">
                        <!--
                            <b>Project description:</b>
                        -->
                        <span>{{d.description | truncate : 200 : '...'}}</span>

                        <span *ngIf="!!!d.description">Not available</span>
                    </div>

                    <div class="project-widget-paragraph">
                    </div>
                    <div *ngIf="d.organisms && d.organisms.length>0" class="project-widget-paragraph">
                        ORGANISM(S): <span *ngFor="let o of d.organisms;let isLast=last;">{{o.name}}{{isLast ? '' : ', '}}</span>
                        <span *ngIf="!d.organisms">Not available</span>
                    </div>

                    <div *ngIf="d.tissues && d.tissues.length>0" class="project-widget-paragraph ng-hide">
                        TISSUE(S): <span *ngFor="let o of d.tissues;let isLast=last;">{{o}}{{isLast ? '' : ', '}}</span>
                        <span *ngIf="!d.tissues">Not available</span>
                    </div>
                    <div *ngIf="d.diseases && d.diseases.length>0" class="project-widget-paragraph ng-hide">
                        DISEASE(S): <span
                            *ngFor="let o of d.diseases;let isLast=last;">{{o}}{{isLast ? '' : ', '}}</span>
                        <span *ngIf="!d.diseases">Not available</span>
                    </div>
                </blockquote>

                <div class="project-widget-paragraph">

        <span *ngIf="d.publicationDate" class="ng-binding ng-hide">
          <span class="ng-binding">{{d.publicationDate }}</span> | </span>
                    <a [routerLink]="['/dataset',d.source,d.id]"><span class="ng-binding">{{d.id}}</span></a> |
                    <a [href]="databases[d.source].sourceUrl"> <span class="ng-binding">{{databases[d.source].databaseName}}</span>
                    </a>
                </div>

                <div *ngIf="d.keywords" class="project-widget-paragraph">
                    <a *ngFor="let o of d.keywords" [title]="o" class="keywords ng-binding ng-scope"
                       [routerLink]="['/search']" [queryParams]="{q:o}">{{o}}&nbsp;</a>
                </div>

            </div>


        </li>
    </ul>
    <pagination-controls (pageChange)="p = $event"
                         previousLabel=""
                         nextLabel=""
                         *ngIf="this.dataSets && this.dataSets.length > 10"
                         class="my-pagination">
    </pagination-controls>
</div>
