<div class="caption">{{this.profile?.userName}}</div>


<div>
<div class="pictureFrame" style="">

<img
  [src]="this.profileImageUrl"
  width="150"
  id="gsc_prf_pup"
  style="width:150px;">
</div>

<div class="bioContainer">



  <div *ngIf="!this.profile?.bio" class="bio" style="position:relative; left:10px;">
    Congratulations! You have created OmicsDI profile. What next? <br/> <br/>
    <ul>
      <li>Upload best <a [routerLink]="['/profile','update']">photo</a>
      <li>Write short <a [routerLink]="['/profile','update']">bio</a> to stand out of colleagues
      <li>Use <a [routerLink]="['/search']" [queryParams]="{q: this.profile?.userName}">search</a> and claim your datasets!
      <li>When you are happy with the content, you can make your profile <a [routerLink]="['/profile','update']">public</a> and use short URL in communication
      <li>Please consult <a href="http://blog.omicsdi.org/post/claiming-datasests/">help</a> for detailed step-by-step instructions
      <li>We are waiting for your <a [routerLink]="['/profile','feedback']">feedback</a>
    </ul>
  </div>
  <div class="bio">{{this.profile?.bio}}</div>
</div>
</div>












