<div class="caption">{{this.profile?.userName}}</div>


<div>
<div class="pictureFrame" style="">

<img
  [src]="this.profileImageUrl"
  width="150"
  id="gsc_prf_pup"
  style="width:150px;">
</div>

<div class="bioContainer">



  <div *ngIf="!this.profile?.bio" class="bio" style="position:relative; left:10px;">
    Congratulations! You are created OmicsDI profile. Next? <br/> <br/>
    <ul>
      <li>Upload best <a href="#">photo</a>
      <li>White short <a href="#">Bio</a> to stand out of colleagues
      <li>Use <a href="#">search</a> and claim your datasets!
      <li>When happy with content - make profile <a href="#">public</a> and twit short URL
      <li>Please consult <a href="#">help</a> for detailed step-by-step instructions
      <li>We are waiting for your <a href="#">feedback</a>
    </ul>
  </div>
  <div class="bio">{{this.profile?.bio}}</div>
</div>
</div>












