<div style="width:80%; margin-left: auto; margin-right: auto;">

  <div class="rightNav">
    <ul class="rightNavMenu">
      <li class=""><a [routerLink]="['/profile']" >Profile</a></li>
      <li class=""><a [routerLink]="['/profile/update']" >Edit Profile</a></li>
      <li class=""><a [routerLink]="['/profile/claimed']" >Edit Datasets</a></li>
      <li class=""><a [routerLink]="['/profile/feedback']" >Feedback</a></li>
    </ul>
  </div>

  <div class="caption">{{profileService.profile && profileService.profile?.userName}}</div>


<div *ngIf="profileService.profile?.dataSets?.length>0" class="datasetsCaption">My Datasets</div>
  <app-profile-result [profile]="profileService.profile" (change)="updateProfile()"></app-profile-result>

<div *ngIf="!(profileService.profile?.dataSets?.length>0)">
<div  class="datasetsCaption">No Datasets Claimed</div>
  please use <a [routerLink]="['/search']" [queryParams]="{q:profileService.profile.userName}">search</a> to find and claim your dataset.
</div>
</div>
