
<h1 style="text-align: center">
    Dear Author
</h1>

<div style="margin-right:100px; margin-left:100px; font-size: larger;">
  <p style="text-align: justify;">
  Welcome to The Omics Discovery Index (OmicsDI), which provides dataset discovery across a heterogeneous,
  distributed group of Transcriptomics, Genomics, Proteomics and Metabolomics data resources spanning
  15 repositories in three continents and six organisations, including both open and controlled access
    data resources. <br/> You are invited to add datasets to your created profile. Profile can be edited at any time. <br/>Data can be synced up with Orcid archive.</p>
  <br/>
      <p style="text-align: justify;">Bienvenido a The Omics Discovery Index (OmicsDI), que proporciona el descubrimiento de conjuntos de datos a través de un heterogéneo,
       grupo distribuido de recursos de datos de Transcriptómica, Genómica, Proteómica y Metabolómica que abarca
       15 repositorios en tres continentes y seis organizaciones, incluidos acceso abierto y controlado
         recursos de datos. <br/>Está invitado a agregar conjuntos de datos a su perfil creado. El perfil puede ser editado en cualquier momento. <br/>Los datos se pueden sincronizar con el archivo Orcid. </p>
  <br/>
    <p style="text-align: justify;">欢迎来到Omics Discovery Index（OmicsDI），它提供跨异构的数据集发现，
       分布式转录组学，基因组学，蛋白质组学和代谢组学数据资源跨越
       在三大洲15个仓库和6个组织，包括开放和受控访问
         数据资源。<br/>您被邀请将数据集添加到您创建的配置文件。 配置文件可以随时编辑。<br/>数据可以与Orcid存档同步。</p>

</div>

<br/>
<div style="text-align: center">
  <button (click)="this.submit('orcid','/authenticate');" type="submit" style="background: #a6ce39; height:60px; width:225px; vertical-align: top; cursor: pointer; border: none;" title="Login with Orcid">
    <img style="float:left; margin-left: 10px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4AoHAAsCAA0p3QAAAhhJREFUWMPNlzFrFFEQx3+zXETxBMHKQg3CEQMhReBUgh8gEUGwsklvvoGCWPgJxMIvcIJyYKFwMViIaAhEsYlICos7ogERtBILlfxtZuWx7rvb5Hbv/De7+97szP/NvDdvBgpCUl3SsqTHkrr6F12fW5ZUpyxIakrqaO/oSGru16j5s63h0Q51ZmER4yeBD0AtT2av6wF+Aw1g28wUTiY5xqeAHjBRgvF0kROucyrriSRn5Vs5Sr4EqxkGW8CpkIRlPPDT2YbYMLPzPq8SPPLDzA7neaDtMc/iPeXiULoxs0etH15K2lG5aIYEOho9OmGG64c1l5sJxq4PyCMXJT0vQKJeA5YGxCzdF2F6PZiGDlgMTsdToGtmK8CKpKvAgz66l2rAwhAb6hJwK/i+7cTeAvNm9lBSDWhF/l9IgNkhs1we5oCvAGZ2H9iIyM0mwCTlw4C6pDv+fTciN5lQLa7481VMoGoCJzwMH8dF4LNvymP9CPQqMi7gib9fiMj0EmCzIgIGXPP3GxGZzQRYrcD4N+C0mUnSZeBcRG41TRL39mnoRU5I18zsmcd+HnjU5/9Wkcto3WXmgrGbA+6C45JaRS4jC3L664i+78A74Agw42OfgJ3IxjsDHC3gvbNm9iZk3Za0O4JreDcsSIqUZGXjl5kdiBWlDapHIyxK/xLwen0bmK7Q+HS2Nxh7YzL21uz/bE5H2Z7/AawM/+HMgWgPAAAAAElFTkSuQmCC"/>
    <div style="float:left; border:none; margin-top:10px; margin-left: 15px;" >
      <strong>Sign in with ORCID</strong>
    </div>
  </button>

</div>


<div style="margin-right:100px; margin-left:100px;">

<p>
  <i class="fa fa-info-circle" style="font-size: xx-large"></i>&nbsp;&nbsp;&nbsp;
     <a href="http://blog.omicsdi.org/" style="position: relative; top:-10px;">Start Read our blog: http://blog.omicsdi.org/</a>
</p>

<p>
<i class="fa fa-quote-left" style="font-size: xx-large"></i>&nbsp;&nbsp;&nbsp;
<i style="position: relative; top:-10px;"> Perez-Riverol, Yasset, et al. "Discovering and linking public omics data sets using the Omics Discovery Index." Nature biotechnology 35.5 (2017): 406-409.
    APA <a href="https://www.nature.com/articles/nbt.3790">(Nature.com)</a></i>
</p>


</div>

<!-- button  type="submit" style="background: #a6ce39;


cursor: pointer;
border: none;" title="Login with Orcid">

</button --->