<div class="col-xs-12">
    <div class="col-xs-1 col-lg-1" style="padding-right: 1px; padding-left: 11px">
        <mat-form-field appearance="outline">
            <mat-select [(ngModel)]="searchField" name="searchField">
                <mat-option [value]="c.id" *ngFor="let c of allFacet">{{c.label}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="col-xs-1 col-lg-1" style="padding-left: 0; padding-right: 1px">
        <mat-form-field appearance="outline">
            <mat-select [(ngModel)]="searchOperator" name="searchOperator">
                <mat-option [value]="c.key" *ngFor="let c of conditions">{{c.value}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="col-xs-10 col-lg-10" style="padding-left: 0; padding-right: 0; display: table">
        <div style="display: table-cell; padding-right: 2px; padding-left: 2px" *ngFor="let c of values">
            <div class="search-tags" style="display: inline-block">
                <i class="fa fa-times" style="margin: 0 3px; cursor: pointer" (click)="removeKeyword(c.value)"></i>
                {{c.label}}
            </div>
        </div>
        <mat-form-field style="display: table-cell;" appearance="outline">
            <input type="text" name="searchValue" aria-label="Number" matInput [(ngModel)]="searchValue" [matAutocomplete]="auto" (keyup.enter)="addKeyword()" />
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addSuggestion($event)" [displayWith]="displayNull">
                <mat-option *ngFor="let option of facetMap.get(searchField).facetValues" [value]="option">
                    {{option.label}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <button style="display: table-cell; margin-top: 3px; margin-right: 8px; margin-left: 1px"
                mat-stroked-button (click)="addRule()">
            <i class="fa fa-plus"></i>&nbsp;&nbsp;Add rule</button>
    </div>
</div>