
<script >
    document.title = "OmicsDI About";
</script>

        <div id="content" class="row" style="margin: 25px">
            <h2 id="rest-api" class="icon icon-generic" data-icon="i">
                About Omics Discovery Index
            </h2>

            <div class="help-content">
                <p>
                    The Omics Discovery Index (OmicsDI) provides dataset discovery across a heterogeneous,
                    distributed group of Transcriptomics, Genomics, Proteomics and Metabolomics data resources spanning
                    eight repositories in three continents and six organisations, including both open and controlled access
                    data resources. The resource provides a short description of every dataset: accession, description,
                    sample/data protocols biological evidences, publication, etc. Based on these metadata,
                    OmicsDI provides extensive search capabilities, as well as identification of related datasets by
                    metadata and data content where possible. In particular, OmicsDI identifies groups of related,
                    multi-omics datasets across repositories by shared identifiers.
                </p>
            </div>

            <!--<h3 id="publication">Publications / how to cite</h3>-->
            <!--<div class="help-content">-->
            <!--<blockquote>-->
            <!---->
            <!--</blockquote>-->
            <!--</div>-->

            <h3 id="team">The team</h3>

            <div class="help-content">
                <p>
                    OmicsDI development is a collaboration between multiple data resource providers and consortia
                    such as <a href="http://metabolomexchange.org/site/">MetabolomeXchange</a> and <a href="www.proteomexchange.org">ProteomeXchange</a>.
                </p>
                <p>
                    The Github Page: <a href="http://github.com/BD2K-DDI">http://github.com/BD2K-DDI</a> </br>
                    Twitter Account: <a href="https://twitter.com/OmicsDI">@OmicsDI</a> </br>
                    Support Account: <a href="mailto:omicsdi-support@ebi.ac.uk">omicsdi-support@ebi.ac.uk</a>
                </p>
            </div>

            <h3 id="citation">How to Cite</h3>
            <div class="help-content">
                <p>
                    <i> Perez-Riverol, Yasset, et al. "Omics Discovery Index - Discovering and Linking Public Omics Datasets." bioRxiv (2016): 049205.</i> <a href="http://biorxiv.org/content/early/2016/04/18/049205">(bioRxiv)</a>
                </p>
            </div>

            <h3 id="acknowledgement">Acknowledgement</h3>

            <div class="help-content">
                <p>
                    The OmicsDI team would like to thank all data submitters/collaboration databases for their contributions.
                </p>
                <p>
                    OmicsDI is supported by <img src="img/help/funded-by-nih.png"/>  through the NIH Big Data to Knowledge, Grant <a href="http://projectreporter.nih.gov/project_info_description.cfm?aid=8910929&icde=22003400" target="_blank">1U54GM114833-01.</a>
                </p>

                <p>
                </p>

                <p>
                    The OmicsDI team would like to thank the following companies and organisations for their support
                    through the offering of free software licenses:

                <ul>
                    <li><a href="https://www.jetbrains.com/" target="_blank">JetBrains</a> for the most intelligent Java
                        IDE - <a href="https://www.jetbrains.com/idea/index.html" target="_blank">IntelliJ IDEA</a>.
                    </li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</div>

