div.datasetsCaption {
    padding-top: 20px;
    font-family: Helvetica Neue;
    font-size: 24px;
    font-weight: 300;
}

html, body, form, table, div, h1, h2, h3, h4, h5, h6, img, ol, ul, li, button {
    margin: 0;
    padding: 0;
    border: 0;
}

table {
    border-collapse: collapse;
    border-width: 0;
    empty-cells: show;
}

body, td, input {
    font-size: 13px;
    font-family: Arial, sans-serif;
    line-height: 1.24
}

body {
    background: #fff;
    color: #222;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: none;
}

button {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    font-size: 11px;
    font-weight: bold;
    cursor: default;
    height: 29px;
    min-width: 72px;
    overflow: visible;
    color: #444;
    border: 1px solid #dcdcdc;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 2px;
    text-align: center;
    background-color: #f5f5f5;
    background-image: linear-gradient(to bottom, #f5f5f5, #f1f1f1);
    -webkit-transition: all .218s;
    transition: all .218s;
    -webkit-user-select: none;
    user-select: none;
}

button:hover, button.gs_in_cb:hover {
    z-index: 2;
    color: #222;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    background-color: #f8f8f8;
    background-image: linear-gradient(to bottom, #f8f8f8, #f1f1f1);
    -webkit-transition: all 0s;
    transition: all 0s;
}

button.gs_btn_act {
    color: #fff;
    -webkit-font-smoothing: antialiased;
    border: 1px solid #3079ed;
    background-color: #4d90fe;
    background-image: linear-gradient(to bottom, #4d90fe, #4787ed);
}

button .gs_wr {
    line-height: 27px;
}

button .gs_bsc {
    position: absolute;
    top: 0;
    right: 50%;
    width: 25px;
}

a:link {
    color: #1a0dab;
    text-decoration: none;
}

a:visited {
    color: #660099;
    text-decoration: none;
}

.gs_gray {
    color: #777777;
}

.gs_alrt {
    background: #f9edbe;
    border: 1px solid #f0c36d;
    padding: 0 16px;
    text-align: center;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.gs_ico, .gs_icm {
    display: inline-block;
    background: no-repeat url(/intl/en/scholar/images/1x/sprite_20161020.png);
    background-size: 169px;
    width: 21px;
    height: 21px;
}

.gs_in_ib .gs_ico {
    position: absolute;
    top: 2px;
    left: 8px;
    opacity: .55;
}

.gs_in_ib .gs_ico {
    opacity: .55;
}

.gs_in_txtf {
    margin-right: 16px;
}

.gs_in_txt {
    color: black;
    background: #fff;
    font-size: 16px;
    height: 23px;
    line-height: 23px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    padding: 3px 6px 1px 8px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    outline: none;
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.gs_in_txtf .gs_in_txt, .gs_in_txtm .gs_in_txt {
    width: 100%;
}

.gs_in_txts {
    font-size: 13px;
    line-height: 18px;
}

.gs_btn_half, .gs_el_ph .gs_btn_hph {
    min-width: 36px;
}

.gs_btn_slt {
    border-radius: 2px 0 0 2px;
}

button.gs_bsp, button.gs_bsp:hover, button.gs_bsp:active, button.gs_bsp:focus, button:disabled, button:disabled:hover, button:disabled:active {
    color: #b8b8b8;
    border: 1px solid #f3f3f3;
    border: 1px solid rgba(0, 0, 0, .05);
    background: none;
    box-shadow: none;
    z-index: 0;
}

button.gs_btn_mini .gs_lbl, button.gs_btn_half .gs_lbl, button.gs_btn_eml .gs_lbl {
    padding: 11px;
}

.gs_btn_half .gs_ico, .gs_el_ph .gs_btn_hph .gs_ico {
    left: 7px;
}

.gs_in_ib:disabled .gs_ico {
    opacity: .28;
}

#gs_ftr {
    margin: 32px 0 0 0;
    text-align: center;
    clear: both;
}

#gs_ftr {
    margin: 32px 0 0 0;
    text-align: center;
    clear: both;
}

/* ---------------------- */

#gs_top {
    position: relative;
    min-width: 964px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#gs_top > *:not(#x) {
    -webkit-tap-highlight-color: rgba(204, 204, 204, .5);
}

#gsc_bdy {
    position: relative;
    margin: 0 auto;
    width: 1100px;
}

.gsc_lcl {
    position: relative;
    margin: 0 337px 0 16px;
}

#gsc_rsb {
    position: absolute;
    top: 0;
    right: 0;
    width: 336px;
}

#gsc_prf, #gsc_a_t {
    border-right: 1px solid #ccc;
}

#gsc_prf {
    padding: 24px 8px 16px 0;
}

#gsc_prf_pu {
    float: left;
    width: 150px;
    text-align: center;
    background: #f8f8f8;
    margin: 0 8px 8px 0;
}

#gsc_prf_i, #gsc_prf_e, #gsc_prf_iv {
    margin: 0 16px 0 166px;
}

#gsc_prf_pup {
    width: 98px;
    height: 98px;
}

#gsc_prf_pu form {
    padding: 8px 8px 0 8px;
    background: white;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    display: inline-block;
    text-decoration: underline;
}

#gsc_prf_ib {
    float: right;
    position: relative;
    white-space: nowrap;
}

#gsc_prf_ibi, #gsc_prf_ibi .gs_ibl {
    padding-left: 16px;
}

button .gs_lbl {
    padding: 0px 8px;
}

a .gs_lbl, button .gs_lbl {
    vertical-align: baseline;
}

button.gs_in_ib .gs_lbl {
    padding-left: 29px;
}

.gs_btnC .gs_ico {
    background-position: 0 -66px;
}

#gsc_prf_in {
    font-size: 24px;
    line-height: 24px;
    padding: 3px 0 7px 0;
}

.gsc_prf_il {
    font-size: 15px;
    line-height: 18px;
    padding: 1px 0;
}

.gsc_prf_el {
    color: #777;
}

.gsc_prf_ev {
    padding: 4px 0 8px 0;
}

#gsc_prf_ep {
    padding: 8px 0;
}

.gs_in_cb input, .gs_in_ra input {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 15px;
    height: 15px;
    margin: 0;
    padding: 0;
    /*opacity: 0;*/
    z-index: 2;
}

.gs_in_cb label, .gs_in_cb .gs_lbl, .gs_in_ra label {
    display: inline-block;
    padding-left: 21px;
    min-height: 16px;
}

.gs_in_cb, .gs_in_ra {
    position: relative;
    line-height: 16px;
    display: inline-block;
    -webkit-user-select: none;
    user-select: none;
}

.gs_in_cb .gs_cbx, .gs_in_ra .gs_cbx {
    position: absolute;
}

.gs_in_cb .gs_chk, .gs_in_ra .gs_chk {
    position: absolute;
    z-index: 1;
    top: -3px;
    left: -2px;
    width: 21px;
    height: 21px;
}

.gs_in_cb input:checked ~ .gs_chk, .gs_in_cb.gs_sel .gs_chk {
    background: no-repeat url(/intl/en/scholar/images/1x/sprite_20161020.png) -69px -67px;
    opacity: .62;
}

.gs_in_cb .gs_cbx {
    top: 2px;
    left: 2px;
    width: 11px;
    height: 11px;
    border: 1px solid #c6c6c6;
    border-radius: 1px;
}

#gsc_prf_eb {
    padding: 16px 0 32px 0;
}

#gsc_prf_eb button {
    margin-right: 16px;
}

#gsc_art {
    clear: both;
}

#gsc_a_t {
    width: 100%;
    table-layout: fixed;
}

.gsc_a_x, .gsc_a_t, .gsc_a_c, .gsc_a_y, .gsc_a_e {
    font-weight: normal;
    padding: 8px 16px;
    vertical-align: middle;
    text-align: right;
    border-bottom: 1px solid #ccc;
}

.gsc_a_x {
    padding: 0;
}

.gsc_a_t {
    text-align: left;
}

.gsc_a_t, .gs_el_sm .gsc_a_t {
    padding-left: 4px;
}

th.gsc_a_x, th.gsc_a_t, th.gsc_a_c, th.gsc_a_y {
    box-sizing: border-box;
    background: #f1f1f1;
}

th.gsc_a_x {
    width: 41px;
    height: 41px;
    text-align: left;
}

#gsc_a_tr0 th.gsc_a_x, #gsc_a_tr0 th.gsc_a_t, #gsc_a_tr0 th.gsc_a_c, #gsc_a_tr0 th.gsc_a_y {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    border-top: 1px solid #ccc;
}

th.gsc_a_t {
    white-space: nowrap;
}

#gsc_a_ta, #gsc_a_nn {
    display: inline-block;
    vertical-align: middle;
    margin-right: 16px;
}

.gsc_a_a {
    padding: 8px 0;
}

#gsc_a_trh button {
    vertical-align: middle;
    margin-right: 16px;
}

.gs_btnDE .gs_ico {
    background-position: -134px 0;
}

.gsc_a_at {
    font-size: 16px;
}

td.gsc_a_c {
    padding: 8px;
    text-align: center;
}

#gsc_a_sp {
    margin-top: 16px;
    height: 25px;
    background: url(/intl/en/scholar/images/spinner.gif) no-repeat 50% 0%;
    padding-bottom: 16px;
    border-bottom: 1px solid #ccc;
}

#gsc_a_err {
    padding: 28px 0;
}

#gsc_lwp {
    margin: 35px 0;
    text-align: center;
}

.gs_btnPL .gs_ico {
    background-position: -148px -66px;
}

#gsc_bpf_more {
    min-width: 200px;
    margin: 0 16px;
}

#gsc_dscl {
    margin: 0 0 8px 0;
    color: #777;
    font-style: italic;
}

.gsc_rsb_s {
    margin: 20px 24px 24px 24px;
    position: relative;
}

.gsc_rsb_h {
    font-weight: bold;
    font-size: 13px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 4px;
    margin-bottom: 4px;
}

.gsc_rsb_a {
    position: relative;
    list-style: none;
}

.gsc_rsb_aa {
    display: block;
    padding: 4px 0;
    line-height: 17px;
}

.gsc_rsb_lc {
    margin-left: 12px;
    font-weight: normal;
}

/* related / popular */
.related {
    background: #222;
    margin-top: 4.25rem;
    color: white;
    padding: .5rem 0 0 1.1rem;
}

.related h3 {
    color: white;
    background: none;
    margin-bottom: 0;
}

.related ul {
    margin-left: 0;
    margin-top: .25rem;
}

.related ul li {
    display: inline-block;
    width: 49%;
    padding-right: 0;
    font-size: .9rem;
    min-width: 7rem;
}

.related ul li a {
    color: white;
    border-bottom: none;
}

.related ul li a:hover {
    text-decoration: underline;
}

.related ul li a:after {
    content: " >";
}

.related ul:after {
    content: " ";
    height: .5rem;
    display: block;
    clear: both;
}

