<div class="metasearch-organism-facet force-scrollbars">
  <!-- Omic types -->
  <h3 class="ng-binding">Show results for</h3>
  <ul class="list-unstyled metasearch-facet-values">
    <li ng-hide="omics_facets_no.Proteomics==0" class="" style="">
      <a href="" ng-class="{'disabled':omics_facets_no.Proteomics==='0'||is_omic_clicked('Proteomics')==='true'}" ng-click="facet_search(result.facets[index_of_facets.omics_type].id, result.facets[index_of_facets.omics_type].facetValues[omicsfacetsindex.Proteomics].value)"><img src="static/images/omics/Proteomics2.png" style="vertical-align: top"><span>  </span><span style="font-size:15px; font-weight:bold">Proteomics</span>
        <small class="ng-binding">
          (7,432)
        </small>
      </a>
    </li>
    <li ng-hide="omics_facets_no.Metabolomics==0" class="">
      <a href="" ng-class="{'disabled':omics_facets_no.Metabolomics==='0'||is_omic_clicked('Metabolomics')==='true'}" ng-click="facet_search(result.facets[index_of_facets.omics_type].id, result.facets[index_of_facets.omics_type].facetValues[omicsfacetsindex.Metabolomics].value)"><img src="static/images/omics/Metabolomics2.png" style="vertical-align: top"><span>  </span><span style="font-size:15px; font-weight:bold">Metabolomics</span>
        <small class="ng-binding">
          (995)
        </small>
      </a>
    </li>
    <li ng-hide="omics_facets_no.Transcriptomics==0" class="">
      <a href="" ng-class="{'disabled':omics_facets_no.Transcriptomics==='0'||is_omic_clicked('Transcriptomics')==='true'}" ng-click="facet_search(result.facets[index_of_facets.omics_type].id, result.facets[index_of_facets.omics_type].facetValues[omicsfacetsindex.Transcriptomics].value)"><img src="static/images/omics/Transcriptomics2.png" style="vertical-align: top"><span>  </span><span style="font-size:15px; font-weight:bold">Transcriptomics</span>
        <small class="ng-binding">
          (67,816)
        </small>
      </a>
    </li>
    <li ng-hide="omics_facets_no.Genomics==0" class="">
      <a href="" ng-class="{'disabled':omics_facets_no.Genomics==='0'||is_omic_clicked('Genomics')==='true'}" ng-click="facet_search(result.facets[index_of_facets.omics_type].id, result.facets[index_of_facets.omics_type].facetValues[omicsfacetsindex.Genomics].value)"><img src="static/images/omics/Genomics2.png" style="vertical-align: top"><span>  </span><span style="font-size:15px; font-weight:bold">Genomics</span>
        <small class="ng-binding">
          (8,136)
        </small>

      </a>
    </li>
    <li ng-hide="omics_facets_no['Multi-Omics']==0" class="">
      <a href="" ng-class="{'disabled':omics_facets_no['Multi-Omics']==='0'||is_omic_clicked('Multi-Omics')==='true'}" ng-click="facet_search(result.facets[index_of_facets.omics_type].id, result.facets[index_of_facets.omics_type].facetValues[omicsfacetsindex['Multi-Omics']].value)"><img src="static/images/omics/Multipleomics2.png" style="vertical-align: top"><span>  </span><span style="font-size:15px; font-weight:bold">Multi-Omics</span>
        <small class="ng-binding">
          (6,979)
        </small>
      </a>
    </li>
  </ul>
</div>
