<script>
    document.title = "OmicsDI Home";
</script>


<div id="page-wrapper" class="container_ddi">
    <div id="" class="row" style="margin:10px"></div>


    <div class="row">

        <div class="col-md-12">
            <div class="ng-scope panel panel-default" style="">
                <h3 style="margin-top:10px"></h3>
                <div AppSearchBox [isHomeSearch]="true"></div>
            </div>
        </div>

        <div class="col-md-4">
        </div>
    </div>

    <div class="row">

        <div class="col-md-4">
            <app-hotwords (notifyHomeLoader)="widgetLoaded($event)" (register)="widgetRegister($event)"></app-hotwords>
        </div>


        <div class="col-md-4">
            <app-tissues-organisms (notifyHomeLoader)="widgetLoaded($event)" (register)="widgetRegister($event)">
            </app-tissues-organisms>
        </div>

        <div class="col-md-4">
            <repos-omics (notifyHomeLoader)="widgetLoaded($event)" (register)="widgetRegister($event)"></repos-omics>
        </div>


    </div>
    <!-- row -->


    <div class="row">
        <div class="col-md-4">
            <app-latest-datasets (notifyHomeLoader)="widgetLoaded($event)" (register)="widgetRegister($event)">
            </app-latest-datasets>
        </div>

        <div class="col-md-4">
            <app-most-accessed (notifyHomeLoader)="widgetLoaded($event)" (register)="widgetRegister($event)">
            </app-most-accessed>
        </div>

        <div class="col-md-4">
            <app-annual-omicstype (notifyHomeLoader)="widgetLoaded($event)" (register)="widgetRegister($event)">
            </app-annual-omicstype>
        </div>
    </div>
    <!--row -->

    <div class="row">

        <div class="col-md-4">
            <app-tweets-news (notifyHomeLoader)="widgetLoaded($event)" (register)="widgetRegister($event)">
            </app-tweets-news>
        </div>

        <div class="col-md-4">
            <app-statistics-panel (notifyHomeLoader)="widgetLoaded($event)" (register)="widgetRegister($event)">
            </app-statistics-panel>
        </div>

        <div class="col-md-4">
            <app-home-about></app-home-about>
        </div>


    </div>
    <!--row -->
</div>
