h4.icon.icon-generic::before {
    color: #bbb !important;
}

/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

@media (min-width: 992px) {
    .panel-row {
        margin-bottom: 20px;
    }
}
