<script>
    document.title = "OmicsDI Home";
</script>


<div class="container_ddi">
    <div id="" class="row" style="margin:10px"></div>


    <div class="row panel-row">
        <div class="col-md-12">
            <div class="ng-scope panel panel-default" style="">
                <h3 style="margin-top:10px"></h3>
                <div app-search-box [isHomeSearch]="true" class="home-search"></div>
            </div>
        </div>
        <div class="col-md-12"></div>
    </div>

    <div class="row panel-row">

        <div class="col-md-4 col-sm-12 col-xs-12">
            <app-hotwords></app-hotwords>
        </div>


        <div class="col-md-4 col-sm-12 col-xs-12">
            <app-tissues-organisms></app-tissues-organisms>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12">
            <app-repos-omics></app-repos-omics>
        </div>


    </div>
    <!-- row -->


    <div class="row panel-row" style="margin-top: 20px">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <app-latest-datasets></app-latest-datasets>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12">
            <app-most-accessed></app-most-accessed>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12">
            <app-annual-omicstype></app-annual-omicstype>
        </div>
    </div>
    <!--row -->

    <div class="row panel-row" style="margin-top: 20px">

        <div class="col-md-4 col-sm-12 col-xs-12">
            <app-tweets-news></app-tweets-news>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12">
            <app-statistics-panel></app-statistics-panel>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12">
            <app-home-about></app-home-about>
        </div>


    </div>
    <!--row -->
</div>
