<div class="container_ddi">
    <div id="" class="row" style="margin:10px"></div>


    <div class="row">
        <div class="col-md-12">
            <div class="ng-scope panel panel-default" style="">
                <h3 style="margin-top:10px"></h3>
                <div app-search-box [isHomeSearch]="true" class="home-search"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="vf-u-fullbleed vf-u-background-color-ui--grey--light">
                <div
                        class="vf-banner vf-banner--alert vf-banner--info"
                        style="margin-top: 0.313rem;">
                    <div class="vf-banner__content" style="padding-left: 0.938rem;padding-right: 0.938rem; text-align: center;">

                        <p class="vf-banner__text">Do data resources managed by EMBL-EBI and our collaborators make a difference to your work?
                            <br>Please take 10 minutes to fill in our annual user survey, and help us make the case for why sustaining open data resources is critical for life sciences research.
                            <br> Survey link:
                            <a class="vf-banner__link" href="https://www.surveymonkey.com/r/HJKYKTT?channel=OmicsDI" target="_blank"  >https://www.surveymonkey.com/r/HJKYKTT?channel=OmicsDI</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row panel-row">

        <div class="col-md-4 col-sm-12 col-xs-12">
            <app-hotwords></app-hotwords>
        </div>


        <div class="col-md-4 col-sm-12 col-xs-12">
            <app-tissues-organisms></app-tissues-organisms>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12">
            <app-repos-omics></app-repos-omics>
        </div>


    </div>
    <!-- row -->


    <div class="row panel-row">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <app-latest-datasets></app-latest-datasets>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12">
            <app-most-accessed></app-most-accessed>
        </div>

        <div *ngIf="topDomainIsOmicsDI" class="col-md-4 col-sm-12 col-xs-12">
            <app-annual-omicstype></app-annual-omicstype>
        </div>
    </div>
    <!--row -->

    <div class="row panel-row">

        <div class="col-md-4 col-sm-12 col-xs-12">
            <app-tweets-news></app-tweets-news>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12">
            <app-statistics-panel></app-statistics-panel>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12">
            <app-home-about></app-home-about>
        </div>


    </div>
    <!--row -->
</div>
<ngx-json-ld [json]="schema" *ngIf="schema"></ngx-json-ld>