<div class="panel panel-default" style="min-height:260px; height:100%;">
    <div id="About" class="" style="font-size: 13px">
        <h4 data-icon="N" class="icon icon-generic">
            About
        </h4>
        <div class="callout-info ddi-blockquote">The Omics Discovery Index (OmicsDI) provides a Knowleage Discovery
            framework across a heterogeneous data (genomics, proteomics,
            trascriptomics and metabolomics).
            <a href="http://blog.omicsdi.org">Read More</a>.
        </div>

        <div class="callout-info ddi-blockquote">OmicsDI project has been developed on <a
                href="https://github.com/BD2K-OmicsDI/" target="_blank">GitHub</a>, you can
            check or contribute to our development at (<a href="https://github.com/BD2K-OmicsDI/"
                                                          target="_blank">here</a>)
        </div>

        <div class="callout-info ddi-blockquote">The frontend page is based on the
            <a href="https://angular.io/">Angular</a>,
            <a href="https://d3js.org/">D3.js</a>
        </div>

    </div>
    <div>
    </div>
</div>
