<div class="mt-card" id="home-about" style="margin-top: 0; height: 100%">
    <div class="mt-card-header">
        <h4 class="mt-card-title" style="margin-left: 5px">
            About
        </h4>
    </div>
    <div class="mt-card-body">
        <div *ngIf="topDomainIsOmicsDI" class="callout-info ddi-blockquote">The Omics Discovery Index (OmicsDI) provides a knowledge discovery framework across heterogeneous omics data
            (genomics, proteomics, transcriptomics and metabolomics).
            <a href="http://blog.omicsdi.org" target="_blank">Read More.</a> 
       </div>
        <div *ngIf="!topDomainIsOmicsDI" class="callout-info ddi-blockquote">ModeleXchange provides a common discovery platform for systems biology models from multiple repositories.
            <a href="http://blog.omicsdi.org" target="_blank">Read More.</a>
        </div>

        <div *ngIf="topDomainIsOmicsDI" class="callout-info ddi-blockquote" style="padding-bottom: 0; margin-bottom: 0">
            <h5 style="font-weight: 300; margin: 0 0 10px 0; padding: 0">Publications</h5>
            <ul style="list-style-type: inherit; margin-left: 5px">
                <li>
                    <p>
                        Perez-Riverol Y, et al. Discovering and linking public omics data sets using
                        the Omics Discovery Index. Nat Biotechnol. 2017 May 9;35(5):406-409. doi:
                        <a href="https://doi.org/10.1038/nbt.3790" target="_blank">https://doi.org/10.1038/nbt.3790</a>.
                    </p>
                </li>
                <li>
                    <p>
                        Perez-Riverol Y, et al. Quantifying the impact of public omics data. Biorxiv.
                        <a href="https://doi.org/10.1101/282517" target="_blank">https://doi.org/10.1101/282517</a>.
                    </p>
                </li>
            </ul>
        </div>

        <div class="callout-info ddi-blockquote" style="padding-top: 0; margin-top: 0">{{this.title}} project has been developed on <a
                href="https://github.com/OmicsDI" target="_blank">GitHub</a>, you can
            check or contribute to our development <a href="https://github.com/OmicsDI"
                                                      target="_blank">here</a>.
        </div>

        <div class="callout-info ddi-blockquote">The frontend is based on
            <a href="https://angular.io/">Angular</a>,
            <a href="https://d3js.org/">D3.js</a>.
        </div>
    </div>
</div>
