
<script >
    document.title = "OmicsDI About";
</script>

        <div id="content" class="row" style="margin: 25px">
            <h2 id="rest-api" class="icon icon-generic" data-icon="i">
                About Omics Discovery Index
            </h2>

            <div class="help-content">
                <p>
                    The Omics Discovery Index (OmicsDI) provides dataset discovery across a heterogeneous, distributed
                    group of Genomics, Proteomics and Metabolomics data resources spanning eight repositories in three
                    continents and six organisations, including both open and controlled access data resources. The
                    resource provides a short description of every dataset: accession, description, sample/data
                    protocols biological evidences, publication, etc. The search capabilities offer a unique resource to
                    search for omics datasets. This fact converts the OmicsDI in the first resource worldwide to provide
                    search capabilities through multi-omics experiments.

                </p>
            </div>

            <!--<h3 id="publication">Publications / how to cite</h3>-->
            <!--<div class="help-content">-->
            <!--<blockquote>-->
            <!---->
            <!--</blockquote>-->
            <!--</div>-->

            <h3 id="team">The team</h3>

            <div class="help-content">
                <p>
                    OmicsDI development team is part of the EMBL-EBI Proteomics Services, led by <a
                        href="http://www.ebi.ac.uk/about/people/henning-hermjakob" target="_blank">Henning Hermjakob</a>.
                    The OmicsDI team currently consists
                    of software developers, biocurators, trainees/visitors and one project coordinator.
                </p>

                <p>
                    The main contributors to the OmicsDI project include:
                <ul>
                    <li>Yasset Perez-Riverol</li>
                    <li>Mingze Bai</li>
                    <li>Rui Wang</li>
                    <li>Tobias Ternent</li>
                    <li>Noemi del Toro</li>
                    <li>Juan Antonio Vizcaino</li>
                </ul>
                </p>
            </div>

            <h3 id="acknowledgement">Acknowledgement</h3>

            <div class="help-content">
                <p>
                    The OmicsDI team would like to thank all data submitters/collaboration databases for their contributions.
                </p>
                <p>
                    OmicsDI is supported by <img src="img/help/funded-by-nih.png"/>  through the NIH Big Data to Knowledge, Grant <a href="http://projectreporter.nih.gov/project_info_description.cfm?aid=8910929&icde=22003400" target="_blank">1U54GM114833-01.</a>
                </p>

                <p>
                </p>

                <p>
                    The OmicsDI team would like to thank the following companies and organisations for their support
                    through the offering of free software licenses:

                <ul>
                    <li><a href="https://www.jetbrains.com/" target="_blank">JetBrains</a> for the most intelligent Java
                        IDE - <a href="https://www.jetbrains.com/idea/index.html" target="_blank">IntelliJ IDEA</a>.
                    </li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</div>

