<script >
document.title = "OmicsDI Profile";
</script>
        <div id="content" class="row" style="margin: 10px">
            <div class="col-md-9" role="main">

                <h1 id="overview">
                    <i class="fa fa-book"></i>Omics DI profile
                </h1>
            </div>
          <div>
            my profile
          </div>

          <div>
            <br/>
            my picture <img src="{{userProfile.Name}}" height="100" width="100" />
            <br/><br/><br/>
            my name {{userProfile.Name}}
            <br/><br/><br/>
            my orcid {{userProfile.Orcid}}
          </div>

        </div>
<!--wrapper-->




