<span>
    <div class="score" style="background-color: #3B5797; color: white;" [tooltip]="'Views'"><i class="fa fa-eye" aria-hidden="true"></i> <strong>35</strong></div>
    <div class="score" style="background-color: #44A9ED; color: white;" [tooltip]="'Citations'"><i class="fa fa-quote-left" aria-hidden="true"></i> <strong>5</strong></div>
     <div class="score" style="background-color: #DC4F3A; color: white;" [tooltip]="'Reanalisys'"><i class="fa fa-desktop" aria-hidden="true"></i> <strong>22</strong></div>
    <div class="score" style="background-color: #BF3024; color: white;" [tooltip]="'Connections'" ><i class="fa fa-th" aria-hidden="true"></i> <strong>0</strong></div>
</span>
