<span>
    <div class="score score-views" [tooltip]="'Views'"><i class="fa fa-eye" aria-hidden="true"></i> <strong>35</strong></div>
    <div class="score score-citations" [tooltip]="'Citations'"><i class="fa fa-quote-left" aria-hidden="true"></i> <strong>5</strong></div>
    <div class="score score-reanalysis" [tooltip]="'Reanalisys'"><i class="fa fa-code-fork" aria-hidden="true"></i> <strong>22</strong></div>
    <div class="score score-connections"  [tooltip]="'Connections'" ><i class="fa fa-th" aria-hidden="true"></i> <strong>0</strong></div>
</span>
