<div id="statisticspanel" class="panel panel-default" style="min-height:260px; height:100%;">



  <div class="">
    <h4 class="icon icon-functional " data-icon="z"> Statistics</h4>
  </div>


    <!-- p *ngFor="let statisticdata of statisticsList " style="margin:8px">
      {{statisticdata.value|number}} {{statisticdata.name}}
    </p -->

<div style="padding:10px;">

<div class="row">
  <div class="col-lg-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-5" style="display:block; min-width:50px">
            <i class="fa fa-server fa-3x"></i>
          </div>
          <div class="col-xs-7 text-right">
            <div class="huge-smaller">{{repositories}}</div>
            <div>Repositories</div>
          </div>

        </div>

      </div>
      <!-- a href="#">
        <div class="panel-footer">
          <span class="pull-left">View repositories</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a -->
    </div>
  </div>

  <div class="col-lg-4">

    <div class="panel panel-green">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-5" style="display:block; min-width:50px">
            <i class="fa fa-fw fa-bar-chart fa-3x"></i>
          </div>
          <div class="col-xs-7 text-right">
            <div class="huge-smaller">{{datasets}}</div>
            <div>Datasets</div>
          </div>
        </div>
      </div>
      <!-- a href="#">
        <div class="panel-footer">
          <span class="pull-left">Browse datasets</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a -->
    </div>

  </div>

  <div class="col-lg-4">
    <div class="panel panel-yellow">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-5" style="display:block; min-width:50px">
            <i class="fa fa-heartbeat fa-3x"></i>
          </div>
          <div class="col-xs-7 text-right">
            <div class="huge-smaller">{{diseases}}</div>
            <div>Diseases</div>
          </div>
        </div>
      </div>
      <!--  href="#">
        <div class="panel-footer">
          <span class="pull-left">Search diseases</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a -->
    </div>
  </div>
</div>
<div class="row">

  <div class="col-lg-4">
    <div class="panel panel-red">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-5" style="display:block;  min-width:50px">
            <i class="fa fa-male fa-3x"></i>
          </div>
          <div class="col-xs-7 text-right">
            <div class="huge-smaller">{{tissues}}</div>
            <div>Tissues</div>
          </div>
        </div>
      </div>
      <!-- a href="#">
        <div class="panel-footer">
          <span class="pull-left">Search Tissues</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a -->
    </div>
  </div>

  <div class="col-lg-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-5" style="display:block;  min-width:50px; ">
            <div>
            <i class="icon icon-conceptual" data-icon="o" id="species_icon"></i>
            </div>
            <!--i class="fa fa-paw fa-4x"></i-->
          </div>
          <div class="col-xs-7 text-right">
            <div class="huge-smaller">{{organisms}}</div>
            <div>Species</div>
          </div>
        </div>
      </div>
      <!-- a href="#">
        <div class="panel-footer">
          <span class="pull-left">Search Species</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a -->
    </div>
  </div>

  <div class="col-lg-4">

    <div class="panel panel-green">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-5" style="display:block;  min-width:50px">
            <i class="fa fa-fw fa-user-circle fa-3x" style="display:block;"></i>
          </div>
          <div class="col-xs-7 text-right">
            <div class="huge-smaller">{{users}}</div>
            <div>Users</div>
          </div>
        </div>
      </div>
      <!-- a href="#">
        <div class="panel-footer">
          <span class="pull-left">Sign Up to join!</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a -->
    </div>

  </div>

</div>
</div>

</div>