  <div class="gsc_rsb_s" id="gsc_rsb_co" style="padding-top:60px;"><h3 class="gsc_rsb_h">Add co-authors
  </h3>
    <ul class="gsc_rsb_a">
      <li *ngFor="let author of profileService.coauthors"><span class="gsc_rsb_aa"><a href="#">{{author.userName}}</a></span>
        &nbsp;<a (click)="add(author)">add</a>
      </li>
    </ul>
  </div>

  <div class="gsc_rsb_s" id="gsc_rsb_co" style="padding-top:20px;"><h3 class="gsc_rsb_h">Co-authors
  </h3>
    <ul class="gsc_rsb_a">
      <li *ngFor="let author of profile.coauthors"><span class="gsc_rsb_aa"><a href="#">{{author.userName}}</a></span>
        &nbsp;<a (click)="remove(author.userId)">remove</a>
      </li>
    </ul>
  </div>



