<div style="width:80%; margin-left:auto; margin-right: auto;">
<div class="caption">{{this.profiles.length}} profiles created


</div>

<div *ngFor="let u of this.profiles" style="display: block; padding:10px;">

  <table>
    <tr>
      <td style="width:160px;">
  <img
    [src]="this.appConfig.getProfileImageUrl(u.userId)"
    width="150"
    id="gsc_prf_pup"
    style="width:150px;">
    </td>
    <td>

  <div style="font-size: larger; font-weight: bold;">{{u.userName}}</div>
  {{u.bio}}

      <app-profile-contacts [profile]="u"></app-profile-contacts>
    </td>
  </tr>
  </table>

</div>

</div>
