<div class="hidden-lg" AppSearchBoxSearch style="width:100%; padding-bottom: 20px;"></div>
<app-search-total></app-search-total>

<div class="row">
<div class="col-lg-2 col-md-3 col-sm-4 hidden-xs metasearch-facets">
  <div style="vertical-align: top; border:none;"><app-search-facet></app-search-facet></div>
</div>
<div class="col-lg-10 col-md-9 col-sm-8 col-xs-12  metasearch-results" style="border-left: none;">



  <app-search-pager></app-search-pager>
  <app-search-result></app-search-result>
  <app-search-pager *ngIf="dataLoaded()"></app-search-pager>
  <app-feedback *ngIf="dataLoaded()"></app-feedback>
</div>

</div>
