<app-search-total></app-search-total>
<app-search-query></app-search-query>
<div class="col-md-3 col-sm-4 hidden-xs metasearch-facets" style="width:300px;">
  <div style="vertical-align: top; border:none; min-width: 300px; max-width: 300px;"><app-search-facet></app-search-facet></div>
</div>
<div class="col-md-9 col-sm-8 col-xs-12  metasearch-results" style="border-left: none; width:800px;">




  <app-search-result></app-search-result>
  <app-search-pager></app-search-pager>
  <app-feedback *ngIf="dataLoaded()"></app-feedback>
</div>

<simple-notifications [options]="simpleNotificationsOptions"></simple-notifications>
