<table style="border:none;">
  <td style="vertical-align: top; border:none; min-width: 300px;">
    <app-profile-info></app-profile-info>
    <app-profile-coauthors></app-profile-coauthors>
    <app-profile-connections></app-profile-connections>
  </td>
  <td style="vertical-align: top; border:none;">
    <!---

    --->
    <div style="float:right; padding-right: 20px;">
    <app-delete-all-button></app-delete-all-button>
    </div><br/><br/>
    <app-profile-pager></app-profile-pager>
    <app-profile-result></app-profile-result>

  </td>
  <tr>

  </tr>
</table>
