<div id="gs_top">
  <div id="gsc_bdy">
    <div class="gsc_lcl" role="main" id="gsc_prf_w">
      <div id="gsc_prf" class="gs_scl">
        <div id="gsc_prf_pu" style="text-align: center;">

          <img
            [src]="this.profileImageUrl"
            sizes="print 52px,(max-width:599px) 49px,(max-width:981px) 65px,98px"
            id="gsc_prf_pup">
          <form method="post" enctype="multipart/form-data"
                action="#"
                id="gsc_prf_puf">



            <div style="text-align: center;">
            <input type="file" id="file" name="file" ng2FileSelect [uploader]="uploader" (change)="fileChangeEvent($event)" class="inputfile" />
            <label for="file">change photo</label>
            </div>

          </form>

        </div>

        <div id="gsc_prf_i">
          <div id="gsc_prf_ib">
            <div id="gsc_prf_ibi">
              <button (click)="editClicked()" *ngIf="!editMode"  type="button" id="gsc_prf_btne" aria-controls="gsc_prf_e"
                      class="gs_btnC gs_in_ib gs_btn_hph"><span class="gs_wr"><span
                class="gs_lbl">Edit</span><span class="gs_ico"></span></span></button>
            </div>
          </div>
          <!-- ##################### View Mode ############################ -->
          <div *ngIf="!editMode">
          <div id="gsc_prf_in">{{profileX.userName}}</div>
          <div class="gsc_prf_il">{{profileX.affiliation}}</div>
          <div class="gsc_prf_il">{{profileX.bio}}</div>
          <div class="gsc_prf_il">{{profileX.orcid}}</div>
          </div>

          <!-- ##################### Edit Mode ############################# -->
          <form *ngIf="editMode" id="gsc_prf_ef">
            <div class="gsc_prf_el">Name</div>
            <div  class="gsc_prf_ev">
              <div [formGroup]="form" class="gs_in_txtf">
                <input
                       [(ngModel)]="profileX.userName"
                       type="text"
                       class="gs_in_txt"
                       name="userName"
                       maxlength="250"
                       formControlName="name">
                <div class="gs_in_txts gs_gray"></div>
              </div>
            </div>
            <div class="gsc_prf_el">Orcid ID</div>
            <div class="gsc_prf_ev">
              <div class="gs_in_txtf">
                <input
                  [(ngModel)]="profileX.orcid"
                  type="text"
                  class="gs_in_txt"
                  name="orcid"
                  maxlength="250" autocapitalize="off">
                <div class="gs_in_txts gs_gray"></div>
              </div>
            </div>
            <div class="gsc_prf_el">Affiliation</div>
            <div class="gsc_prf_ev">
              <div class="gs_in_txtf">
                  <input
                        [(ngModel)]="profileX.affiliation"
                         type="text"
                         class="gs_in_txt"
                         name="affiliation"
                         maxlength="250" autocapitalize="off">
                <div class="gs_in_txts gs_gray"></div>
              </div>
            </div>
            <div class="gsc_prf_el">Primary email</div>
            <div class="gsc_prf_ev">
              <div class="gs_in_txtf">
                  <input type="text" class="gs_in_txt"
                         [(ngModel)]="profileX.email"
                         name="email"
                         maxlength="250" autocapitalize="off" autocorrect="off">
                <div class="gs_in_txts gs_gray"></div>
              </div>
            </div>
            <div class="gsc_prf_el">Homepage</div>
            <div class="gsc_prf_ev">
              <div class="gs_in_txtf">
                  <input type="text" class="gs_in_txt" name="homepage"
                       [(ngModel)]="profileX.homepage"
                       maxlength="250"
                       autocapitalize="off" autocorrect="off">
                <div class="gs_in_txts gs_gray"></div>
              </div>
            </div>
            <div class="gsc_prf_el">Bio</div>
            <div class="gsc_prf_ev">
              <div class="gs_in_txtf">
                    <textarea [(ngModel)]="profileX.bio"
                              style="height:100px;"
                              class="gs_in_txt"
                              name="bio"></textarea>
                <div class="gs_in_txts gs_gray"></div>
              </div>
            </div>
            <div id="gsc_prf_ep"><span class="gs_in_cb">
                <input [(ngModel)]="profileX.isPublic" type="checkbox" name="isPublic" id="gsc_prf_p"
                       value="1" checked=""><label for="gsc_prf_p">Make my profile public</label><span
              class="gs_chk"></span><span class="gs_cbx"></span></span></div>
            <div id="gsc_prf_eb">
              <button (click)="submitClicked()" type="submit" id="gsc_prf_ebs" name="save_profile_btn" class=" gs_btn_act">
                <span class="gs_wr">
                <span class="gs_lbl">Save</span>
                <span class="gs_bsc">
                <span class="gs_bs"></span></span></span>
              </button>
              <button (click)="cancelClicked()" type="button" id="gsc_prf_btni" aria-controls="gsc_prf_i" class="">
                <span class="gs_wr"><span class="gs_lbl">Cancel</span></span>
              </button>
            </div>
          </form>


        </div>
      </div>

    </div>
    <div id="gsc_rsb" role="navigation">

      <div class="gsc_rsb_s" id="gsc_rsb_co"><h3 class="gsc_rsb_h">Co-authors<a class="gsc_rsb_lc"
                                                                                href="#">Edit…</a>
      </h3>
        <ul class="gsc_rsb_a">
          <li><span class="gsc_rsb_aa"><a href="#">Enio Morricone</a></span></li>
          <li><span class="gsc_rsb_aa"><a href="#">Bruce Willis</a></span></li>
          <li><span class="gsc_rsb_aa"><a href="#">Bill Gates</a></span></li>
          <li><span class="gsc_rsb_aa"><a href="#">Jethro Tull</a></span></li>
          <li class="gsc_rsb_fade"></li>
        </ul>
      </div>
    </div>

    <div id="gsc_rsb" role="navigation" style="top:200px;">
      <div class="gsc_rsb_s" id="gsc_rsb_co"><h3 class="gsc_rsb_h">Social connections
      </h3>
        <ul class="gsc_rsb_a">
          <li><span class="gsc_rsb_aa"><img src="assets/orcid.gif"/>&nbsp;<a href="#">Orcid</a>
            <span *ngIf="orcidConnected">&nbsp;&nbsp;&nbsp;&nbsp;<img src="/assets/link.png"></span>
          </span></li>
          <li><span class="gsc_rsb_aa"><img src="assets/elixir.gif"/>&nbsp;<a href="#">Elixir</a></span></li>
          <li><span class="gsc_rsb_aa"><img src="assets/facebook.gif"/>&nbsp;<a href="#">Facebook</a>
            <span *ngIf="facebookConnected">&nbsp;&nbsp;&nbsp;&nbsp;<img src="/assets/link.png"></span>
          </span></li>
          <li><span class="gsc_rsb_aa"><img src="assets/twitter.gif"/>&nbsp;<a href="#">Twitter</a></span></li>
          <li class="gsc_rsb_fade"></li>
        </ul>
      </div>
    </div>


    <div class="gsc_lcl" role="complementary" id="gsc_art">
        <table id="gsc_a_t">
          <thead id="gsc_a_hd">
          <tr id="gsc_a_tr0" aria-hidden="true">
            <th class="gsc_a_x"></th>
            <th class="gsc_a_t" id="gsc_a_tr0_t"></th>
            <th class="gsc_a_c" style="width:150px;"></th>
            <th class="gsc_a_y" style="width:120px;"></th>
          </tr>
          <tr id="gsc_a_trh">
            <th class="gsc_a_x" scope="col"><span><input [checked]="isAllChecked()" (change)="checkAll($event)" style="opacity:100; left:7px; position:relative;" type="checkbox"></span></th>
            <th class="gsc_a_t" id="gsc_a_trh_t" scope="col"><span id="gsc_a_ta"><a
              href="#"
              class="gsc_a_a">Title</a></span>

              <button type="submit" name="trash_btn" class="gs_btnDE gs_in_ib gs_btn_cph" (click)="deleteSelected()"><span class="gs_wr"><span class="gs_lbl">Delete</span><span class="gs_ico"></span></span></button>

              </th>
            <th class="gsc_a_c" style="width:150px; text-align: center;" scope="col">Source</th>
            <th class="gsc_a_y" style="width:120px; text-align: center;" scope="col">Claimed</th>
          </tr>
          </thead>
          <tbody id="gsc_a_b">
          <tr class="gsc_a_tr" *ngFor="let item of dataSetDetails; let i = index;" >
            <td style="width:60%"><span class="gs_in_cb" style="left:7px;"><input type="checkbox" [(ngModel)]="item.state"><span class="gs_chk"></span>
              <span class="gs_cbx"></span></span></td>
            <td class="gsc_a_t"><a href="/dataset/{{item.repository}}/{{item.id}}" class="gsc_a_at">{{item.name}}</a>

              <div class="gs_gray">{{item.organization}}
              </div>
            </td>
            <td class="gsc_a_c" style="width:150px;">{{item.id}}<a href="{{item.databaseUrl}}" class="gsc_a_ac"><br/>{{item.source}}</a></td>
            <td class="gsc_a_y" style="width:120px;"><span class="gsc_a_h">{{item.claimed}}</span></td>
          </tr>
          </tbody>
        </table>
        <div id="gsc_a_sp" style="display:none"></div>
        <div id="gsc_a_err" class="gs_alrt" style="display:none">The system can't perform the operation now. Try
          again later.
        </div>
        <div id="gsc_lwp">
          <div id="gsc_bpf">
            <button type="button" id="gsc_bpf_prev" aria-label="Previous" disabled="disabled"
                    class="gs_btnPL gs_in_ib gs_btn_half gs_btn_slt gs_dis"><span class="gs_wr"><span
              class="gs_lbl"></span><span class="gs_ico gs_ico_dis"></span></span></button>
            <button type="button" id="gsc_bpf_more" disabled="disabled" class=" gs_btn_smd gs_dis"><span
              class="gs_wr"><span class="gs_lbl">Show more</span></span></button>
            <button type="button" id="gsc_bpf_next" aria-label="Next" disabled="disabled"
                    class="gs_btnPR gs_in_ib gs_btn_half gs_btn_srt gs_dis"><span class="gs_wr"><span
              class="gs_lbl"></span><span class="gs_ico gs_ico_dis"></span></span></button>
          </div>
        </div>
    </div>

    <div class="gsc_lcl">
      <div id="gs_ftr" role="contentinfo">
        <div id="gsc_dscl">Dates and citation counts are estimated and are determined automatically by a
          super computer program.
        </div>
    </div>
  </div>
</div>
<div id="gs_rdy"></div>

