 <div class="input-field col s12">
    <input id="country" type="text" class="validate filter-input" [(ngModel)]=query (keyup)=filter() style="width:80%">
    <label for="country">Search String</label>
  </div>
  <div class="suggestions" *ngIf="filteredList.length > 0">
    <ul *ngFor="let item of filteredList" >
      <li >
        <a (click)="select(item)">{{item}}</a>
      </li>
    </ul>
  </div>
  <div *ngFor="let item of selected">
    <div class="selected" >
      <span>{{item}}</span>
      <a (click)="remove(item)">x</a>
    </div>
  </div>

 <div class="left">
   <label>
     <input id="local-searchbox" name="geneQuery" maxlength="900" class="json-tag-editor-hidden-src"><ul class="json-tag-editor ui-sortable"><li style="width:1px" class="ui-sortable-handle">&nbsp;</li><li class="placeholder"><div>Enter gene query...</div></li></ul>
   </label>
 </div>


