<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="align-top">
            <div class="col-lg-6 col-xs-12 col-sm-12 col-md-6" style="padding: 0">
                <div class="caption">Selected Datasets</div>
            </div>
            <div class="col-lg-6 col-xs-12 col-sm-12 col-md-6" style="padding: 0; margin-bottom: 20px">
                <div *ngIf="dataSets && dataSets.length > 0" style="float: right; position:relative; top: 15px;">

                    <a id="downloadAnchorElem" style="display:none"></a>

                    <div class="score"
                         style="background-color: #FFF; color: black; border: dotted 1px black; cursor:pointer;"
                         (click)="download();">
                        <i class="fa fa-cloud-download" aria-hidden="true"></i>
                        <span> Download IDs</span>
                    </div>

                    <div class="score"
                         style="background-color: #FFF; color: black; border: dotted 1px black; cursor:pointer;"
                         (click)="claimClick();">
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                        <span> Claim All</span>
                    </div>

                    <div class="score"
                         style="background-color: #FFF; color: black; border: dotted 1px black; cursor:pointer;"
                         (click)="watchClick();">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <span> Watch All</span>
                    </div>

                    <div class="score"
                         style="background-color: #FFF; color: black; border: dotted 1px black; cursor:pointer;"
                         (click)="deleteClick();">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        <span> Delete All</span>
                    </div>
                </div>
            </div>
            <div style="clear: both"></div>
        </div>

        <div *ngIf="dataSets && dataSets.length == 0" style="text-align:center; position: fixed; top: 50%; left:50%;">
            no datasets selected, please <a [routerLink]="['/search']">browse</a> and select some
        </div>


        <div>
            <div *ngFor="let d of dataSets | paginate: { itemsPerPage: 10, currentPage: p };">

                <app-datasetwidget [observableDataset]="getDataset(d.id, d.source)" (buttonClicked)="this.remove(d.source,d.id)" [profile]="profile"
                                   [databases]="databases" [allowSelect]="false" [watchedDatasets]="watchedDatasets">
                </app-datasetwidget>


            </div>
        </div>
        <pagination-controls (pageChange)="p = $event"
                             previousLabel=""
                             nextLabel=""
                             *ngIf="this.dataSets && this.dataSets.length > 10"
                             class="my-pagination">
        </pagination-controls>
    </div>
</div>
