<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" ng-app="ddiApp" id="ng-app" xmlns:ng="http://angularjs.org" class="js flexbox canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths ng-scope">
<head>
    <style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}
    </style>
        <meta charset="utf-8">
        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
        <meta content="width=device-width" name="viewport">
        <meta content="DDI is a integrate resource to multiple omics repositories, including Proteomics, Metabolomics and Genomics" name="description">


        <title>Search: DDI</title>

        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link type="text/css" href="css/ebi-global.css" rel="stylesheet">
        <link type="text/css" href="css/ebi-visual.css" rel="stylesheet">
        <link type="text/css" href="css/ddi.css" rel="stylesheet">
        <link type="text/css" href="css/prider.css" rel="stylesheet">
        <link type="text/css" href="css/main.css" rel="stylesheet">
        
        <!-- Favicons -->
        <link type="image/x-icon" href="static/img/icons/favicon.ico" rel="shortcut icon">
        <link href="static/img/icons/apple-touch-icon.png" rel="apple-touch-icon">
        <link href="static/img/icons/apple-touch-icon-57x57.png" sizes="57x57" rel="apple-touch-icon">
        <link href="static/img/icons/apple-touch-icon-60x60.png" sizes="60x60" rel="apple-touch-icon">
        <link href="static/img/icons/apple-touch-icon-72x72.png" sizes="72x72" rel="apple-touch-icon">
        <link href="static/img/icons/apple-touch-icon-76x76.png" sizes="76x76" rel="apple-touch-icon">
        <link href="static/img/icons/apple-touch-icon-114x114.png" sizes="114x114" rel="apple-touch-icon">
        <link href="static/img/icons/apple-touch-icon-120x120.png" sizes="120x120" rel="apple-touch-icon">
        <link href="static/img/icons/apple-touch-icon-144x144.png" sizes="144x144" rel="apple-touch-icon">
        <link href="static/img/icons/apple-touch-icon-152x152.png" sizes="152x152" rel="apple-touch-icon">
    
        
</head>

<body class="level2">
<div class="container rnacentral-masthead">
<div class="masthead grid_24" id="global-masthead">    

     <a title="Go to the EMBL-EBI homepage" href="//www.ebi.ac.uk/"><img alt="EMBL European Bioinformatics Institute" src="//www.ebi.ac.uk/web_guidelines/images/logos/EMBL-EBI/EMBL_EBI_Logo_white.png">
     </a>
    <nav>
        <ul id="global-nav">
                    <!-- set active class as appropriate -->
            <li class="first active" id="services"><a title="Services" href="//www.ebi.ac.uk/services">Services</a></li>
            <li class="" id="research"><a title="Research" href="//www.ebi.ac.uk/research">Research</a></li>
            <li class="" id="training"><a title="Training" href="//www.ebi.ac.uk/training">Training</a></li>
            <li class="" id="industry"><a title="Industry" href="//www.ebi.ac.uk/industry">Industry</a></li>
            <li class=" last" id="about"><a title="About us" href="//www.ebi.ac.uk/about">About us</a></li>
        </ul>
   </nav>

</div>
</div>

<div class="navbar navbar-default navbar-static-top">
<div class="container rnacentral-masthead">

    <!-- global-search -->
    <div class="row">
      <div class="col-md-4">
        <a href="/"><img class="rnacentral-header-logo" alt="DDI logo" src="static/img/logo/DDI_logo_ltgrey.png"></a>
      </div>

      <div ng-controller="QueryCtrl" class="col-md-8 ng-scope">
         <form novalidate name="queryForm" class="global-search" ng-submit="submit_query()">
             <fieldset>
                 <div class="form-group" ng-class="(query.submitted && queryForm.$invalid) ? 'has-error' : ''">
                     <div class="input-group">
                         <input type="text"
                         placeholder="organism, repository, gene, tissue, accession"
                         class="form-control"
                         id="query-text"
                         name="text"
                         tabindex="1"
                         ng-model="query.text"
                         ng-minlength="2"
                         ng-maxlength="1000"
                         autocomplete="off"
                         required>
                         <div class="input-group-btn">
                             <button type="submit" class="btn btn-primary">
                                 <i class="fa fa-search"></i> Search
                             </button>
                         </div><!-- /input-group-btn -->
                     </div><!--input-group -->
                     <span class="help-block example-searches">
                         <small>
                             <i>
                                 Examples:
                                 <a href="" rel="nofollow" ng-click="meta_search('cancer')">cancer</a>,
                                 <a href="" rel="nofollow" ng-click="meta_search('TAXONOMY:&quot;9606&quot;')">Homo sapiens</a>,
                                 <a href="" rel="nofollow" ng-click="meta_search('mirbase')">miRBase</a>,
                                 <a href="" rel="nofollow" ng-click="meta_search('HOTAIR')">HOTAIR</a>,
                                 <a href="" rel="nofollow" ng-click="meta_search('Escherichia*')">Escherichia*</a>
                             </i>
                         </small>
                     </span>
                     <label class="control-label ng-cloak has-error"
                         for="query-text" ng-show="query.submitted && (queryForm.text.$error.required || queryForm.text.$error.minlength)"
                         ng-cloak>
                         Your query is too short
                     </label>
                     <label class="control-label ng-cloak"
                         for="query-text" ng-show="query.submitted && (queryForm.text.$error.maxlength)"
                         ng-cloak>
                         Your query is too long
                     </label>
                 </div><!-- /form-group -->
             </fieldset>
         </form><!-- /form -->
    </div><!--/controller-->
    </div><!-- /row -->

</div> <!-- /container-->
</div> <!-- /navbar-->


<div class="masthead grid_24 nomenu" id="local-masthead">
    <nav>
        <ul id="local-nav" class="grid_24">
            <li class=" first" id="home-menu"><a title="Home" href="http://localhost:8000/app/">Home</a></li>
            <li class="" id="browse-menu"><a title="Browse" href="http://localhost:8000/app/browse.html#/search?q=*:*">Browse</a></li>
            <li class="" id="api-menu"><a title="DDI API" href="http://localhost:9091/">API</a></li>
            <li class="" id="help-menu"><a title="DDI help" href="http://localhost:8000/app/help/">Help</a></li>
            <li class=" last" id="about-prider-menu"><a title="About DDI" href="http://localhost:8000/app/help/about">About DDI</a></li>
            <!-- If you need to include functional (as opposed to purely navigational) links in your local menu,
            add them here, and give them a class of "functional". Remember: you'll need a class of "last" for
            whichever one will show up last...
            For example: -->
            <li class="functional last"><a data-icon="\" class="icon icon-static" href="http://www.ebi.ac.uk/support/index.php?query=pride">Feedback</a></li>
            <li class="functional" id="login-menu"><a title="Login to PRIDE Archive" data-icon="l" class="icon icon-functional" href="http://www.ebi.ac.uk/pride/archive/login">Login</a></li>
            <li class="functional first" id="register-menu"><a title="Register" data-icon="5" class="icon icon-functional" href="http://www.ebi.ac.uk/pride/archive/register">Register</a></li>
            </ul>
    </nav>
</div><!-- local-masthead-->



<div ng-controller="ResultsListCtrl" class="ng-scope" ng-show="display_search_interface" style="">
    <div style="margin-top:35px" >
    <h2>
      <small ng-show="search_in_progress" class="ng-hide" style="">
        <i class="fa fa-spinner fa-spin"></i>
      </small>
      <small ng-class="search_in_progress ? 'animated flash infinite' : 'hidden'" id="metadata-search-status" class="hidden">
        Searching...
      </small>
      <span ng-show="result.count &gt; 0" class="" style="">
        <!-- ngIf: result.count == 1 -->
        <!-- ngIf: result.count > 1 --><span id="metasearch-results-count" ng-if="result.count &gt; 0" class="ng-binding ng-scope">{{result.count}}</span><!-- end ngIf: result.count > 1 -->
      </span>
      <i class="fa fa-search"></i> Results  for search term:
       <b ng-bind="query"></b>
    </h2>
    </div>

<div ng-show="result.count &gt; 0" class="row" style="">

<!-- facets column -->
<div class="col-md-3 col-sm-4 hidden-xs metasearch-facets"  >
        <div class="metasearch-organism-facet force-scrollbars"> <!-- Omic types -->
          <h3 class="ng-binding">Show results for</h3>
          <ul class="list-unstyled metasearch-facet-values">
          <li> <a href="" ng-click="facet_search(result.facets[1].id, result.facets[1].facetValues[0].value)"><img src="css/Proteomics2.png" style="vertical-align: top"/><span>  </span><span style="font-size:15px; font-weight:bold" >Proteomics</span><small>({{result.facets[0].facetValues[0].count | number}})</small></a></li>
          <li> <a href="" ng-click="facet_search(result.facets[1].id, result.facets[1].facetValues[1].value)"><img src="css/Metabolomics2.png" style="vertical-align: top"/><span>  </span><span style="font-size:15px; font-weight:bold" >Metabolomics</span><small>({{result.facets[1].facetValues[1].count||0 | number}})</small></a></li>
          <li> <a href="" ng-click="facet_search(result.facets[1].id, result.facets[1].facetValues[2].value)"><img src="css/Genomics2.png" style="vertical-align: top"/><span>  </span><span style="font-size:15px; font-weight:bold" >Geneomics</span><small>({{result.facets[1].facetValues[2].count||0 | number}})</small></label></li>
          </ul>      
        </div>
        <div><!-- Repository -->
            <h3 class="ng-binding">Repository</h3>
                <div  class="metasearch-organism-facet force-scrollbars list-group-item">
                    <input type="text" class="form-control" ng-model="repos_input" placeholder="Find your repositories">
                    <ul class="list-unstyled metasearch-facet-values" ng-class="{'metasearch-organism-facet force-scrollbars': facet.label=='Organisms'}">
                        <li ng-repeat="facet_value in result.facets[0].facetValues | filter:repos_input">
                            <input type="checkbox" name="result.facet[0].label" ng-checked="is_facet_applied(result.facets[0].id, facet_value.value)" ng-click="facet_search(result.facets[0].id, facet_value.value)">
                            <a href="" ng-click="facet_search(result.facets[0].id, facet_value.value)" class="metasearch-facet-link">{{facet_value.label}} <small>({{facet_value.count | number}})</small></a>
                        </li>
                        <!-- <small ng-if="facet.label == 'Organisms' && facet.facetValues.length > 10" class="text-muted">Showing top {{facet.facetValues.length}} organisms</small> -->
                    </ul>
                </div>
        </div>
<h2 >Refine by</h2>
        <div><!-- organisms -->
            <h3 class="ng-binding">Organisms</h3>
                <div  class="metasearch-organism-facet force-scrollbars list-group-item">
                    <input type="text" class="form-control" ng-model="species_input" placeholder="Find your species">
                    <ul class="list-unstyled metasearch-facet-values" ng-class="{'metasearch-organism-facet force-scrollbars': facet.label=='Organisms' }">
                        <li ng-repeat="facet_value in result.facets[4].facetValues | filter:species_input">
                            <input type="checkbox" name="result.facet[4].label" ng-checked="is_facet_applied(result.facets[4].id, facet_value.value)" ng-click="facet_search(result.facets[4].id, facet_value.value)">
                            <a href="" ng-click="facet_search(result.facets[4].id, facet_value.value)" class="metasearch-facet-link">{{facet_value.label}} <small>({{facet_value.count | number}})</small></a>
                        </li>
                        <!-- <small ng-if="facet.label == 'Organisms' && facet.facetValues.length > 10" class="text-muted">Showing top {{facet.facetValues.length}} organisms</small> -->
                    </ul>
                </div>
        </div>
        <div><!-- Tissue -->
            <h3 class="ng-binding">Tissue</h3>
                <div  class="metasearch-organism-facet force-scrollbars list-group-item">
                    <input type="text" class="form-control" ng-model="tech_input" placeholder="Find your techonology">
                    <ul class="list-unstyled metasearch-facet-values" ng-class="{'metasearch-organism-facet force-scrollbars': facet.label=='Organisms' }">
                        <li ng-repeat="facet_value in result.facets[2].facetValues | filter:tech_input">
                            <input type="checkbox" name="result.facet[2].label" ng-checked="is_facet_applied(result.facets[2].id, facet_value.value)" ng-click="facet_search(result.facets[2].id, facet_value.value)">
                            <a href="" ng-click="facet_search(result.facets[2].id, facet_value.value)" class="metasearch-facet-link">{{facet_value.label}} <small>({{facet_value.count | number}})</small></a>
                        </li>
                        <!-- <small ng-if="facet.label == 'Organisms' && facet.facetValues.length > 10" class="text-muted">Showing top {{facet.facetValues.length}} organisms</small> -->
                    </ul>
                </div>
        </div>
        <div><!-- Modification -->
            <h3 class="ng-binding">Modifications <small>in Proteomics</small></h3>
                <div  class="metasearch-organism-facet force-scrollbars list-group-item">
                    <input type="text" class="form-control" ng-model="modifi_input" placeholder="Find your Modifications">
                    <ul class="list-unstyled metasearch-facet-values" ng-class="{'metasearch-organism-facet force-scrollbars': facet.label=='Organisms' }">
                        <li ng-repeat="facet_value in result.facets[0].facetValues | filter:modifi_input">
                            <input type="checkbox" name="result.facet[0].label" ng-checked="is_facet_applied(result.facets[0].id, facet_value.value)" ng-click="facet_search(result.facets[0].id, facet_value.value)">
                            <a href="" ng-click="facet_search(result.facets[0].id, facet_value.value)" class="metasearch-facet-link">{{facet_value.label}} <small>({{facet_value.count | number}})</small></a>
                        </li>
                        <!-- <small ng-if="facet.label == 'Organisms' && facet.facetValues.length > 10" class="text-muted">Showing top {{facet.facetValues.length}} organisms</small> -->
                    </ul>
                </div>
        </div>
        <div><!-- Instruments & Platforms -->
            <h3 class="ng-binding">Instruments & Platforms</h3>
                <div  class="metasearch-organism-facet force-scrollbars list-group-item">
                    <input type="text" class="form-control" ng-model="instr_input" placeholder="Find your Instruments & Platforms">
                    <ul class="list-unstyled metasearch-facet-values" ng-class="{'metasearch-organism-facet force-scrollbars': facet.label=='Organisms' }">
                        <li ng-repeat="facet_value in result.facets[1].facetValues | filter:instr_input">
                            <input type="checkbox" name="result.facet[1].label" ng-checked="is_facet_applied(result.facets[1].id, facet_value.value)" ng-click="facet_search(result.facets[1].id, facet_value.value)">
                            <a href="" ng-click="facet_search(result.facets[1].id, facet_value.value)" class="metasearch-facet-link">{{facet_value.label}} <small>({{facet_value.count | number}})</small></a>
                        </li>
                        <!-- <small ng-if="facet.label == 'Organisms' && facet.facetValues.length > 10" class="text-muted">Showing top {{facet.facetValues.length}} organisms</small> -->
                    </ul>
                </div>
        </div>
</div>
<!-- facets column -->


<div class="col-md-9 col-sm-8 col-xs-12 metasearch-results">

<!-- paging buttons -->

<div class="grid_24">
    
    <div class="col_pager">
        <div class="pr-pager">
                    Page
        <a href=""  ng-click="pagination(1,'default','default')" ng-show="currentpage>3 && maxpageno>5">{{1+"<<"}}</a>
        <!-- <li><a href="" class="btn " ng-repeat="page in pages" ng-click="pagination(page,'default','default')" ng-disabled="currentpage===page">{{page}}</a></li> -->
       <a href="" class="" ng-repeat="page in pages" ng-click="pagination(page,'default','default')" ng-class="{'disabled':currentpage===page}">{{page}}</a>
       <a href=""  ng-click="pagination(maxpageno,'default','default')" ng-show="currentpage<=maxpageno-3 && maxpageno>5">{{">>"+maxpageno}}</a>
        </div>
        <div class="pr-page-size">
 
                Page size
        <a href="" ng-disabled ="pagesize==10" ng-click="pagination(1,'10','default')">10</a>
        <a href="" ng-disabled ="pagesize==20" ng-click="pagination(1,'20','default')">20</a>
        <a href="" ng-disabled ="pagesize==50" ng-click="pagination(1,'50','default')">50</a>
        <a href="" ng-disabled ="pagesize==100" ng-click="pagination(1,'100','default')">100</a>   

        </div>
        <div class="pr-stats">
            Showing  <span>{{(currentpage-1)*pagesize+1}} - {{currentpage*pagesize<=result.count? currentpage*pagesize : result.count}}</span> of <span> {{result.count}}</span>
        </div>
    </div>
</div>

<!-- paging buttons -->
<div class="grid_24">
    <div class="clearfix" id="sort-by">
        <ul class="search-header" id="sort-by-menu">
            <li>Sort by: </li>
            <li>
            <a href="" ng-click="pagination(1,'default','id')" ng-class="{'disabled':sortfield==='id'}">Accession</a>
            </li>
            <li>
            <a href="" ng-click="pagination(1,'default','title')" ng-class="{'disabled':sortfield==='title'}">Title</a>
            </li>
            <li>
            <a href="" ng-click="pagination(1,'default','relevance')"  ng-class="{'disabled':sortfield==='relevance'}">Relevance</a>
            </li>
            <li>
            <a href="" ng-click="pagination(1,'default','publicationDate')" ng-class="{'disabled':sortfield==='publicationdate'}" >Publication date</a>
            </li>

        </ul>    
    </div>
</div>

<div id="search-results" class="grid_18 right-column">
<div id="search-results-items" class="list-group">
<ul class="list-unstyled">
  <li class="result animate-repeat" ng-repeat="dataset in result.datasets">
    <div class="project-widget  list-group-item">
        
        <div class="project-widget-accession">
            <img src="css/Proteomics2.png" ng-show="proteomics_list.indexOf(dataset.source)>-1" /> 
            <img src="css/Metabolomics2.png" ng-show="metabolomics_list.indexOf(dataset.source)>-1" /> 
            <img src="css/Genomics2.png" ng-show="genomics_list.indexOf(dataset.source)>-1" /> 
            <a href={{"dataset.html#/"+dataset["id"]}}>{{dataset.title}}</a>  <span>{{test}}  </span>
        </div>
            
<!--         <div class="project-widget-title">
            {{dataset["title"]}}
        </div> -->

        <div class="project-widget-paragraph">
                <b>Project description:</b>
            {{dataset["description"]|limitTo:450}}{{dataset["description"].length>450?'...':''}}
                        <a href={{"dataset.html#/"+dataset["id"]}}>(More)</a>
        </div>

        <div class="project-widget-paragraph">
        </div>
            
        <div class="project-widget-paragraph" ng-show="dataset['organisms']">
            <b>Organism: </b><span ng-repeat="organism in dataset['organisms']">{{organism["name"]}}  </span>
        </div>
            
        <div class="project-widget-paragraph">
            {{dataset.id}} in {{dataset.source}}
        </div>
            
        <div class="project-widget-paragraph" ng-show="dataset.publicationDate">
            <b>Made public: </b> {{dataset['publicationDate'].substr(0,4)+"-"+dataset['publicationDate'].substr(4,2)+"-"+dataset['publicationDate'].substr(6,2)}}
        </div>

            
        <div class="project-widget-tag" ng-hide="dataset.keywords[0] === 'Not available'">
                    <a ng-repeat="keyword in dataset.keywords"  title={{keyword}} class="biological" href={{"browse.html#/search?q="+keyword">{{keyword}}</a>
        </div>
    </div>
  </li>  
</ul>
</div>


</div><!-- row -->

</div><!-- ResultsListCtrl-->
</div> <!-- result show -->
</div> <!-- ResultsListCtrl -->

<footer>
<div class="grid_24" id="global-footer">

        <nav id="global-nav-expanded" class="row">
        <div class="grid_4 alpha col-sm-2"> 
         <a title="EMBL-EBI" href="http://www.ebi.ac.uk"><img alt="EMBL European Bioinformatics Institute" src="//www.ebi.ac.uk/web_guidelines/images/logos/EMBL-EBI/EMBL_EBI_Logo_black.png"></a>  
         <ul>  
          <li class="first"><a href="//www.ebi.ac.uk/about/news">News</a></li>  
          <li><a href="//www.ebi.ac.uk/about/brochures">Brochures</a></li>  
          <li><a href="//www.ebi.ac.uk/about/contact">Contact us</a>  </li>
          <li class="last"><a href="http://intranet.ebi.ac.uk">Intranet</a></li>  
        </ul>  
      </div>   
        <div class="grid_4 col-sm-2">  
          <h3 class="services">
            <a href="//www.ebi.ac.uk/services">Services</a></h3>  
            <ul>  
              <li class="first"><a href="//www.ebi.ac.uk/services">By topic</a></li>  
              <li><a href="//www.ebi.ac.uk/services/all">By name (A-Z)</a></li>  
              <li class="last"><a href="//www.ebi.ac.uk/support">Help &amp; Support</a></li>  
            </ul>  
          </div> 
        <div class="grid_4 col-sm-2">  
          <h3 class="research"><a href="//www.ebi.ac.uk/research">Research</a></h3>  
          <ul>  
            <li class="first"><a href="//www.ebi.ac.uk/research">Overview</a></li>  
            <li><a href="//www.ebi.ac.uk/research/publications">Publications</a></li>  
            <li><a href="//www.ebi.ac.uk/research/groups">Research groups</a></li>  
            <li class="last"><a href="//www.ebi.ac.uk/research/postdocs">Postdocs</a> &amp; 
              <a href="//www.ebi.ac.uk/research/eipp">PhDs</a></li>  
            </ul>  
          </div>   
        <div class="grid_4 col-sm-2">  
          <h3 class="training"><a href="//www.ebi.ac.uk/training">Training</a></h3>  
          <ul>  
            <li class="first"><a href="//www.ebi.ac.uk/training">Overview</a></li>  
            <li><a href="//www.ebi.ac.uk/training/handson">Train at EBI</a></li>  
            <li><a href="//www.ebi.ac.uk/training/roadshow">Train outside EBI</a></li>  
            <li><a href="//www.ebi.ac.uk/training/online">Train online</a></li>  
            <li class="last"><a href="//www.ebi.ac.uk/training/contact-us">Contact organisers</a></li>  
          </ul>  
        </div>   
        <div class="grid_4 col-sm-2">  
          <h3 class="industry"><a href="//www.ebi.ac.uk/industry">Industry</a></h3>  
          <ul>  
            <li class="first"><a href="//www.ebi.ac.uk/industry">Overview</a></li>  
            <li><a href="//www.ebi.ac.uk/industry/private">Members Area</a></li>  
            <li><a href="//www.ebi.ac.uk/industry/workshops">Workshops</a></li>  
            <li><a href="//www.ebi.ac.uk/industry/sme-forum"><abbr title="Small Medium Enterprise">SME</abbr> Forum</a></li>  
            <li class="last"><a href="//www.ebi.ac.uk/industry/contact">Contact Industry programme</a></li>  
          </ul>  
        </div> 
        <div class="grid_4 omega col-sm-2">  
          <h3 class="about"><a href="//www.ebi.ac.uk/about">About us</a></h3>  
          <ul>  
            <li class="first"><a href="//www.ebi.ac.uk/about">Overview</a></li>  
            <li><a href="//www.ebi.ac.uk/about/leadership">Leadership</a></li>  
            <li><a href="//www.ebi.ac.uk/about/funding">Funding</a></li>  
            <li><a href="//www.ebi.ac.uk/about/background">Background</a></li>  
            <li><a href="//www.ebi.ac.uk/about/partnerships">Collaboration</a></li>  
            <li><a title="Jobs, postdocs, PhDs..." href="//www.ebi.ac.uk/about/jobs">Jobs</a></li>  
            <li><a href="//www.ebi.ac.uk/about/people">People &amp; groups</a></li>  
            <li><a href="//www.ebi.ac.uk/about/news">News</a></li>  
            <li><a href="//www.ebi.ac.uk/about/events">Events</a></li>  
            <li><a href="//www.ebi.ac.uk/about/travel">Visit us</a></li>  
            <li class="last"><a href="//www.ebi.ac.uk/about/contact">Contact us</a></li>  
          </ul>  
        </div>
      </nav>

        <section id="ebi-footer-meta">
          <p class="address">EMBL-EBI, Wellcome Trust Genome Campus, Hinxton, Cambridgeshire, CB10 1SD, UK &nbsp; &nbsp; +44 (0)1223 49 44 44</p><p>Copyright &copy; EMBL-EBI 2015 | EBI is an outstation of the <a href="http://www.embl.org">European Molecular Biology Laboratory</a> | <a href="/about/privacy">Privacy</a> | <a href="/about/cookies">Cookies</a> | <a href="/about/terms-of-use">Terms of use</a></p>
        </section>

    </div>

</footer>
</div><!-- container -->

    
 <script src="js/vendor/angular/angular.min.js"></script>
 <script src="js/vendor/angular/angular-animate.min.js"></script>
 <script src="js/vendor/angular/loading-bar/loading-bar.js"></script>
 <script src="js/vendor/underscore/underscore-min.js"></script>
 <script src="js/search/ddi.metadata.search.js"></script>
<!--
 <script src="js/search/metadata.search.js"></script>
 <script src="js/vendor/hopscotch/js/hopscotch.js"></script>
 <script src="js/vendor/bootstrap/js/bootstrap.min.js"></script>
 <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
 <script src="js/vendor/jquery-1.10.1.min.js"></script>
 <script src="js/search/sequence.search.js"></script>
 <script src="js/search/export-results.search.js"></script>
 <script src="js/vendor/query-string.js"></script>
 <script src="js/jquery.EuropePMCAbstracts.js"></script>
 <script src="js/vendor/DataTables-1.9.4/media/js/jquery.dataTables.min.js"></script>
 <script src="js/vendor/DataTables-plugins/integration/bootstrap/3/dataTables.bootstrap.js"></script>
 <script src="js/vendor/handlebars-v1.1.2.js"></script>
 <script src="js/guidedTour.js"></script>
 <script src="js/vendor/Genoverse/js/genomes/grch38.js"></script>
 <script src="js/vendor/Genoverse/js/genoverse.combined.js"></script>
 -->
 <script src="js/vendor/d3/d3.min.js"></script>
 <script src="js/d3/d3.ExpertDatabaseSequenceDistribution.js"></script>
 <script src="js/d3/d3.speciesSunburst.js"></script>
 <script src="js/d3/d3.speciesTree.js"></script>

</body></html>
