<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" ng-app="ddiApp" id="ng-app" xmlns:ng="http://angularjs.org" class="js flexbox canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths ng-scope">
<head>
    <style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}
    </style>
        <meta charset="utf-8">
        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
        <meta content="width=device-width" name="viewport">
        <meta content="DDI is a integrate resource to multiple omics repositories, including Proteomics, Metabolomics and Genomics" name="description">


        <title>DDI: Browse</title>

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link type="text/css" href="css/ddi.css" rel="stylesheet">
        <link type="text/css" href="css/main.css" rel="stylesheet">
        <!--
        <link type="text/css" href="css/ebi-global.css" rel="stylesheet">
        <link type="text/css" href="css/prider.css" rel="stylesheet">
        <link type="text/css" href="css/ebi-visual.css" rel="stylesheet">
        -->
        <link type="text/css" rel="stylesheet" href="http://www.ebi.ac.uk/pride/archive/resources/css/prider.css">
        <link rel="stylesheet" href="//www.ebi.ac.uk/web_guidelines/css/compliance/develop/boilerplate-style.css">
        <link rel="stylesheet" href="//www.ebi.ac.uk/web_guidelines/css/compliance/develop/ebi-global.css" type="text/css" media="screen">
        <link rel="stylesheet" href="//www.ebi.ac.uk/web_guidelines/css/compliance/develop/ebi-visual.css" type="text/css" media="screen">
        <link rel="stylesheet" href="//www.ebi.ac.uk/web_guidelines/css/compliance/develop/984-24-col-fluid.css" type="text/css" media="screen">
    
 <script src="js/vendor/jquery-1.10.1.min.js"></script>
</head>

<script> 
$(function(){
  $("#footer").load("footer.html"); 
});
</script> 

<body class="level2">

<div id="skip-to">
    <ul>
        <li><a href="#content">Skip to main content</a></li>
        <li><a href="#local-nav">Skip to local navigation</a></li>
        <li><a href="#global-nav">Skip to EBI global navigation menu</a></li>
        <li><a href="#global-nav-expanded">Skip to expanded EBI global navigation menu (includes all sub-sections)</a></li>
    </ul>
</div>

<div id="wrapper" class="container_24">
<header>
   <div id="global-masthead" class="masthead grid_24">
   <!--This has to be one line and no newline characters-->
     <a href="//www.ebi.ac.uk/" title="Go to the EMBL-EBI homepage"><img src="//www.ebi.ac.uk/web_guidelines/images/logos/EMBL-EBI/EMBL_EBI_Logo_white.png" alt="EMBL European Bioinformatics Institute"></a>
     <nav>
     <ul id="global-nav">
     <!-- set active class as appropriate -->
       <li id="services" class=" first active"><a href="//www.ebi.ac.uk/services" title="Services">Services</a></li>
       <li id="research" class=""><a href="//www.ebi.ac.uk/research" title="Research">Research</a></li>
       <li id="training" class=""><a href="//www.ebi.ac.uk/training" title="Training">Training</a></li>
       <li id="industry" class=""><a href="//www.ebi.ac.uk/industry" title="Industry">Industry</a></li>
       <li id="about" class=" last"><a href="//www.ebi.ac.uk/about" title="About us">About us</a></li>
     </ul>
     </nav>
  </div>


  <div id="local-masthead" class="masthead grid_24 nomenu">
    <!-- local-title -->
    <!-- NB: for additional title style patterns, see http://frontier.ebi.ac.uk/web/style/patterns -->
      <div class="grid_12 alpha logo-title" id="local-title">
        <a href="/app" title="Back to DDI homepage"><img src="/app/static/img/logo/DDI-icon-3.png" alt="logo" width="64" height="64"></a>
        <span><h1><a href="/app" title="Back to DDI homepage">DDI</a></h1></span>
      </div>
    <!-- /local-title -->

    <!-- local-search -->
    <!-- NB: if you do not have a local-search, delete the following div, and drop the class="grid_12 alpha" class from local-title above -->
      <div ng-controller="QueryCtrl" class="grid_12 omega">
         <form novalidate name="queryForm" class="local-search" ng-submit="submit_query()">
            <fieldset>
               <div class="form-group" ng-class="(query.submitted && queryForm.$invalid) ? 'has-error' : ''">
                  <div class="input-group">
                         <input type="text" style="background-color:#fff; width:99%"
                         placeholder="organism, repository, gene, tissue, accession"
                         class="form-control"
                         id="query-text"
                         name="text"
                         tabindex="1"
                         ng-model="query.text"
                         ng-minlength="2"
                         ng-maxlength="1000"
                         autocomplete="off"
                         required>
                         <div class="input-group-btn">
                             <button type="submit" class="btn btn-primary">
                                 <i class="fa fa-search"></i> Search
                             </button>
                         </div><!-- /input-group-btn -->
                  </div><!--input-group -->
                     <span class="help-block example-searches">
                         <small>
                             <i>
                                 Examples:
                                 <a href="" rel="nofollow" ng-click="meta_search('cancer')">cancer</a>,
                                 <a href="" rel="nofollow" ng-click="meta_search('TAXONOMY:&quot;9606&quot;')">Homo sapiens</a>,
                                 <a href="" rel="nofollow" ng-click="meta_search('Orbitrap')">Orbitrap</a>,
                                 <a href="" rel="nofollow" ng-click="meta_search('Q9HAU5')">Q9HAU5</a>,
                                 <a href="" rel="nofollow" ng-click="meta_search('Phospho')">Phospho</a>,
                                 <a href="" rel="nofollow" ng-click="meta_search('Hela')">Hela</a>
                             </i>
                         </small>
                     </span>
                     <label class="control-label ng-cloak has-error"
                            for="query-text" 
                            ng-show="query.submitted && (queryForm.text.$error.required || queryForm.text.$error.minlength)"
                            ng-cloak>
                     Your query is too short
                     </label>
                     <label class="control-label ng-cloak"
                            for="query-text" ng-show="query.submitted && (queryForm.text.$error.maxlength)"
                            ng-cloak>
                     Your query is too long
                     </label>
                 </div><!-- /form-group -->
             </fieldset>
            </form>
        </div>
        <!-- /local-search -->


        <!-- local-nav -->
        <nav>
            <ul class="grid_24" id="local-nav">
            <li class=" first" id="home-menu"><a title="Home" href="http://localhost:8000/app/">Home</a></li>
            <li class="" id="browse-menu"><a title="Browse" href="http://localhost:8000/app/browse.html#/search?q=*:*">Browse</a></li>
            <li class="" id="api-menu"><a title="DDI API" href="http://localhost:8000/app/api.html">API</a></li>
            <li class=" last" id="about-prider-menu"><a title="Databases" href="http://localhost:8000/app/databases.html">Databases</a></li>
            <!-- If you need to include functional (as opposed to purely navigational) links in your local menu,
            add them here, and give them a class of "functional". Remember: you'll need a class of "last" for
            whichever one will show up last...
            For example: -->
            <li class="functional last"><a data-icon="\" class="icon icon-static" href="http://www.ebi.ac.uk/support/index.php?query=pride">Feedback</a></li>
            <li class="functional"><a class="" href="about.html">About</a></li>
            <li class="functional"><a class="" href="help.html">Help</a></li>
            <li class="functional" id="login-menu" hidden="true" ><a title="Login to PRIDE Archive" data-icon="l" class="icon icon-functional" href="http://www.ebi.ac.uk/pride/archive/login">Login</a></li>
            <li class="functional first" id="register-menu" hidden="true"><a title="Register" data-icon="5" class="icon icon-functional" href="http://www.ebi.ac.uk/pride/archive/register">Register</a></li>
            </ul>
        </nav>

        <!-- /local-nav -->
</div>

<div id="content" ng-controller="ResultsListCtrl" class="ng-scope" ng-show="display_search_interface" style="">



    <div style="margin-top:185px" >
    <h3>
      <small ng-show="search_in_progress" class="ng-hide" style="">
        <i class="fa fa-spinner fa-spin"></i>
      </small>
      <small ng-class="search_in_progress ? 'animated flash infinite' : 'hidden'" id="metadata-search-status" class="hidden">
        Searching...
      </small>
<!--      <span ng-show="result.count &gt; 0" class="" style="">-->
      <span  class="" style="">
        <!-- ngIf: result.count == 1 -->
        <!-- span id="metasearch-results-count" ng-if="result.count &gt; 0" class="ng-binding ng-scope">{{result.count}}</span> -->
        <span id="metasearch-results-count"  class="ng-binding ng-scope">{{result.count}}</span>
      </span>
      <i class="fa fa-search"></i> Results  for search term:
       <b ng-bind="queryForShow"></b>
    </h3>
    </div>

<div ng-show="result.count &gt; 0" class="row" style="">

<!-- facets column -->
<div class="col-md-3 col-sm-4 hidden-xs metasearch-facets"  >
        <div class="metasearch-organism-facet force-scrollbars"> <!-- Omic types -->
          <h3 class="ng-binding">Show results for</h3>
          <ul class="list-unstyled metasearch-facet-values">
          <li> <a href="" ng-class="{'disabled':omicsfacetsno.Proteomics==='0'}"  ng-click="facet_search(result.facets[indexoffacets.omics_type].id, result.facets[indexoffacets.omics_type].facetValues[omicsfacetsindex.Proteomics].value)"><img src="css/Proteomics2.png" style="vertical-align: top"/><span>  </span><span style="font-size:15px; font-weight:bold" >Proteomics</span><small>({{result.facets[indexoffacets.omics_type].facetValues[omicsfacetsindex.Proteomics].count||0 | number}})</small></a></li>
          <li> <a href="" ng-class="{'disabled':omicsfacetsno.Metabolomics==='0'}"  ng-click="facet_search(result.facets[indexoffacets.omics_type].id, result.facets[indexoffacets.omics_type].facetValues[omicsfacetsindex.Metabolomics].value)"><img src="css/Metabolomics2.png" style="vertical-align: top"/><span>  </span><span style="font-size:15px; font-weight:bold" >Metabolomics</span><small>({{result.facets[indexoffacets.omics_type].facetValues[omicsfacetsindex.Metabolomics].count||0 | number}})</small></a></li>
          <li> <a href="" ng-class="{'disabled':omicsfacetsno.Genomics==='0'}"  ng-click="facet_search(result.facets[indexoffacets.omics_type].id, result.facets[indexoffacets.omics_type].facetValues[omicsfacetsindex.Genomics].value)"><img src="css/Genomics2.png" style="vertical-align: top"/><span>  </span><span style="font-size:15px; font-weight:bold" >Genomics</span><small>({{result.facets[indexoffacets.omics_type].facetValues[omicsfacetsindex.Geneomics].count||0 | number}})</small></label></a></li>
          </ul>      
        </div>
        <div><!-- Repository -->
            <h3 class="ng-binding">Repository</h3>
                <div  class="metasearch-organism-facet force-scrollbars list-group-item">
                    <input type="text" class="form-control" ng-model="repos_input" placeholder="Find your repositories"> 
                    <ul class="list-unstyled metasearch-facet-values" ng-class="{'metasearch-organism-facet force-scrollbars': facet.label=='Organisms'}">
                        <li ng-repeat="facet_value in result.facets[indexoffacets.repository].facetValues | filter:repos_input">
                            <input type="checkbox" name="result.facets[indexoffacets.repository].label" ng-checked="is_facet_applied(result.facets[indexoffacets.repository].id, facet_value.value)" ng-click="facet_search(result.facets[indexoffacets.repository].id, facet_value.value)">
                            <label for="result.facets[indexoffacets.repository].label"><span></span></label>
                            <a href="" ng-click="facet_search(result.facets[indexoffacets.repository].id, facet_value.value)" class="metasearch-facet-link">{{repositories[facet_value.label]}} <small>({{facet_value.count | number}})</small></a>
                        </li>
                        <!-- <small ng-if="facet.label == 'Organisms' && facet.facetValues.length > 10" class="text-muted">Showing top {{facet.facetValues.length}} organisms</small> -->
                    </ul>
                </div>
        </div>
<h2 >Refine by</h2>
        <div><!-- organisms -->
            <h3 class="ng-binding">Organisms</h3>
                <div  class="metasearch-organism-facet force-scrollbars list-group-item">
                    <input type="text" class="form-control" ng-model="species_input" placeholder="Find your species">
                    <ul class="list-unstyled metasearch-facet-values" ng-class="{'metasearch-organism-facet force-scrollbars': facet.label=='Organisms' }">
                        <li ng-repeat="facet_value in result.facets[indexoffacets.TAXONOMY].facetValues | filter:species_input">
                            <input type="checkbox" id="facet_value.label" ng-checked="is_facet_applied(result.facets[indexoffacets.TAXONOMY].id, facet_value.value)" ng-click="facet_search(result.facets[indexoffacets.TAXONOMY].id, facet_value.value)"> 
                            <label for="facet_value.label"><span></span></label>
                            <a href="" ng-click="facet_search(result.facets[indexoffacets.TAXONOMY].id, facet_value.value)" class="metasearch-facet-link">{{facet_value.label}} <small>({{facet_value.count | number}})</small></a>
                        </li>
                        <!-- <small ng-if="facet.label == 'Organisms' && facet.facetValues.length > 10" class="text-muted">Showing top {{facet.facetValues.length}} organisms</small> -->
                    </ul>
                </div>
        </div>
        <div><!-- Tissue -->
            <h3 class="ng-binding">Tissue</h3>
                <div  class="metasearch-organism-facet force-scrollbars list-group-item">
                    <input type="text" class="form-control" ng-model="tissue_input" placeholder="Find your Tissues">
                    <ul class="list-unstyled metasearch-facet-values" ng-class="{'metasearch-organism-facet force-scrollbars': facet.label=='Organisms' }">
                        <li ng-repeat="facet_value in result.facets[indexoffacets.tissue].facetValues | filter:tissue_input">
                            <input type="checkbox" id="result.facets[indexoffacets.tissue].label" ng-checked="is_facet_applied(result.facets[indexoffacets.tissue].id, facet_value.value)" ng-click="facet_search(result.facets[indexoffacets.tissue].id, facet_value.value)">
                            <label for="result.facets[indexoffacets.tissue].label"><span></span></label>
                            <a href="" ng-click="facet_search(result.facets[indexoffacets.tissue].id, facet_value.value)" class="metasearch-facet-link">{{facet_value.label}} <small>({{facet_value.count | number}})</small></a>
                        </li>
                        <!-- <small ng-if="facet.label == 'Organisms' && facet.facetValues.length > 10" class="text-muted">Showing top {{facet.facetValues.length}} organisms</small> -->
                    </ul>
                </div>
        </div>

        <div><!-- Disease-->
            <h3 class="ng-binding">Disease</h3>
                <div  class="metasearch-organism-facet force-scrollbars list-group-item">
                    <input type="text" class="form-control" ng-model="disease_input" placeholder="Find your Disease">
                    <ul class="list-unstyled metasearch-facet-values" ng-class="{'metasearch-organism-facet force-scrollbars': facet.label=='Organisms' }">
                        <li ng-repeat="facet_value in result.facets[indexoffacets.disease].facetValues | filter:disease_input">
                            <input type="checkbox" id="result.facets[indexoffacets.disease].label" ng-checked="is_facet_applied(result.facets[indexoffacets.disease].id, facet_value.value)" ng-click="facet_search(result.facets[indexoffacets.disease].id, facet_value.value)">
                            <label for="result.facets[indexoffacets.disease].label"><span></span></label>
                            <a href="" ng-click="facet_search(result.facets[indexoffacets.disease].id, facet_value.value)" class="metasearch-facet-link">{{facet_value.label}} <small>({{facet_value.count | number}})</small></a>
                        </li>
                        <!-- <small ng-if="facet.label == 'Organisms' && facet.facetValues.length > 10" class="text-muted">Showing top {{facet.facetValues.length}} organisms</small> -->
                    </ul>
                </div>
        </div>

        <div><!-- Modification -->
            <h3 class="ng-binding">Modifications <small>in Proteomics</small></h3>
                <div  class="metasearch-organism-facet force-scrollbars list-group-item">
                    <input type="text" class="form-control" ng-model="modifi_input" placeholder="Find your Modifications">
                    <ul class="list-unstyled metasearch-facet-values" ng-class="{'metasearch-organism-facet force-scrollbars': facet.label=='Organisms' }">
                        <li ng-repeat="facet_value in result.facets[indexoffacets.modification].facetValues | filter:modifi_input">
                            <input type="checkbox" id="result.facets[indexoffacets.modification].label"  ng-click="facet_search(result.facets[indexoffacets.modification].id, facet_value.value)" ng-checked="is_facet_applied(result.facets[indexoffacets.modification].id, facet_value.value)">
                            <label for="result.facets[indexoffacets.modification].label" ><span></span></label>
                            <a href="" ng-click="facet_search(result.facets[indexoffacets.modification].id, facet_value.value)" class="metasearch-facet-link">{{facet_value.label}} <small>({{facet_value.count | number}})</small></a>
                        </li>
                        <!-- <small ng-if="facet.label == 'Organisms' && facet.facetValues.length > 10" class="text-muted">Showing top {{facet.facetValues.length}} organisms</small> -->
                    </ul>
                </div>
        </div>
        <div><!-- Instruments & Platforms -->
            <h3 class="ng-binding">Instruments & Platforms</h3>
                <div  class="metasearch-organism-facet force-scrollbars list-group-item">
                    <input type="text" class="form-control" ng-model="instr_input" placeholder="Find your Instruments & Platforms">
                    <ul class="list-unstyled metasearch-facet-values" ng-class="{'metasearch-organism-facet force-scrollbars': facet.label=='Organisms' }">
                        <li ng-repeat="facet_value in result.facets[indexoffacets.instrument_platform].facetValues | filter:instr_input">
                            <input type="checkbox" id="result.facets[indexoffacets.instrument_platform].label" ng-checked="is_facet_applied(result.facets[indexoffacets.instrument_platform].id, facet_value.value)" ng-click="facet_search(result.facets[indexoffacets.instrument_platform].id, facet_value.value)">
                            <label for="result.facet[1].label"><span></span>{{result.facet[1].label}}</label>
                            <a href="" ng-click="facet_search(result.facets[indexoffacets.instrument_platform].id, facet_value.value)" class="metasearch-facet-link">{{facet_value.label}} <small>({{facet_value.count | number}})</small></a>
                        </li>
                        <!-- <small ng-if="facet.label == 'Organisms' && facet.facetValues.length > 10" class="text-muted">Showing top {{facet.facetValues.length}} organisms</small> -->
                    </ul>
                </div>
        </div>

        <div><!-- publication_date -->
            <h3 class="ng-binding">Publication Date</h3>
                <div  class="metasearch-organism-facet force-scrollbars list-group-item">
                    <input type="text" class="form-control" ng-model="publicdate_input" placeholder="Find your publication data">
                    <ul class="list-unstyled metasearch-facet-values" ng-class="{'metasearch-organism-facet force-scrollbars': facet.label=='Organisms' }">
                        <li ng-repeat="facet_value in result.facets[indexoffacets.publication_date].facetValues | filter:publicdate_input">
                            <input type="checkbox" id="result.facets[indexoffacets.publication_date].label" ng-checked="is_facet_applied(result.facets[indexoffacets.publication_date].id, facet_value.value)" ng-click="facet_search(result.facets[indexoffacets.publication_date].id, facet_value.value)">
                            <label for="result.facets[indexoffacets.publication_date].label"><span></span></label>
                            <a href="" ng-click="facet_search(result.facets[indexoffacets.publication_date].id, facet_value.value)" class="metasearch-facet-link">{{facet_value.label}} <small>({{facet_value.count | number}})</small></a>
                        </li>
                        <!-- <small ng-if="facet.label == 'Organisms' && facet.facetValues.length > 10" class="text-muted">Showing top {{facet.facetValues.length}} organisms</small> -->
                    </ul>
                </div>
        </div>

        <div><!-- technology-->
            <h3 class="ng-binding">Technology Type</h3>
                <div  class="metasearch-organism-facet force-scrollbars list-group-item">
                    <input type="text" class="form-control" ng-model="techtype_input" placeholder="Find your publication data">
                    <ul class="list-unstyled metasearch-facet-values" ng-class="{'metasearch-organism-facet force-scrollbars': facet.label=='Organisms' }">
                        <li ng-repeat="facet_value in result.facets[indexoffacets.technology_type].facetValues | filter:techtype_input">
                            <input type="checkbox" id="result.facets[indexoffacets.technology_type].label" ng-checked="is_facet_applied(result.facets[indexoffacets.technology_type].id, facet_value.value)" ng-click="facet_search(result.facets[indexoffacets.technology_type].id, facet_value.value)">
                            <label for="result.facets[indexoffacets.technology_type].label"><span></span>{{result.facet[1].label}}</label>
                            <a href="" ng-click="facet_search(result.facets[indexoffacets.technology_type].id, facet_value.value)" class="metasearch-facet-link">{{facet_value.label}} <small>({{facet_value.count | number}})</small></a>
                        </li>
                        <!-- <small ng-if="facet.label == 'Organisms' && facet.facetValues.length > 10" class="text-muted">Showing top {{facet.facetValues.length}} organisms</small> -->
                    </ul>
                </div>
        </div>


</div>
<!-- facets column -->


<div class="col-md-9 col-sm-8 col-xs-12 metasearch-results">

<!-- paging buttons -->

<div class="grid_22">
    
    <div class="col_pager">
        <div class="pr-pager">
                    Page
        <a href=""  ng-click="pagination(1,'default','default')" ng-show="currentpage>3 && maxpageno>5">{{1+"<<"}}</a>
        <!-- <li><a href="" class="btn " ng-repeat="page in pages" ng-click="pagination(page,'default','default')" ng-disabled="currentpage===page">{{page}}</a></li> -->
       <a href="" class="" ng-repeat="page in pages" ng-click="pagination(page,'default','default')" ng-class="{'disabled':currentpage===page}">{{page}}</a>
       <a href=""  ng-click="pagination(maxpageno,'default','default')" ng-show="currentpage<=maxpageno-3 && maxpageno>5">{{">>"+maxpageno}}</a>
        </div>
        <div class="pr-page-size">
 
                Page size
        <a href="" ng-click="pagination(1,'10','default')" ng-class="{'disabled':pagesize==10}">10</a>
        <a href="" ng-click="pagination(1,'20','default')" ng-class="{'disabled':pagesize==20}">20</a>
        <a href="" ng-click="pagination(1,'50','default')" ng-class="{'disabled':pagesize==50}">50</a>
        <a href="" ng-click="pagination(1,'100','default')" ng-class="{'disabled':pagesize==100}">100</a>

        </div>
        <div class="pr-stats">
            Showing  <span>{{(currentpage-1)*pagesize+1}} - {{currentpage*pagesize<=result.count? currentpage*pagesize : result.count}}</span> of <span> {{result.count}}</span>
        </div>
    </div>
</div>

<!-- paging buttons -->
<div class="grid_22">
    <div class="clearfix" id="sort-by">
        <ul class="search-header" id="sort-by-menu">
            <li>Sort by: </li>
            <li>
            <a href="" ng-click="pagination(1,'default','name')" ng-class="{'disabled':sortfield==='name'}">Title</a>
            </li>
            <li>
            <a href="" ng-click="pagination(1,'default','id')" ng-class="{'disabled':sortfield==='id'}">Accession</a>
            </li>
            <li>
            <a href="" ng-click="pagination(1,'default','relevance')"  ng-class="{'disabled':sortfield==='relevance'}">Relevance</a>
            </li>
            <li>
            <a href="" ng-click="pagination(1,'default','publication_date')" ng-class="{'disabled':sortfield==='publication_date'}" >Publication date</a>
            </li>

        </ul>    
    </div>
</div>

<div id="search-results" class="grid_22 right-column">
<div id="search-results-items" class="list-group">
<ul class="list-unstyled">
  <li class="result animate-repeat" ng-repeat="dataset in result.datasets">
    <div class="project-widget  list-group-item">
        
        <div class="project-widget-accession">
            <img src="css/Proteomics2.png" ng-show="proteomics_list.indexOf(dataset.source)>-1" /> 
            <img src="css/Metabolomics2.png" ng-show="metabolomics_list.indexOf(dataset.source)>-1" />
            <img src="css/Genomics2.png" ng-show="genomics_list.indexOf(dataset.source)>-1" /> 
            <a href={{"dataset.html#/"+dataset.id+"*"+repositories[dataset.source]}}>{{dataset.title}}</a>  <span>{{test}}  </span>
        </div>
            
<!--         <div class="project-widget-title">
            {{dataset["title"]}}
        </div> -->

        <div class="project-widget-paragraph">
                <b>Project description:</b>
            {{dataset["description"]|limitTo:450}}{{dataset["description"].length>450?'...':''}}
                        <!-- <a href={{"dataset.html#/"+dataset["id"]}}>(More)</a> -->
            <span ng-show="dataset.description===null">Not available</span>            
        </div>

        <div class="project-widget-paragraph">
        </div>
            
        <div class="project-widget-paragraph" ng-show="dataset['organisms']">
            <b>Organism: </b><span ng-repeat="organism in dataset['organisms']">{{organism["name"]}}  </span> <span ng-show="dataset.organisms.length===0">Not available</span>
        </div>
            
        <div class="project-widget-paragraph">
            {{dataset.id}} ({{repositories[dataset.source]}})
        </div>
            
        <div class="project-widget-paragraph" ng-show="dataset.publicationDate">
            <b>Made public: </b> {{dataset['publicationDate'].substr(0,4)+"-"+dataset['publicationDate'].substr(4,2)+"-"+dataset['publicationDate'].substr(6,2)}}
        </div>

        <div class="project-widget-tag" ng-hide="dataset.keywords[0] === 'Not available'">
            <a ng-repeat="keyword in dataset.keywords"  title={{keyword}} class="biological" href={{"browse.html#/search?q="+"\""+keyword+"\""}}>{{keyword}}</a>
        </div>
    </div>
  </li>  
</ul>
</div>


</div><!-- row -->

</div><!-- ResultsListCtrl-->
</div> <!-- result show -->
</div> <!-- ResultsListCtrl -->

<footer>
    <div id="footer"></div>
</footer>
        


    
 <script src="js/vendor/angular/angular.min.js"></script>
 <script src="js/vendor/angular/angular-animate.min.js"></script>
 <script src="js/vendor/angular/loading-bar/loading-bar.js"></script>
 <script src="js/vendor/underscore/underscore-min.js"></script>
 <script src="js/search/ddi.metadata.search.js"></script>
<!--
 <script src="js/search/metadata.search.js"></script>
 <script src="js/vendor/hopscotch/js/hopscotch.js"></script>
 <script src="js/vendor/bootstrap/js/bootstrap.min.js"></script>
 <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
 <script src="js/vendor/jquery-1.10.1.min.js"></script>
 <script src="js/search/sequence.search.js"></script>
 <script src="js/search/export-results.search.js"></script>
 <script src="js/vendor/query-string.js"></script>
 <script src="js/jquery.EuropePMCAbstracts.js"></script>
 <script src="js/vendor/DataTables-1.9.4/media/js/jquery.dataTables.min.js"></script>
 <script src="js/vendor/DataTables-plugins/integration/bootstrap/3/dataTables.bootstrap.js"></script>
 <script src="js/vendor/handlebars-v1.1.2.js"></script>
 <script src="js/guidedTour.js"></script>
 <script src="js/vendor/Genoverse/js/genomes/grch38.js"></script>
 <script src="js/vendor/Genoverse/js/genoverse.combined.js"></script>
 -->
 <script src="js/vendor/d3/d3.min.js"></script>
 <script src="js/d3/d3.ExpertDatabaseSequenceDistribution.js"></script>
 <script src="js/d3/d3.speciesSunburst.js"></script>
 <script src="js/d3/d3.speciesTree.js"></script>

</body></html>
