<div class="container ddi-masthead">
<div class="masthead grid_24" id="global-masthead">    

     <a title="Go to the EMBL-EBI homepage" href="//www.ebi.ac.uk/"><img alt="EMBL European Bioinformatics Institute" src="//www.ebi.ac.uk/web_guidelines/images/logos/EMBL-EBI/EMBL_EBI_Logo_white.png">
     </a>
    <nav>
        <ul id="global-nav">
                    <!-- set active class as appropriate -->
            <li class="first active" id="services"><a title="Services" href="//www.ebi.ac.uk/services">Services</a></li>
            <li class="" id="research"><a title="Research" href="//www.ebi.ac.uk/research">Research</a></li>
            <li class="" id="training"><a title="Training" href="//www.ebi.ac.uk/training">Training</a></li>
            <li class="" id="industry"><a title="Industry" href="//www.ebi.ac.uk/industry">Industry</a></li>
            <li class=" last" id="about"><a title="About us" href="//www.ebi.ac.uk/about">About us</a></li>
        </ul>
   </nav>

</div>
</div>

<div class="navbar navbar-default navbar-static-top">
<div class="container ddi-masthead">

    <!-- global-search -->
    <div class="row">
      <div class="col-md-4">
        <a href="/"><img class="ddi-header-logo" alt="DDI logo" src="static/img/logo/DDI-icon-3.png"></a>
      </div>

      <div ng-controller="QueryCtrl" class="col-md-8 ng-scope">
         <form novalidate name="queryForm" class="global-search" ng-submit="submit_query()">
             <fieldset>
                 <div class="form-group" ng-class="(query.submitted && queryForm.$invalid) ? 'has-error' : ''">
                     <div class="input-group">
                         <input type="text"
                         placeholder="organism, repository, gene, tissue, accession"
                         class="form-control"
                         id="query-text"
                         name="text"
                         tabindex="1"
                         ng-model="query.text"
                         ng-minlength="2"
                         ng-maxlength="1000"
                         autocomplete="off"
                         required>
                         <div class="input-group-btn">
                             <button type="submit" class="btn btn-primary">
                                 <i class="fa fa-search"></i> Search
                             </button>
                         </div><!-- /input-group-btn -->
                     </div><!--input-group -->
                     <span class="help-block example-searches">
                         <small>
                             <i>
                                 Examples:
                                 <a href="" rel="nofollow" ng-click="meta_search('cancer')">cancer</a>,
                                 <a href="" rel="nofollow" ng-click="meta_search('TAXONOMY:&quot;9606&quot;')">Homo sapiens</a>,
                                 <a href="" rel="nofollow" ng-click="meta_search('Orbitrap')">Orbitrap</a>,
                                 <a href="" rel="nofollow" ng-click="meta_search('Q9HAU5')">Q9HAU5</a>,
                                 <a href="" rel="nofollow" ng-click="meta_search('Phospho')">Phospho</a>,
                                 <a href="" rel="nofollow" ng-click="meta_search('Hela')">Hela</a>
                             </i>
                         </small>
                     </span>
                     <label class="control-label ng-cloak has-error"
                         for="query-text" ng-show="query.submitted && (queryForm.text.$error.required || queryForm.text.$error.minlength)"
                         ng-cloak>
                         Your query is too short
                     </label>
                     <label class="control-label ng-cloak"
                         for="query-text" ng-show="query.submitted && (queryForm.text.$error.maxlength)"
                         ng-cloak>
                         Your query is too long
                     </label>
                 </div><!-- /form-group -->
             </fieldset>
         </form><!-- /form -->
    </div><!--/controller-->
    </div><!-- /row -->

</div> <!-- /container-->
</div> <!-- /navbar-->


<div class="masthead grid_24 nomenu" id="local-masthead" >
    <nav>
        <ul id="local-nav" class="grid_24" style="background-color:#057794">
            <li class=" first" id="home-menu"><a title="Home" href="http://localhost:8000/app/">Home</a></li>
            <li class="" id="browse-menu"><a title="Browse" href="http://localhost:8000/app/browse.html#/search?q=*:*">Browse</a></li>
            <li class="" id="api-menu"><a title="DDI API" href="http://localhost:8000/app/api.html">API</a></li>
            <li class=" last" id="about-prider-menu"><a title="Databases" href="http://localhost:8000/app/databases.html">Databases</a></li>
            <!-- If you need to include functional (as opposed to purely navigational) links in your local menu,
            add them here, and give them a class of "functional". Remember: you'll need a class of "last" for
            whichever one will show up last...
            For example: -->
            <li class="functional last"><a data-icon="\" class="icon icon-static" href="http://www.ebi.ac.uk/support/index.php?query=pride">Feedback</a></li>
            <li class="functional"><a class="" href="http://localhost:8000/about.html">About</a></li>
            <li class="functional"><a class="" href="http://localhost:8000/help.html">Help</a></li>
            <li class="functional" id="login-menu" hidden="true" ><a title="Login to PRIDE Archive" data-icon="l" class="icon icon-functional" href="http://www.ebi.ac.uk/pride/archive/login">Login</a></li>
            <li class="functional first" id="register-menu" hidden="true"><a title="Register" data-icon="5" class="icon icon-functional" href="http://www.ebi.ac.uk/pride/archive/register">Register</a></li>
            </ul>
    </nav>
</div><!-- local-masthead-->
