<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" ng-app="ddiApp" id="ng-app" xmlns:ng="http://angularjs.org" class="js flexbox canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths ng-scope">
<head>
    <style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}
    </style>
        <meta charset="utf-8">
        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
        <meta content="width=device-width" id="viewport">
        <meta content="DDI is an integrated resource to multiple omics repositories, including Proteomics, Metabolomics and Genomics" id="description">


        <title>Search: DDI</title>

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link type="text/css" href="css/ebi-global.css" rel="stylesheet">
        <link type="text/css" href="css/ebi-visual.css" rel="stylesheet">
        <link type="text/css" href="css/ddi.css" rel="stylesheet">
        <link type="text/css" href="css/prider.css" rel="stylesheet">
        <link type="text/css" href="css/main.css" rel="stylesheet">
        
        <!-- Favicons -->
        <link type="image/x-icon" href="static/img/icons/favicon.ico" rel="shortcut icon">
        <link href="static/img/icons/apple-touch-icon.png" rel="apple-touch-icon">
        <link href="static/img/icons/apple-touch-icon-57x57.png" sizes="57x57" rel="apple-touch-icon">
        <link href="static/img/icons/apple-touch-icon-60x60.png" sizes="60x60" rel="apple-touch-icon">
        <link href="static/img/icons/apple-touch-icon-72x72.png" sizes="72x72" rel="apple-touch-icon">
        <link href="static/img/icons/apple-touch-icon-76x76.png" sizes="76x76" rel="apple-touch-icon">
        <link href="static/img/icons/apple-touch-icon-114x114.png" sizes="114x114" rel="apple-touch-icon">
        <link href="static/img/icons/apple-touch-icon-120x120.png" sizes="120x120" rel="apple-touch-icon">
        <link href="static/img/icons/apple-touch-icon-144x144.png" sizes="144x144" rel="apple-touch-icon">
        <link href="static/img/icons/apple-touch-icon-152x152.png" sizes="152x152" rel="apple-touch-icon">
 <script src="js/vendor/jquery-1.10.1.min.js"></script>

</head>


<script> 
$(function(){
  $("#header").load("header.html"); 
  $("#footer").load("footer.html"); 
});
</script> 

<body class="level2">
    <div id="header"></div>

<div class="container">

<div class="row" >
</div>

<div class="row" >

      <div class="col-md-8" >
      <div ng-controller="QueryCtrl" class=" ng-scope panel panel-default" style="background-color:lightcyan; ">
      <h4> 
       Omics Discovery Index is an integrated multiple Omics Data Discovry site. 
      </h4> 
         <form novalidate name="queryForm" class="global-search" ng-submit="submit_query()">
             <!-- <fieldset> -->
                 <div class="form-group" ng-class="(query.submitted && queryForm.$invalid) ? 'has-error' : ''">
                     <div class="input-group">
                         <input type="text"
                         placeholder="organism, repository, gene, tissue, accession"
                         class="form-control"
                         id="query-text"
                         name="text"
                         tabindex="1"
                         ng-model="query.text"
                         ng-minlength="2"
                         ng-maxlength="1000"
                         autocomplete="off"
                         required>
                         <div class="input-group-btn">
                             <button type="submit" class="btn btn-primary">
                                 <i class="fa fa-search"></i> Search
                             </button>
                         </div><!-- /input-group-btn -->
                     </div><!--input-group -->
                     <span class="help-block example-searches">
                         <!-- <small> -->
                             <i>
                                 Examples:
                                 <a href="" rel="nofollow" ng-click="meta_search('cancer')">cancer</a>,
                                 <a href="" rel="nofollow" ng-click="meta_search('TAXONOMY:&quot;9606&quot;')">Homo sapiens</a>,
                                 <a href="" rel="nofollow" ng-click="meta_search('Orbitrap')">Orbitrap</a>,
                                 <a href="" rel="nofollow" ng-click="meta_search('Q9HAU5')">Q9HAU5</a>,
                                 <a href="" rel="nofollow" ng-click="meta_search('Phospho')">Phospho</a>,
                                 <a href="" rel="nofollow" ng-click="meta_search('Hela')">Hela</a>
                             </i>
                         <!-- </small> -->
                     </span>
                     <label class="control-label ng-cloak has-error"
                         for="query-text" ng-show="query.submitted && (queryForm.text.$error.required || queryForm.text.$error.minlength)"
                         ng-cloak>
                         Your query is too short
                     </label>
                     <label class="control-label ng-cloak"
                         for="query-text" ng-show="query.submitted && (queryForm.text.$error.maxlength)"
                         ng-cloak>
                         Your query is too long
                     </label>
                 </div><!-- /form-group -->
             <!-- </fieldset> -->
         </form><!-- /form -->
    </div><!--/controller-->
    </div>

    <div  class="col-md-4" >
    <div id="statisticspanel" class="panel panel-default" ng-controller="DatasetListsCtrl">

        <div class="" >
           <h4 class="icon icon-functional " data-icon="z" > Statistics</h4> 
        </div>
        <div class="panel-body ">
            <ul>
              <li ng-repeat="statisticdata in statisticList " ><strong>{{statisticdata.value }} </strong>  {{statisticdata.name}} </li>
            </ul>
        </div>
    </div>
    </div>
    

</div>

<!-- <div ng-controller="ResultsListCtrl" class="ng-scope container" ng-show="true" style=""> -->
<div class="row" >

    <div  class="col-md-4">
    <div id="hotwords" class="panel panel-default">
    </div>
    </div>


    <div  class="col-md-4">
    <div id="chart_tissues_organisms" class="panel panel-default">
    </div>
    </div>

    <div  class="col-md-4">
    <div id="chart_repos_omics" class="panel panel-default">
    </div>
    </div>




</div><!-- row -->



<div  class="row" ng-controller="DatasetListsCtrl">
    <div  class="col-md-4" >
    <div id="latestdatasetspanel" class="panel panel-default">

        <div class="" >
           <h4 class="icon icon-functional " data-icon="z" > Latest Datasets</h4> 
        </div>
        <div class="panel-body ">
            <ul>
              <li ng-repeat="dataset in latestList"> 
                <img src="css/Proteomics2.png" ng-show="proteomics_list.indexOf(dataset.source)>-1" style="width:15px;height:15px" /> 
                <img src="css/Metabolomics2.png" ng-show="metabolomics_list.indexOf(dataset.source)>-1" style="width:15px;height:15px"/> 
                <img src="css/Genomics2.png" ng-show="genomics_list.indexOf(dataset.source)>-1" style="width:15px;height:15px"/> 
                <a href={{"dataset.html#/"+dataset.id+"*"+repositories[dataset.source]}}>{{dataset.title |limitTo:40}} {{dataset.title.length>40?'...':''}}</a>
              </li>
            </ul>
        </div>
    </div>
    </div>  

    <div  class="col-md-4" >
    <div id="most_accessed_datasets" class="panel panel-default">

        <div class="" >
           <h4 class="icon icon-functional " data-icon="z" > Most Accessed Datasets</h4> 
        </div>
        <div class="panel-body ">
            <ul>
              <li ng-repeat="dataset in mostAccessedList"> 
                <img src="css/Proteomics2.png" ng-show="proteomics_list.indexOf(dataset.source)>-1" style="width:15px;height:15px" /> 
                <img src="css/Metabolomics2.png" ng-show="metabolomics_list.indexOf(dataset.source)>-1" style="width:15px;height:15px"/> 
                <img src="css/Genomics2.png" ng-show="genomics_list.indexOf(dataset.source)>-1" style="width:15px;height:15px"/> 
                <a href={{"dataset.html#/"+dataset.id+"*"+dataset.source}}>{{dataset.title |limitTo:40}} {{dataset.title.length>40?'...':''}}</a>
              </li>
            </ul>
        </div>
    </div>
    </div>  


    <div  class="col-md-4" >
    <div id="barchart_omicstype_annual" class="panel panel-default">

<!--         <div class="" >
           <h4  > act us</h4> 
        </div>
        <div class="panel-body ">
            <ul>
            </ul>
        </div> -->


    </div>
    </div>


</div> <!--row -->

<hr>

<div class="row">
    <div  class="col-md-4" >
    <div  class="panel panel-default">
    <div id="tweets-of-the-month" class="" >
        <h4 data-icon="N" class="icon icon-generic">
            News 
        </h4>
    </div>

    <div >
     <a href="https://twitter.com/@DDIndex" data-icon="T" class="justify-body-text icon icon-socialmedia">More tweets</a>
    </div>
    </div>
    </div>


    <div  class="col-md-4" >
    <div  class="panel panel-default">
      <div id="news-of-the-month" class="" >
        <h4 data-icon="N" class="icon icon-generic">
           Related Tools 
        </h4>
        <ul>
            <li>New #PXD001711 from the Gopal P Sapkota lab via PRIDE:  (Human) Casein kinase 2 (CK2) phosphorylates the deubiqu</li>
            <li>New #PXD001711 from the Gopal P Sapkota lab via PRIDE:  (Human) Casein kinase 2 (CK2) phosphorylates the deubiqu</li>
            <li>New #PXD001711 from the Gopal P Sapkota lab via PRIDE:  (Human) Casein kinase 2 (CK2) phosphorylates the deubiqu</li>
            <li>New #PXD001711 from the Gopal P Sapkota lab via PRIDE:  (Human) Casein kinase 2 (CK2) phosphorylates the deubiqu</li>
            <li>New #PXD001711 from the Gopal P Sapkota lab via PRIDE:  (Human) Casein kinase 2 (CK2) phosphorylates the deubiqu</li>
        </ul>
      </div>
      <div >
        <a href="https://twitter.com/@pride_ebi" data-icon="T" class="justify-body-text icon icon-socialmedia">More news</a>
      </div>
    </div>
    </div>


    <div  class="col-md-4" >
    <div  class="panel panel-default">
      <div id="FAQs" class="" >
        <h4 data-icon="N" class="icon icon-generic">
           About 
        </h4>
        <ul>
            <li>New #PXD001711 from the Gopal P Sapkota lab via PRIDE:  (Human) Casein kinase 2 (CK2) phosphorylates the deubiqu</li>
            <li>New #PXD001711 from the Gopal P Sapkota lab via PRIDE:  (Human) Casein kinase 2 (CK2) phosphorylates the deubiqu</li>
            <li>New #PXD001711 from the Gopal P Sapkota lab via PRIDE:  (Human) Casein kinase 2 (CK2) phosphorylates the deubiqu</li>
            <li>New #PXD001711 from the Gopal P Sapkota lab via PRIDE:  (Human) Casein kinase 2 (CK2) phosphorylates the deubiqu</li>
            <li>New #PXD001711 from the Gopal P Sapkota lab via PRIDE:  (Human) Casein kinase 2 (CK2) phosphorylates the deubiqu</li>
        </ul>
      </div>
      <div >
        <a href="https://twitter.com/@pride_ebi" data-icon="T" class="justify-body-text icon icon-socialmedia">More FAQs</a>
      </div>
    </div>
    </div>


</div> <!--row -->


</div> <!--main container of page -->

<!-- </div> ResultsListCtrl -->
<footer>
    <div id="footer"></div>
</footer>



 <script src="js/vendor/angular/angular.min.js"></script>
 <script src="js/vendor/angular/angular-animate.min.js"></script>
 <script src="js/vendor/angular/loading-bar/loading-bar.js"></script>
 <script src="js/vendor/underscore/underscore-min.js"></script>
 <script src="js/search/ddi.metadata.search.js"></script>
 <script src="js/getTweets.js"></script>
 <script src="js/pieCharts.js"></script>
 <script src="js/drawHotwords.js"></script>
 <script src="js/queue.v1.min.js"></script>
<!--
 <script src="js/gradientPie.js"></script>
 <script src="js/search/metadata.search.js"></script>
 <script src="js/vendor/hopscotch/js/hopscotch.js"></script>
 <script src="js/vendor/bootstrap/js/bootstrap.min.js"></script>
 <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
 <script src="js/search/sequence.search.js"></script>
 <script src="js/search/export-results.search.js"></script>
 <script src="js/vendor/query-string.js"></script>
 <script src="js/jquery.EuropePMCAbstracts.js"></script>
 <script src="js/vendor/DataTables-1.9.4/media/js/jquery.dataTables.min.js"></script>
 <script src="js/vendor/DataTables-plugins/integration/bootstrap/3/dataTables.bootstrap.js"></script>
 <script src="js/vendor/handlebars-v1.1.2.js"></script>
 <script src="js/guidedTour.js"></script>
 <script src="js/vendor/Genoverse/js/genomes/grch38.js"></script>
 <script src="js/vendor/Genoverse/js/genoverse.combined.js"></script>
 <script src="js/d3/d3.ExpertDatabaseSequenceDistribution.js"></script>
 <script src="js/d3/d3.speciesSunburst.js"></script>
 <script src="js/d3/d3.speciesTree.js"></script>
 -->
 <script src="js/vendor/d3/d3.min.js"></script>
 <script src="js/vendor/d3/d3.layout.cloud.js"></script> 
    

<script>

  pieCharts_Tissues_Organisms();
  pieCharts_Repos_Omics();
  barCharts_Years_Omicstypes();

  drawHotwords();


/**
*  get tweets and write into the page
*
*/

//var tf = new TweetFetcher('587537366514012160');
var tf = new TweetFetcher('599190509341515776');
 
tf.fetch(function(tweets)
{
  publishtweets(tweets);
}, 4);

</script>
</body></html>
