<div class="mt-card" style="margin-top: 0; height: 100%">
    <div class="mt-card-header">
        <h4 class="mt-card-title" style="margin-left: 5px">
            Most Accessed Datasets
        </h4>
    </div>
    <div class="mt-card-body">
        <ul class="nobullet" style="margin-top: 10px">

            <li *ngIf="isRequestMostAccessedDatasetFailed()" class="error-info">
                Sorry, the most accessed datasets service is temporarily unavailable.
            </li>
            <li *ngFor="let _dataset of mostAccessedDatasets " class="cut-text" style="line-height: 2">
                <app-omics-image [omics]="_dataset?.omicsType" [size]="'small'"></app-omics-image>
                <a [routerLink]="['/dataset',_dataset.source, _dataset.id]" style="margin-left: 5px" title={{_dataset.title}}>
                    {{_dataset.viewsCount|megaNumber}}
                    {{_dataset.title}}
                </a>
            </li>
        </ul>
    </div>
</div>
