<script>
  document.title = "OmicsDI Home";

</script>


<div ng-show="web_service_fail==='false'" class="container">


  <div id="" class="row" style="margin:10px">
  </div>


  <div class="row">

    <div class="col-md-12">
      <div ng-controller="QueryCtrl" class="ng-scope panel panel-default" style="">
        <!--      <div ng-controller="QueryCtrl" class=" ng-scope panel panel-default" style="background-color:lightcyan; ">   -->
        <h3 style="margin-top:10px">
        </h3>

        <form novalidate name="queryForm" class="global-search" ng-submit="submit_query()">
          <!-- <fieldset> -->
          <div class="form-group" ng-class="(query.submitted && queryForm.$invalid) ? 'has-error' : ''">
            <div class="input-group">
              autocomplete removed
              <div class="input-group-btn">
                <button type="submit" class="btn btn-primary ddi-btn">
                  <i class="fa fa-search"></i> Search
                </button>
              </div>
              <!-- /input-group-btn -->
            </div>
            <!--input-group -->
            <span class="help-block example-searches">
                         <!-- <small> -->
                             <i>
                                 Examples:
                                 <a href="" rel="nofollow" ng-click="example_query('cancer')">cancer</a>,
                                 <a href="" rel="nofollow" ng-click="example_query('TAXONOMY:&quot;9606&quot;')">Homo
                                     sapiens</a>,
                                 <a href="" rel="nofollow" ng-click="example_query('Orbitrap')">Orbitrap</a>,
                                 <a href="" rel="nofollow" ng-click="example_query('Q9HAU5')">Q9HAU5</a>,
                                 <a href="" rel="nofollow" ng-click="example_query('Phospho')">Phospho</a>,
                                 <a href="" rel="nofollow" ng-click="example_query('Hela')">Hela</a>
                             </i>
              <!-- </small> -->
                     </span>
            <!--
            <label class="control-label ng-cloak has-error"
                   for="query-text"
                   ng-show="query.submitted && (queryForm.text.$error.required || queryForm.text.$error.minlength)"
                   ng-cloak>
                Your query is too short
            </label>
            <label class="control-label ng-cloak"
                   for="query-text" ng-show="query.submitted && (queryForm.text.$error.maxlength)"
                   ng-cloak>
                Your query is too long
            </label>
            -->
          </div>
          <!-- /form-group -->
          <!-- </fieldset> -->
        </form>
        <!-- /form -->
      </div>
      <!--/controller-->
    </div>

    <div class="col-md-4">
    </div>


  </div>

  <!-- <div ng-controller="ResultsListCtrl" class="ng-scope container" ng-show="true" style=""> -->
  <div class="row">

    <div class="col-md-4">
      <app-hotwords></app-hotwords>
    </div>


    <div class="col-md-4">
      <div id="chart_tissues_organisms" class="panel panel-default" style="height:360px">
      </div>
    </div>

    <div class="col-md-4">
      <!--<div id="chart_repos_omics" class="panel panel-default" style="height:360px">
      </div>-->
      <repos-omics></repos-omics>
    </div>


  </div>
  <!-- row -->


  <div class="row">
    <div class="col-md-4">
      <app-latest-datasets></app-latest-datasets>
    </div>

    <div class="col-md-4">
      <app-most-accessed></app-most-accessed>
    </div>

    <div class="col-md-4">
      <div id="barchart_omicstype_annual" class="panel panel-default">

        <!--         <div class="" >
                   <h4  > act us</h4>
                </div>
                <div class="panel-body ">
                    <ul>
                    </ul>
                </div> -->
      </div>
    </div>
  </div>
  <!--row -->

  <hr>

  <div class="row">

    <div class="col-md-4">
      <app-tweets-news></app-tweets-news>
    </div>

    <div class="col-md-4">
      <app-statistics-panel></app-statistics-panel>
    </div>

    <div class="col-md-4">
      <app-home-about></app-home-about>
    </div>


  </div>
  <!--row -->
</div>
<!--main container -->
<script>
  /**
   *  get tweets and write into the page
   *
   */
  var tf = new TweetFetcher('599190509341515776');
  tf.fetch(function (tweets) {
    publishtweets(tweets);
  }, 4);

</script>