<div class="panel panel-default" style="height:260px">
  <div id="About" class="">
    <h4 data-icon="N" class="icon icon-generic">
      About
    </h4>
    <blockquote class="small callout-info ddi-blockquote">The Omics Discovery Index (OmicsDI) provides a Knowleage Discovery framework across a heterogeneous data (genomics, proteomics,
      trascriptomics and metabolomics).
      <a href="http://blog.omicsdi.org">Read More</a>.
    </blockquote>

    <blockquote class="small callout-info ddi-blockquote">OmicsDI project has been developed on <a href="https://github.com/BD2K-OmicsDI/" target="_blank">GitHub</a>, you can
      check or contribute to our development at (<a href="https://github.com/BD2K-OmicsDI/" target="_blank">here</a>)
    </blockquote>

    <blockquote class="small callout-info ddi-blockquote">The frontend page is based on the
      <a href="https://angular.io/">Angular</a>,
      <a href="https://d3js.org/">D3.js</a>
    </blockquote>

  </div>
  <div>
  </div>
</div>
