<div *ngIf="searchResult">
    <app-search-total [searchCount]="searchResult.count" [searchQuery]="query" (ignoreAllFacet)="removeAllFacet()">
    </app-search-total>
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-4 hidden-xs metasearch-facets">
            <div style="vertical-align: top; border:none;">
                <div *ngFor="let f of searchResult.facets">
                    <ng-container *ngIf="f.label === 'Omics type'">
                        <app-facet-omics [id]="f.id" [label]="f.label" [facetValues]="f.facetValues"
                                         [facetSelected]="selectedFacets.get(f.id) || []"
                                         [searchQuery]="searchQuery"
                                         (searchQueryChange)="facetValueChange($event)">
                        </app-facet-omics>
                    </ng-container>
                </div>

                <div *ngFor="let f of searchResult.facets">
                    <ng-container *ngIf="f.label === 'Organisms'">
                        <h3>{{f.label}}</h3>
                        <div class="metasearch-organism-facet force-scrollbars list-group-item"
                             style="overflow-x:hidden;">
                            <app-facet [id]="f.id" [label]="f.label" [facetValues]="f.facetValues"
                                       [facetSelected]="selectedFacets.get(f.id) || []"
                                       [searchQuery]="searchQuery"
                                       (searchQueryChange)="facetValueChange($event)">
                            </app-facet>
                        </div>
                    </ng-container>
                </div>

                <div *ngFor="let f of searchResult.facets">
                    <ng-container *ngIf="f.label !== 'Organisms'">
                        <h3>{{f.label}}</h3>
                        <div class="metasearch-organism-facet force-scrollbars list-group-item"
                             style="overflow-x:hidden;">
                            <app-facet [id]="f.id" [label]="f.label" [facetValues]="f.facetValues"
                                       [facetSelected]="selectedFacets.get(f.id) || []"
                                       [searchQuery]="searchQuery"
                                       (searchQueryChange)="facetValueChange($event)">
                            </app-facet>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="col-lg-10 col-md-9 col-sm-8 col-xs-12  metasearch-results" style="border-left: none;">
            <app-search-pager [totalResults]="searchResult.count" (dataControlChange)="requestData($event)"
                              [dataControl]="dataControl"></app-search-pager>
            <app-search-result [totalResults]="searchResult.count" [dataControl]="dataControl" [searchQuery]="searchQuery"
                               [searchResult]="searchResult" [databases]="databases" [profile]="profile">
            </app-search-result>
            <app-search-pager [totalResults]="searchResult.count"
                              (dataControlChange)="requestData($event)" [dataControl]="dataControl"></app-search-pager>
            <app-feedback [query]="query"></app-feedback>
        </div>

    </div>
</div>
<ng-template #paging_limit>
    <div class="mt-card" style="margin: 0">
        <div class="mt-card-header" style="border-bottom: 1px solid #dddddd; padding-bottom: 10px">
            <h4 class="mt-card-title" style="margin-left: 20px">
                Omics DI paging limit reached!
            </h4>
        </div>
        <div class="mt-card-body">
            Omics DI searching pagination currently supported maximum of {{250000 / dataControl.pageSize}} pages. Please considering to apply some filters to
            make your result more accurate.
        </div>
        <div class="mt-card-body">
            <div class="row edit-form">
                <div class="col-md-12 col-xs-12">
                    <button type="button" class="btn btn-default pull-right" style="margin-left: 5px" (click)="goToPage(1)">Back to first page</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>