<div>
        <div class="container-fluid3 col-md-12" *ngIf="profileX">

            <div class="col-md-9 col-sm-12 col-xs-12">
                    <app-profile-info [profile]="profileX"></app-profile-info>

                    <!-- app-profile-coauthors [profile]="profileService.profile" (change)="updateProfile()"></app-profile-coauthors -->

                    <div style="display:inline-block; width:100%" id="datasets">
                        <div class="mt-card">
                            <div class="mt-card-header">
                                <h4 class="mt-card-title" style="margin-left: 20px">
                                    Datasets
                                </h4>
                            </div>
                            <div class="mt-card-body" style="margin-top: 20px">
                                <div class="row">
                                    <label class="col-md-1 mt-col-form-label">Total: </label>
                                    <div class="col-md-10">
                                        <div class="form-group has-default bmd-form-group">
                                            {{this.profileX.dataSets.length}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul *ngIf="this.profileX?.dataSets && this.profileX?.dataSets.length>0" class="list-unstyled"
                            style="display:inline-block; width:100%" >
                            <li *ngFor="let d of this.dataSetDetails | paginate: { itemsPerPage: 6, currentPage: p }"
                                class="repeated-item ng-scope"
                                style="min-width:400px;">

                                <app-datasetwidget [d]="toDataset(d)" [allowSelect]="false" [allowClaim]="false"
                                                       [allowWatch]="false" [databases]="databases"
                                                       [allowDelete]="false"></app-datasetwidget>

                            </li>
                        </ul>
                        <pagination-controls (pageChange)="p = $event"
                                             previousLabel=""
                                             nextLabel=""
                                             *ngIf="this.profileX?.dataSets && this.profileX?.dataSets.length > 10"
                                             class="my-pagination">
                        </pagination-controls>
                    </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"
                 style="display:inline-block; vertical-align: top; text-align: right;"
                 id="profile_div" *ngIf="profileX">
                <div class="mt-card">
                    <div class="mt-card-header">
                        <h4 class="mt-card-title" style="margin-left: 20px">
                            Datasets statistics
                        </h4>
                    </div>
                    <div class="mt-card-body" style="margin-top: 20px">
                        <app-counting-data-dashboard [profile]="profileX"></app-counting-data-dashboard>
                    </div>
                </div>
                <!--<app-profile-annual-omicstype></app-profile-annual-omicstype>-->
                <!--<app-dashboard-profile-annual-omicstype [profile]="profileX"></app-dashboard-profile-annual-omicstype>-->
                <!--<app-profile-repo-omics></app-profile-repo-omics>-->
                <!--<app-dashboard-citations-count-profile [profile]="profileX"></app-dashboard-citations-count-profile>-->
                <!--<app-dashboard-reanalisys-count-profile [profile]="profileX"></app-dashboard-reanalisys-count-profile>-->
                <!--<app-dashboard-views-count-profile [profile]="profileX"></app-dashboard-views-count-profile>-->
                <!--<app-dashboard-connections-count-profile [profile]="profileX"></app-dashboard-connections-count-profile>-->


            </div>
        </div>

</div>
