  <div id="" class="container" style="margin:0px;background-color: #0099cc;">
    <div id="local-masthead" class="masthead row" style="margin-left:-15px;margin-right:-15px;margin-top: 15px">
      <!-- local-nav -->
      <nav style="float:bottom" class="col-md-12 col-sm-12 col-xs-12">
        <ul class="nav navbar-nav" id="local-nav">
          <li class=" first" id="home-image">
            <div>
              <a [routerLink]="['/']" title="OmicsDI Homepage"><img src ="./static/images/logo/imageedit_2_3220380406.png" alt="logo" style="padding-bottom: 8px;width: 41.848px;height: 28px;padding-right: 0px;padding-left: 20px;padding-right: 0px;padding-top: 1px;"></a>
            </div></li>
          <li><a [routerLink]="['/home']">Home</a></li>
          <li><a [routerLink]="['/search']">Browse</a></li>
          <li><a [routerLink]="['/api']">API</a></li>
          <li><a [routerLink]="['/database']">Databases</a></li>
          <li dropdown class="dropdown">
            <a dropdown-open class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">Help <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="http://blog.omicsdi.org/" alt="Help">Omics Help</a></li>
              <li><a href="/about" alt="About">About Omicsdi</a></li>
              <li *ngIf="auth.loggedIn()"><a data-icon="\" class="icon icon-static" routerLink="/profile/feedback" alt="Feedback">Feedback</a></li>
            </ul>
          </li>
          <!-- li *ngIf="auth.loggedIn()"><a [routerLink]="['/profile']">Profile</a></li -->

          <li AppLoginLauncher>
          </li>

          <li *ngIf="this.selectedService.selected() > 0"><a routerLink="/selected">({{this.selectedService.selected()}} selected)</a></li>

          <li *ngIf="!homePage" AppSearchBox class="col-md-6 col-sm-12 col-xs-12 functional">

          </li>

        </ul>

      </nav>
    </div>
    <!-- /local-nav -->
  </div>

<div id="wrapper" class="container" ng-show="true">
  <ng2-slim-loading-bar></ng2-slim-loading-bar>
  <!--main container of page -->
  <div style="min-height: 600px;">
    <router-outlet></router-outlet>
  </div>
  <!-- </div> ResultsListCtrl -->
  <footer>
    <div class="row" id="global-footer" style="border-top:none;">

      <nav class="col-md-12" id="global-nav-expanded">

        <div class="col-md-2 col-sm-12 col-xs-12">
          <a title="European Bioinformatics Institute homepage" target="_blank" class="no-icon"
             href="http://www.ebi.ac.uk/">
            <img class="img_at_footer ebi-img" alt="EMBL-EBI logo" src="img/logo/embl-ebi.jpg"
                 style="width:150px; margin-top:9px">
          </a>

          <a title="BD2K" target="_blank" class="no-icon" href="http://www.heartbd2k.org/">
            <img class="img_at_footer img" alt="" src="img/logo/bd2k.png"
                 style="width:150px; margin-top:9px">
          </a>
          <a href="http://metabolomexchange.org/" target="_blank">
            <img src="img/home/metabolome.png" class="img_at_footer"
                 style="width:150px; margin-top:9px"/></a>
          <a class="img_at_footer" href="http://www.proteomexchange.org/" target="_blank">
            <img src="img/home/proteome.png" style="width:150px; margin-top:9px"></a>
          <a class="img_at_footer" href="https://www.ebi.ac.uk/ega/" target="_blank">
            <img src="img/db-logos/ega_phenome_logo.jpg" style="width:80px; margin-top:9px">
          </a>
        </div>

        <div class="col-md-8 col-sm-8 col-xs-12">
          <h3 class="about">
            OmicsDI Databases
          </h3>


          <div class="col-md-3 col-sm-4 col-xs-4">
            <ul>

              <li><a target="_blank" href="http://www.ebi.ac.uk/pride/archive/" class="no-icon">PRIDE</a>
              </li>

              <li><a target="_blank" href="http://www.peptideatlas.org/" class="no-icon">PeptideAtlas</a>
              </li>

              <li><a target="_blank" href="https://massive.ucsd.edu/ProteoSAFe/datasets.jsp"
                     class="no-icon">MassIVE</a>
              <li><a target="_blank" href="http://gpmdb.thegpm.org/" class="no-icon">GPMDB</a>
              </li>

            </ul>
          </div>

          <div class="col-md-3 col-sm-4 col-xs-4">
            <ul>

              <li><a target="_blank" href="https://www.ebi.ac.uk/ega/" class="no-icon">EGA</a></li>


            </ul>
          </div>

          <div class="col-md-3 col-sm-4 col-xs-4">
            <ul>


              <li><a target="_blank" href="http://www.ebi.ac.uk/metabolights/" class="no-icon">MetaboLights</a>
              </li>

              <li><a target="_blank" href="http://www.metabolomicsworkbench.org/" class="no-icon">Metabolomics
                Workbench</a></li>
              <li><a target="_blank" href="https://www.metabolome-express.org/" class="no-icon">MetabolomeExpress</a>
              <li><a target="_blank" href="https://GNPS.ucsd.edu" class="no-icon">GNPS</a>
              </li>

            </ul>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-4">
            <ul>
              <li><a target="_blank" href="https://www.ebi.ac.uk/arrayexpress/" class="no-icon">ArrayExpress</a>
              </li>
              <li><a target="_blank" href="http://www.ebi.ac.uk/gxa/home"
                     class="no-icon">ExpressionAtlas</a></li>

            </ul>
          </div>


        </div>




        <div class="col-md-2 col-sm-4 col-xs-12">
          <h3 class="about">Information</h3>
          <ul>
            <li><a [routerLink]="['about']">About OmicsDI</a></li>
            <li><a [routerLink]="['database']">Databases</a></li>
            <li><a href="http://blog.omicsdi.org/">Help</a></li>
            <li><a [routerLink]="['api']">API</a></li>

            <li><a href="http://www.ebi.ac.uk/support/index.php?query=omics-di">Contact us</a></li>
            <li><a target="_blank" href="https://github.com/BD2K-DDI/" class="no-icon">Code on GitHub</a>
            </li>
            <li><a target="_blank" href="http://www.ebi.ac.uk/about/terms-of-use" class="no-icon">Terms of
              use</a>
            </li>
          </ul>
          <div style="color:white">OmicsDI 2.0</div>
        </div>

      </nav>

    </div>
  </footer>

</div>



