/*jQuery UI*/
.custom-combobox {
    position: relative;
    display: inline-block;
}
/*.custom-combobox-toggle {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*margin-left: -1px;*/
    /*padding: 0;*/
    /* support: IE7 */
    /**height: 1.7em;*/
    /**top: 0.1em;*/
/*}*/
.custom-combobox-input {
    margin: 0;
    padding: 0.3em;
}
/*End jQuery UI*/


.remove-filter-button {
    position:absolute;
    right:20px;
}
.aspera-content-hidden {
    display: none;
}

.search-hit {
    background-color: #FFFF00;
}

.filter-drop-down select {
    max-width: 50px;
    overflow:hidden;
}

.filter-drop-down option {
    max-width: 50px;
    overflow:hidden;
}

.search-menu {
    /*background-color: #E8E8E8;*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*border-bottom: 1px solid #c0c0c0;*/
}

.search-menu-right-align{
    /*background-color: #E8E8E8;*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*border-bottom: 1px solid #c0c0c0;*/
    text-align: right;
}

.search-menu li {
    display: inline;
}

.search-menu a {
    width: 20px;
}

.search-menu-right-align li {
    display: inline;
}

.search-menu-right-align a {
    width: 20px;
}

.search-header {
    background-color: #b7dddd;
    list-style-type: none;
    margin-bottom: 5px;
    padding: 3px;
    color: #4b4a4a;
    text-shadow: #ddf 1px 1px 0;
    font-weight: bold;

    /*border-bottom: 1px solid #c0c0c0;*/
}
.search-header li {
    display: inline;
    color: #4b4a4a;
    text-shadow: #ddf 1px 1px 0;
    font-weight: bold;
}

.search-header a:hover,
.search-header a:focus,
.search-header a:active {
    padding: 2px 3px;
    margin: 0 2px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-bottom: 0 none;
    background-color: #4b4e6b;
    color: #FFF;
}


.search-header  a.selected.desc {
    padding: 2px 3px 2px 15px;
    margin: 0 2px;
    border-radius: 3px;
    background: #e0f4ec url('../img/sortDesc.png') no-repeat 2px 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #4b4a4a;
    text-shadow: #ddf 1px 1px 0;
    font-weight: bold;
}

.search-header a.selected.asc {
    padding: 2px 3px 2px 15px;
    margin: 0 2px;
    border-radius: 3px;
    background: #e0f4ec url('../img/sortAsc.png') no-repeat 2px 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #4b4a4a;
    text-shadow: #ddf 1px 1px 0;
    font-weight: bold;
}

.search-header a.selected {
    padding: 2px 3px;
    margin: 0 2px;
    border-radius: 3px;
    background: #e0f4ec;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #4b4a4a;
    text-shadow: #ddf 1px 1px 0;
    font-weight: bold;
}

.project-widget {
    /*border: 1px solid #c0c0c0;*/
    margin-bottom: 10px;
}

.project-widget-accession {
    font-size: 1.2em;
    margin-bottom: 0;
}

.project-widget-title {
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
}

.project-widget-paragraph {
    font-size: 0.9em;
    margin-bottom: 5px;
}

.project-widget-tag {
    margin-top: 7px;
    margin-bottom: 10px;
    display: block;
}

.search-filters li {
    list-style-type: none;
}

.floating-window {
    border: 1px solid #c0c0c0;
}

.row {
//    clear: both;
//    margin-bottom: 1em;
}

.date-box {
    background-color: #E8E8E8;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #999999;
    display: block;
    float: left;
    clear: both;
    margin-right: 6px;
 //   padding: 6px 8px;
    width: 40px;
}

.date-box span {
    display: block;
    line-height: 1.3;
    text-align: center;
    text-shadow: #FFFFFF 0 1px 0;
}

.date-box .day {
    color: #777777;
    font-size: 90%;
    font-weight: bold;
}

.date-box .month {
    font-size: .9em;
    padding: 2px;
    text-transform: uppercase;
}

.justify-body-text {
    text-align: justify;
    font-size: 110%;
}

.project-title h3 {
    font-size: 3.0em;
}

.project-summary h5 {
    color: #B35047;
    font-weight: 500;
}

.project-summary .right-column {
    border: 1px solid #c0c0c0;
}

.project-title a,
.assay a,
.file-list a {
    border-bottom: 1px dotted;
}

.project-summary h4,
.publication h4,
.assay h4,
.instrument h4,
.statistics h4,
.additional h4,
.file-list h4 {
    color: #459e00;
    font-size: 2.0em;
    border-bottom: 1px solid #c0c0c0;
}

thead.fixedHeader tr {
    position: relative
}

html>body thead.fixedHeader tr {
    display: block;
    width: 100%;
}

html>body tbody.scrollContent {
    display: block;
    height: 250px;
    overflow-y: scroll;
    width: 100%;
}

th, td {
    border: 0;
    margin: 0;
}

.summary-table {
    clear:both;
    border: none;
}

.summary-table th {
    border-bottom: 2px solid #6f7277;
    padding:3px 8px;
    text-align: left;
    color: #4b4a4a;
    text-shadow: #ddf 1px 1px 0;
    overflow: hidden;
    white-space: nowrap
}

.summary-table td {
    padding:3px 5px;
}

.error {
    color: crimson;
}

.success {
    color: #51a351;
}

.block-label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.form-label {
    font-size: 14px;
}

.register-title-list {
    height: 28px;
    font-size: 16px;
    margin-bottom: 10.5px;
}

.input-box{
    height: 28px;
    width: 206px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 4px 4px 4px 4px;
    color: #555555;
    display: inline-block;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 10.5px;
    padding: 4px 6px;
    vertical-align: middle;
}

.input-area {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 4px 4px 4px 4px;
    color: #555555;
    display: inline-block;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 10.5px;
    padding: 4px 6px;
    vertical-align: middle;
}

.button {
    margin-top: 20px;
    margin-right: 10px;
    -moz-box-shadow:inset 0px 1px 0px 0px #caefab;
    -webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
    box-shadow:inset 0px 1px 0px 0px #caefab;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #62c462), color-stop(1, #5cb811) );
    background:-moz-linear-gradient( center top, #62c462 5%, #5cb811 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#5cb811');
    background-color:#62c462;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #51a351;
    display:inline-block;
    color:#ffffff;
    font-size:14px;
    font-weight:normal;
    padding:6px 24px;
    text-decoration:none;
}

.button:hover {
     background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #62c462) );
     background:-moz-linear-gradient( center top, #5cb811 5%, #62c462 100% );
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#62c462');
     background-color:#5cb811;
 }

.button:active {
      position:relative;
      top:1px;
  }

.gray-button {
    margin-top: 20px;
    margin-right: 10px;
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#777777;
    font-family:arial;
    font-size:14px;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:1px 1px 0px #ffffff;
}

.gray-button:hover {
     background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
     background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
     background-color:#dfdfdf;
 }

.gray-button:active {
      position:relative;
      top:1px;
  }

.zoom{
    height: 20px;
    width: 20px;
}

#thumb{
    height: 112px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border:1px solid #222222;
    text-align: center;
}

#chartContainer{
    width: 100%;
    position: relative;
}

#chartTable, #thumbTable {
    border: hidden;
    text-align: center;
}

#chartTable tr td, #thumbTable tr td{
     border: hidden;
}

#thumbTable{
    background: #70BDBD;
    width: 100%;
}

.chartCell{
    text-align: center;
    width: 70%;
    height: 100%;
}

.descriptionCell{
    width: 25%;
    height: 100%;
    position: absolute;
    font-size: 16px;
}

.heading {
    font-size: 26px;
    font-family: helvetica;
    color: #70BDBD;

}

.showLimit {
    margin-left: 10px;
    margin-right: 10px;
}


/* table sorting */

a.sortLink {
    color: transparent;
    text-decoration: none;
    border-bottom: none;
}

.sortButton {
    background: url('../img/sort.png') no-repeat;
    vertical-align: middle;
    width: 11px;
    height: 15px;
    display: inline-block;
}

.sortDescButton {
    background: url('../img/sortDesc.png') no-repeat;
    vertical-align: text-bottom;
    width: 11px;
    height: 7px;
    display: inline-block;
    color: #4b4a4a;
    text-shadow: #ddf 1px 1px 0;
}

.sortAscButton {
    background: url('../img/sortAsc.png') no-repeat;
    vertical-align: text-bottom;
    width: 11px;
    height: 7px;
    display: inline-block;
    color: #4b4a4a;
    text-shadow: #ddf 1px 1px 0;
}

.reactome-analyse {
    background-color: azure;
    border-color: blue;
    color: blue;
    border-radius: 5px;
}
.reactome-analyse-disabled {
    background-color: lightgrey;
    border-color: black;
    color: slategrey;
    border-radius: 5px;
}


.reactome-loading {
    background: url('../img/spinner.gif') no-repeat;
    background-position: left center;
    color: blue;
}

.reactome-results {
    background-color: mintcream;
    border-color: green;
    color: green;
    border-radius: 5px;
}

.reactome-no-results {
    color: red;
}

.reactome-error {
    color: red;
}

img.table_icon  {
    height: 16px;
    border: 3px solid lightgrey;
    border-radius: 5px;
    text-decoration: none;
    margin: 0;

}

img.table_icon_hl {
    height: 16px;
    border: 3px solid yellow;
    border-radius: 5px;
    text-decoration: none;
    margin: 0;

}
td a.no_visual_link {
    border-bottom-color: transparent;
}

.modified_aa {
    font-weight: bold;
    color: #ff5d5f;
}


.col_pager {
    font-weight: normal;
    vertical-align: bottom;
    white-space: nowrap;
    /*background-color: #EEEEEE;*/
    background-color: #b7dddd;
    font-size: 100%;
    padding: 3px;
    margin-bottom: 1px;

}

 .col_pager div {
     /*color: #487676;*/
     /*color: white;*/
     color: #4b4a4a;
     text-shadow: #ddf 1px 1px 0;
     font-weight: bold;
 }

.col_pager a {
    padding: 2px 3px 0 3px;
    margin: 0 2px;
    /*color: #487676;*/
    /*color: white;*/
    /*color: #4b4a4a;*/
    /*text-shadow: #ddf 1px 1px 0;*/
    /*font-weight: bold;*/

}


.col_pager a:link,
.col_pager a:visited {
}

.col_pager a:hover,
.col_pager a:focus,
.col_pager a:active {
    padding: 2px 3px;
    margin: 0 2px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-bottom: 0 none;
    background-color: #4b4e6b;
    color: #FFF;
}

.col_pager span {
    padding: 2px 3px;
    margin: 0 2px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #e0f4ec;
    color: #4b4a4a;
    text-shadow: #ddf 1px 1px 0;
    font-weight: bold;
}


.pr-stats {
    position: relative;
    text-align: center;
    pointer-events: none;
    margin: 0
}

.pr-pager {
    float: left;
    text-align: left
}

.pr-page-size {
    float: right;
    text-align: right
}

.pr-pager,
.pr-page-size {
    width: 33%
}

/* tags */

a.biomedical {
    font-style: italic;
    font-size: 0.9em;
    padding: 2px 8px 2px 17px;
    background: #d3ceee url('../static/img/favico/tag.png') no-repeat 2px 2px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: inline;
}

a.technical {
    font-style: italic;
    font-size: 0.9em;
    padding: 2px 8px 2px 17px;
    background: #add0fa url('../static/img/favico/tag.png') no-repeat 2px 2px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: inline;
}

a.biological {
    font-style: italic;
    font-size: 0.9em;
    padding: 2px 8px 2px 17px;
    background: #b7eeba url('../static/img/favico/tag.png') no-repeat 2px 2px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: inline;
}

a.cardiovascular {
    font-style: italic;
    font-size: 0.9em;
    padding: 2px 8px 2px 17px;
    background: #e6a29f url('../static/img/favico/tag.png') no-repeat 2px 2px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: inline;
}

a.metaproteomics {
    font-style: italic;
    font-size: 0.9em;
    padding: 2px 8px 2px 17px;
    background: #f4ddb7 url('../static/img/favico/tag.png') no-repeat 2px 2px;
    /*background-image:*/
    /*linear-gradient(*/
    /*to right,*/
    /*#e6c9be,*/
    /*#ffe4c2,*/
    /*#faffcb,*/
    /*#caeec0);*/
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: inline;
}


a.other {
    font-style: italic;
    font-size: 0.9em;
    padding: 2px 8px 2px 17px;
    background: #EEE url('../static/img/favico/tag.png') no-repeat 2px 2px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: inline;
}

a.highlighted {
    font-style: italic;
    font-size: 0.9em;
    padding: 2px 8px 2px 17px;
    background: #f2f2c5 url('../static/img/favico/tag.png') no-repeat 2px 2px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: inline;
}

a.no_visual_link {
    border-bottom-color: transparent;
}

.disable {
    color: lightgrey;
    cursor: pointer;
}

.inspector_window {
    width: 60px;
    cursor: pointer;
}
