<div style="width:80%; margin-left: auto; margin-right: auto; display:block;">

    <div style="display:flex;">
    <div style="border:solid 1px red; min-height:400px; min-width:400px; display: block; flex: 1; margin:10px; padding:10px;">
      <div class="caption">Saved Searches</div>
      <a [routerLink]="['/dashboard/savedsearch']">details</a>
    </div>

    <div style="border:solid 1px blue; min-height:400px; min-width:400px;display: block; flex: 1; margin:10px; padding:10px;">
      <div class="caption">Update Notifications</div>
      <a [routerLink]="['/dashboard/notifications']">details</a>
    </div>
    </div>


  <div style="display:flex;">
    <div style="border:solid 1px green; min-height:400px; min-width:400px;display: block;flex: 1; margin:10px; padding:10px;">
      <div class="caption">Selected Datasets</div>
      <a [routerLink]="['/dashboard/selected']">details</a>
    </div>

    <div style="border:solid 1px orange; min-height:400px; min-width:400px;display: block;flex: 1; margin:10px; padding:10px;">
      <div class="caption">Feedback</div>
      <a [routerLink]="['/dashboard/feedback']">details</a>
    </div>
  </div>


</div>
