<div class="mt-card" style="height: 100%; margin-top: 0">
    <div class="mt-card-header">
        <h4 class="mt-card-title" style="margin-left: 5px">
            News
        </h4>
    </div>
    <div class="mt-card-body" style="margin-top: 10px">
        <div id="tweets-of-the-month" class="" style="margin-bottom: 15px">
        </div>

        <div style="margin: 0 0 10px 8px">
            <a href="https://twitter.com/OmicsDI" data-icon="T"
               class="justify-body-text icon icon-socialmedia">More tweets</a>
        </div>
    </div>
</div>