<!--<app-counting-data-dashboard [datasets]="dataSets"></app-counting-data-dashboard>-->
<!--<app-dashboard-citations-count [datasets]="dataSets"></app-dashboard-citations-count>-->
<!--<app-dashboard-reanalisys-count-profile [datasets]="dataSets"></app-dashboard-reanalisys-count-profile>-->
<!--<app-dashboard-views-count-profile [datasets]="dataSets"></app-dashboard-views-count-profile>-->
<!--<app-dashboard-profile-annual-omicstype [datasets]="dataSets"></app-dashboard-profile-annual-omicstype>-->
<app-dashboard-claim-count-profile [datasets]="dataSets"></app-dashboard-claim-count-profile>
<app-dashboard-citations-count-profile [datasets]="dataSets"></app-dashboard-citations-count-profile>
<app-dashboard-reanalisys-count-profile [datasets]="dataSets"></app-dashboard-reanalisys-count-profile>
<app-dashboard-views-count-profile [datasets]="dataSets"></app-dashboard-views-count-profile>
<app-dashboard-connections-count-profile [datasets]="dataSets"></app-dashboard-connections-count-profile>