.ddi-card-panel2 {
  background-color: #fff;
  border-radius: 2px;
  margin: 1rem 0rem 0.8rem 1rem;
  padding: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  display: block;
}

.grey{
  background-color: silver;
  cursor:pointer;
}

.white{
  background-color: white;
  cursor:pointer;
}


a.selected{
  font-weight: bold;
}

a.unselected{
  font-weight: normal;
  margin-right: 22px;
}
