 <div class="row" *ngIf="profile">
    <div class="col-md-12 col-xs-12">
        <div class="align-top" style="margin-bottom: 20px">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding: 0">
                <div class="caption">My Datasets</div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding: 0">
                <div *ngIf="(profile?.dataSets?.length>0)"
                     style="float: right; position:relative; top: 15px;">
                    <div class="score"
                         style="background-color: #FFF; color: black; border: dotted 1px black; cursor:pointer;"
                         (click)="deleteClick();">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        <span> Delete All</span>
                    </div>
                </div>
            </div>
            <div style="clear: both"></div>
        </div>


        <app-profile-result [profile]="profile" (change)="updateProfile()"></app-profile-result>

        <div *ngIf="!(profile?.dataSets?.length>0)"
            style="text-align:left; position: relative; top: 50%; left:0%;">
	     No Datasets Claimed, please use <a [routerLink]="['/search']"
                                               [queryParams]="{q:profile?.userName}">search</a> to
            find and claim your dataset.
        </div>
    </div>
</div>
