<div style="height: 29px;float:right;margin-top:0px;z-index:1;">
  <form novalidate name="queryForm" class="local-search">
    <div class="form-group ">
      <div class="input-group ">
        <app-autocomplete-n></app-autocomplete-n>
        <div class="input-group-btn">
          <button [mdMenuTriggerFor]="advancedSearchMenu" type="button" class="btn btn-primary ddi-btn">
            <i class="fa fa-caret-down" aria-hidden="true"></i>
            Advanced
          </button>
          <button type="submit" ng-disab class="btn btn-primary ddi-btn" (click)="search()" >
            <i class="fa fa-search"></i> Search
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<md-menu #advancedSearchMenu="mdMenu" [overlapTrigger]="false" style="max-width:700px;">
  <div style="min-width:600px">
  <div class="alert alert-info">
    <div style="position: relative;">
      <strong>Query preview</strong><br/>
      {{query.toQueryString()}}
      <button type="submit" class="btn btn-primary" style="padding:3px 6px;float: right; position: relative; top:-20px;" ng-click="submit_adv_query(query_output)">
        <i class="fa fa-search" style="font-size: 30px"></i>
      </button>
    </div>
    <span ng-bind-html="query_output"></span>
  </div>
  <query-builder [(query)]="query" (click)="doNotPropagate($event);"></query-builder>
  </div>
</md-menu>
