.side-nav {
    background-color: #393d41;
    /*box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);*/
}

.side-nav>li>ul>li>a {
    color: white;
}

.side-nav>li>a {
    color: white;
}

.side-nav li {
    border-bottom: 0px solid #393d41;
}

.user {
    padding: 20px;
    width: 100%;
    cursor: pointer;
}

.user span {
    color: white;
    margin-left: 10px;
    border: none;
    background-color: inherit;
}

#nav-bar {
    left: 240px;
    width: 240px;
    margin-left: -240px;
    position: fixed;
    height: 100%;
    top: 0;
    padding-top: 50px;
    z-index: 999;
}
#nav-bar>li>a {
    width: 240px;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: #337ab7;
}