<nav>
    <div id="navbar-collapse" class="navbar-collapse" [class.collapse]="isCollapsed" *ngIf="profile">
        <ul class="nav navbar-nav side-nav" id="nav-bar">
            <li style="width: 100%; margin-bottom: 20px">
                <div class="user line-bottom" style="display: flex; align-items: baseline">
                    <div style="width: 40px; height: 40px; display: inline-block" [routerLink]="['/dashboard','profile']">
                        <img [src]="this.profileImageUrl" class="image-rounded">
                    </div>
                    <span style="display: inline-block" [routerLink]="['/dashboard','profile']">{{profile.userName}}</span>
                    <span style="margin-left: auto; cursor: pointer" class="hidden-lg hidden-md hidden-sm" (click)="isCollapsed = !isCollapsed">
                        <i class="fa fa-times" aria-hidden="true"></i></span>
                </div>
            </li>
            <li>
                <a [routerLink]="['/dashboard', 'dashboard']" [routerLinkActive]="'activated'"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
            </li>
            <li>
                <a [routerLink]="['/dashboard','update']" [routerLinkActive]="'activated'"><i class="fa fa-fw fa-file-text-o"></i> Edit
                    Profile</a>
            </li>
            <li>
                <a [routerLink]="['/dashboard','claimed']" [routerLinkActive]="'activated'"><i class="fa fa-fw fa-bar-chart"></i> My Datasets</a>
            </li>
            <li>
                <a [routerLink]="['/dashboard','selected']" [routerLinkActive]="'activated'"><i class="fa fa-fw fa-shopping-basket"></i> Selected
                    Datasets</a>
            </li>
            <li *ngIf="isAdmin">
                <!--- data-toggle="collapse" data-target="#profileLinks" -->
                <a data-toggle="collapse" data-target="#adminNav">
                    <i class="fa fa-fw fa-user-circle"></i> Admin Zone<i class="fa fa-fw fa-caret-down"></i>
                </a>
                <ul id="adminNav" class="collapse">
                    <li>
                        <a [routerLink]="['/dashboard', 'merge']" [routerLinkActive]="'activated'"><i class="fa fa-fw fa-code-fork"></i> Merge Datasets</a>
                    </li>
                    <li>
                        <a [routerLink]="['/dashboard', 'unmerge']" [routerLinkActive]="'activated'"><i class="fa fa-fw fa-undo"></i> Unmerge Datasets</a>
                    </li>
                </ul>
            </li>
            <li>
                <a [routerLink]="['/dashboard','feedback']" [routerLinkActive]="'activated'"><i class="fa fa-fw fa-commenting-o"></i> Feedback</a>
            </li>
        </ul>
    </div>
</nav>
<div id="wrapper">
    <button type="button" class="btn btn-primary hidden-lg hidden-md hidden-sm" (click)="isCollapsed = !isCollapsed">Open sidebar</button>
    <router-outlet></router-outlet>
</div>