html body div span p{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    margin: 0 auto;
    width: 98%;
    max-width: none;
}

.socialnetwork {
    height: 50px;
    width: 50px;
}

.container_ddi {
    width: 100%;
}
/**/
#ddi-local-masthead {
/*background-color : #70bdbd;*/
    background-color: #0099cc;
    /*background-color: rgba(188, 216, 224, 1);*/
}

input:invalid, textarea:invalid {
    background-color: #fff;
}

.ddi-header-logo {
    margin-top: 15px;
    width: 300px;
}

.container-main {
    min-height: 500px;
    padding-top: 10px;
    width: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.scrollbox {
    overflow: auto;
}

.vertical-track {
    width: 16px;
}

.vertical-handle {
    width: 16px;
}

a.disabled {
    color: #AAAAAA;
    cursor: default;
    pointer-events: none;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat",  "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.1;
}

body {
    /*font-family: "Lucida Grande", "Droid Sans", Arial, Helvetica, sans-serif;*/
    font-family: "Montserrat",  "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.legend {
    border: 1px solid #555555;
    border-radius: 5px 5px 5px 5px;
    font-size: 1.0em;
    margin: 10px;
    padding: 8px;
}

.bld {
    font-weight: bold;
}

.hotword:hover {
    cursor: pointer;
    opacity: .8 !important;
}

.host_dataset{
    font-weight:bold;
}

.node:hover, .slice:hover, .bar:hover, .legend:hover, .treemap_node, .arc path:hover {
    cursor: pointer;
    opacity: .8 !important;
}

#insidecycle {
    opacity: .8;
}

.piesvg {
    width: 420px;
    height: 310px;
}

path.slice {
    stroke-width: 2px;
}

polyline {
    opacity: .3;
    stroke: black;
    stroke-width: 2px;
    fill: none;
}

form {
    color: #444;
    font-family: Helvetica, sans-serif;
    font-size: 100%;
}

h1, h2, h3, h4, h5, h6, p, form, table, body.table-layout table.data {
    padding-bottom: 0;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 0;
}

form {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    font-weight: inherit;
    font-style: normal;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-indent: 0;
}

::-moz-selection {
    background-clip: border-box;
    background-origin: padding-box;
    background: #71b360 none repeat scroll 0 0;
    background-size: auto auto;
    color: #fff;
    text-shadow: none;
}

.panel-default {
    border-bottom-color: #dddddd;
    border-top-color: #dddddd;
}

.panel {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-radius: 4px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-right-width-value: 1px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}

.panel-default > .panel-heading {
    background-color: #f5f5f5;
    border-bottom-color: #dddddd;
    border-top-color: #dddddd;
    color: #333333;
}

.panel-heading {
    border-bottom: 1px solid;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 15px;
}

.panel-title {
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 0;
}

.text-center {
    text-align: center;
}

.panel-body::before, .panel-body::after {
    content: " ";
    display: table;
}

h3.panel-title {
    color: black;
}

.list-group-item {
    margin-top: 10px;
}

input[type=checkbox]:not(old),
input[type=radio ]:not(old) {
    width: 2em;
    margin: 0;
    padding: 0;
    font-size: 1em;
    opacity: 0;
}

input[type=checkbox]:not(old) + label,
input[type=radio ]:not(old) + label {
    display: inline-block;
    margin-left: -2em;
    line-height: 1.5em;
}

input[type=checkbox]:not(old) + label > span,
input[type=radio ]:not(old) + label > span {
    display: inline-block;
    width: 0.875em;
    height: 0.875em;
    margin: 0.25em 0.5em 0.25em 0.25em;
    border: 0.0625em solid rgb(192, 192, 192);
    border-radius: 0.25em;
    background: rgb(224, 224, 224);
    background-image: -moz-linear-gradient(rgb(240, 240, 240), rgb(224, 224, 224));
    background-image: -ms-linear-gradient(rgb(240, 240, 240), rgb(224, 224, 224));
    background-image: -o-linear-gradient(rgb(240, 240, 240), rgb(224, 224, 224));
    background-image: -webkit-linear-gradient(rgb(240, 240, 240), rgb(224, 224, 224));
    background-image: linear-gradient(rgb(240, 240, 240), rgb(224, 224, 224));
    vertical-align: bottom;
}

input[type=checkbox]:not(old):checked + label > span,
input[type=radio ]:not(old):checked + label > span {
    background-image: -moz-linear-gradient(rgb(224, 224, 224), rgb(240, 240, 240));
    background-image: -ms-linear-gradient(rgb(224, 224, 224), rgb(240, 240, 240));
    background-image: -o-linear-gradient(rgb(224, 224, 224), rgb(240, 240, 240));
    background-image: -webkit-linear-gradient(rgb(224, 224, 224), rgb(240, 240, 240));
    background-image: linear-gradient(rgb(224, 224, 224), rgb(240, 240, 240));
}

input[type=checkbox]:not(old):checked + label > span:before {
    content: "\2713";
    display: block;
    width: 1em;
    color: rgb(153, 104, 202);
    font-size: 1.4em;
    line-height: 0.5em;
    margin-left:-2px;
    text-align: left;
    text-shadow: 0 0 0.0714em rgb(115, 153, 77);
    font-weight: bold;
}

input[type=radio]:not(old):checked + label > span > span {
    display: block;
    width: 0.5em;
    height: 0.5em;
    margin: 0.125em;
    border: 0.0625em solid rgb(115, 153, 77);
    border-radius: 0.125em;
    background: rgb(153, 204, 102);
    background-image: -moz-linear-gradient(rgb(179, 217, 140), rgb(153, 204, 102));
    background-image: -ms-linear-gradient(rgb(179, 217, 140), rgb(153, 204, 102));
    background-image: -o-linear-gradient(rgb(179, 217, 140), rgb(153, 204, 102));
    background-image: -webkit-linear-gradient(rgb(179, 217, 140), rgb(153, 204, 102));
    background-image: linear-gradient(rgb(179, 217, 140), rgb(153, 204, 102));
}

.block {
    display: block;
}

.chart_tooltip {
    position: absolute;
    /*border: 1px solid #000;           */
    text-align: center;
    min-width: 100px;
    padding: 3px;
    font: 12px sans-serif;
    background: black;
    color: white;
    overflow-wrap: normal;
    width: auto;
    border-radius: 4px;
    pointer-events: none;
}

#error-row p {
    color: red;
    font-size: 300%;
}

.error-info {
    color: blue;
    font-size: 130%;
}

#error-row {
    margin-top: 10px;
}

a.keywords {
    margin-left: 2px;
    margin-right: 2px;
    font-style: italic;
    font-size: 0.9em;
    padding: 2px 8px 2px 17px;
    /*    background: #b7eeba url('../img/favico/tag.png') no-repeat 2px 2px;*/
    background: lightskyblue url('../img/favico/tag.png') no-repeat 2px 2px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
}

.tabactive {
    border: 1px dotted gray;
    border-bottom-color: white;
}

.next, .prev {
    display: block;
    height: 43px;
    left: -39px;
    top: 107px;
    width: 24px;
    z-index: 101;
}

.next {
    left: 90%;
}

.no-margin {
    margin: 0;
}

#tablink {
    border-bottom-style: inherit;
}

form fieldset {
    background-color: #f7f7f7;
    border: 0px solid #eee;
    color: inherit;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 0.5em 0.5em 0em 1em;
}

.nobullet {
    list-style-type: none;
    margin-left: -30px;
}

#content p {
    font-size: 16px;
}

.image_a:link, .image_a:visited {
    border-bottom-color: inherit;
    border-bottom-style: none;
}

.domain {
    fill: none;
    stroke: black;
    stroke-width: 1;
}

.ddi-prev {
    position: absolute;
    width: 15px;
    height: 23px;
    top: 120px;
    left: -10px;
    font-size: 3em;
    color: grey;
    cursor: pointer;
    cursor: hand;
}

.ddi-next {
    position: absolute;
    width: 15px;
    height: 23px;
    top: 120px;
    right: 8px;
    font-size: 3em;
    color: grey;
    cursor: pointer;
    cursor: hand;
}

a, a:hover, a:focus {
    text-decoration: none;
}

div#local-masthead ul {
    background-color:#0099cc;
    /*background-color: #3F7D97;*/
}

div#local-masthead ul li {
    border-right: hidden;
}

div#local-masthead ul li a:hover, div#local-masthead ul li a:focus, div#local-masthead ul li a:active {
    border-bottom: 3px solid #71b360;
    color: #fff;
    background-color:#0099cc;
    opacity: 0.8;
}

ul#local-nav li.functional {
    background-color: transparent;
    float: right;
}

.align-justify {
    text-align: justify;  }

.nav_float {
    position: fixed;
    top: 10em;
    right: 6em;
}

.tick line {
    opacity: 0.2;
}

/*for the treemap*/
.treemap_node {
    border: solid 1px grey;
    font: 10px sans-serif;
    line-height: 12px;
    overflow: hidden;
    position: absolute;
    text-indent: 2px;
}

.highlighted {
    background: yellow;
}

.img_at_footer {
    margin: 9px 0 0;
}

.num_notifs {
    border-radius: 5px;
    width: 50%;
    margin-top: 2px;
    background: #00b7ea; /* Old browsers */
    background: -moz-linear-gradient(top, #00b7ea 0%, #0052bf 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00b7ea), color-stop(100%, #0052bf)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #00b7ea 0%, #0052bf 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #00b7ea 0%, #0052bf 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #00b7ea 0%, #0052bf 100%); /* IE10+ */
    background: linear-gradient(to bottom, #00b7ea 0%, #0052bf 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00b7ea', endColorstr='#0052bf', GradientType=0); /* IE6-9 */
    text-align: center;
    color: white;
    text-decoration: none;
    font-weight: inherit;
}

/*
 * for the socialnetwork sharing
 * */
.simple-skinnyleft {
    color: #ddd;
    float: left;
    font-size: 30px;
    margin-bottom: 50px;
    text-align: center;
    width: 40px;
}

.simple-skinnyleft i {
    display: block;
    margin: 30px 0 0;
}

.simple-skinnyleft a {
    color: #ccc;
}

.simple-skinnyleft a.tweetcountwrapper:hover {
    color: #55acee;
}

.simple-skinnyleft a.facebookcountwrapper:hover {
    color: #46629e;
}

.simple-skinnyleft a.emailcountwrapper:hover {
    color: #333;
}

.simple-skinnyleft a.tumblrcountwrapper:hover {
    color: #304e67;
}

.simple-skinnyleft a.linkedincountwrapper:hover {
    color: #007bb6;
}

.simple-skinnyleft a.whatsappcountwrapper:hover {
    color: #34af23;
}

.simple-skinnyleft a.googlepluscountwrapper:hover {
    color: #dd4b39;
}

.simple-skinnyleft a, .simple-skinnyleft a:hover {
}

.simple-skinnyleft a:hover {
    text-decoration: none;
}

.simple-skinnyleft .fa-envelope {
    font-size: 26px;
}

.simple-skinnyleft .fa-facebook {
    padding-left: 0;
}

.simple-skinnyleft .tweetcount {
    color: #ccc;
    display: block;
    font-family: freight-sans-pro, helvetica;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 40px;
}

.simple-skinnyleft .facebookcount {
    color: #ccc;
    display: block;
    font-family: freight-sans-pro, helvetica;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 40px;
}

/*
.simple-skinnyleft .tumblrcountwrapper {
    display: block;
    margin-top: 40px;
}
.simple-skinnyleft .linkedincountwrapper {
    display: block;
    margin-top: 40px;
}
.simple-skinnyleft .whatsappcountwrapper {
    display: block;
    margin-top: 40px;
}
*/

#card {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-family: "proximaNova", helvetica Neue;
    font-weight: 600;
    -webkit-appearance: none;
    border-radius: 0;
    width: 220px;
    margin: auto;
    margin-top: 120px;
}

#card h2 {
    text-shadow: 0 1px 0 #27ae60;
    font-size: 1.62em;
    color: #2ecc71;
    display: block;
    width: 100%;
    padding-bottom: .4em;
    margin-bottom: .6em;
    border-bottom: 2px solid #2ecc71;
    /*box-shadow*/
    -webkit-box-shadow: 0 1px 0 #27ae60;
    -moz-box-shadow: 0 1px 0 #27ae60;
    box-shadow: 0 1px 0 #27ae60;
}

#card a {
    color: #27ae60
}

#card label {
    font-size: 10px;
    display: block;
    float: right;
    clear: left;
    line-height: 2.4;
    margin: -30px 0 0;
    padding: 0;
    width: 190px;
    height: 20px;
}

input[type="submit"] {
    clear: both;
    /*    float: left;*/
    display: block;
    border: 1px solid #ccc;
    background: ghostwhite;
    margin: 0;
    padding: 6px 10px;
    width: 99%;
    height: 32px;
    outline: 0;
    color: #34495e;
    font-size: 1.2em;
}

input[type=submit] {
    background: #27ae60;
    color: #ecf0f1;
    border: 0;
    border-bottom: 2px solid #2ecc71;
    margin: 10px 0 0;
}

input[type=text]:not([value*=" "]):active,
input[type=text]:not([value*=" "]):focus {
    /*box-shadow*/
    /*-webkit-box-shadow: inset 4px 0px 0 #2ecc71;*/
    /*-moz-box-shadow: inset 4px 0px 0 #2ecc71;*/
    /*box-shadow: inset 4px 0px 0 #2ecc71;*/
    /*padding-left: 10px;*/
    border-color: #00b7ea;
    background-color: white;
}

input[type=password]:not([value*=" "]):active,
input[type=password]:not([value*=" "]):focus {
    /*box-shadow*/
    -webkit-box-shadow: inset 4px 0px 0 #2ecc71;
    -moz-box-shadow: inset 4px 0px 0 #2ecc71;
    box-shadow: inset 4px 0px 0 #2ecc71;
    padding-left: 10px;
    border-color: #00b7ea;
}

input[type=submit]:active,
input[type=submit]:focus {
    background: #2ecc71;
    color: #ecf0f1;
    border: 0;
    position: relative;
    top: 1px;
    border-bottom: 1px solid;
}

input[type="file"], input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], textarea {
    width: 100%;
    border: 1px solid #D5D5D5;
    padding: 6px 6px 7px;
}

.ddi-btn {
    height: 32px;
}

.input-block {
    display: block;
}

.ddi-card-panel {
    background-color: #fff;
    border-radius: 2px;
    margin: 1rem 0rem 0.8rem 0rem;
    padding: 10px;
}

.ddi-blockquote {
    margin: 6px 6px 6px 10px;
    padding: 5px;
}

.ddi-pagination{
    margin-left:1.5rem;
}

/*------------------------------------------------------------------
[5.6 Angular.js]
*/
/* required to hide Angular templates before they are rendered */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    -webkit-transition: 0.75s ease-out all;
    -moz-transition: 0.75s ease-out all;
    -o-transition: 0.75s ease-out all;
    transition: 0.75s ease-out all;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    opacity: 0;
}

.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
    opacity: 1;
}

/*------------------------------------------------------------------
[5.7 Metadata search]
*/
.metasearch-facets {
    font-size: smaller;
    padding-left: 20px;
    white-space: nowrap;
    margin-bottom: 5px;
}

.metasearch-facet-values li {
    margin: 3px 0px;
}

.metasearch-organism-facet {
    overflow: auto;
    max-height: 200px;
}

.metasearch-results {
    border-left: 1px solid #eeeeee;
}

.metasearch-results h4, .metasearch-results ul li ul li, .metasearch-facets h3 {
    padding-left: 0;
}

button.load-more {
    margin: 20px 0px;
}

.metasearch-facets hr {
    margin-bottom: 5px;
}

.hidden {
    display: none;
}

/*------------------------------------------------------------------
[5.12. Databaeses page]
*/

/* Grow. Based on Hover: http://ianlunn.github.io/Hover/ */
.hvr-grow {
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.expert-db-card:hover img,
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

/* do not hide links on mobile devices */
@media (min-width: 992px) {
    /* hide the links */
    .expert-db-card a {
        text-decoration: none;
        color: inherit;
    }

    /* style links on hover */
    .expert-db-card:hover a {
        color: #428bca;
        /*text-decoration: underline;*/
    }

    .expert-db-card:hover a:hover {
        color: #2a6496;
    }

    /* make text less prominent */
    .expert-db-card .panel-body {
        color: #767676;
    }

    /* make text more prominent on hover */
    .expert-db-card:hover .panel-body {
        color: #333;
    }

    /* adjust panel height for large screen sizes */
    .expert-db-card .panel-body {
        min-height: 110px;
    }
}

/* adjust panel height for medium screen sizes */
@media (max-width: 992px) {
    .expert-db-card .panel-body {
        min-height: 90px;
    }
}

/* adjust panel height for small screen sizes */
@media (max-width: 768px) {
    .expert-db-card .panel-body {
        min-height: 30px;
    }
}

.expert-db-card-header {
    margin-left: 10px;
    margin-top: 10px;
    display: inline-block;
}

.expert-db-card-header a {
    font-size: 18px;
}

.expert-db-card-logo {
    display: inline;
}

.expert-db-logo img {
    max-width: 130px;
    max-height: 100px;
    margin-top: 3px;
    margin-right: 3px;
}

.expert-db-card .panel-body {
    padding: 10px;
}

.expert-db-card .panel-footer {
    padding: 6px 10px;
    background-color: #DDD;
    font-size: 78%;
}

.homepage-panel .panel-body {
    padding: 10px;
}

.homepage-panel .panel {
    margin-bottom: 10px;
}

.homepage-callout {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*------------------------------------------------------------------
[5.4 API docs affix]
*/

ul.affix {
    position: fixed;
    top: 50px;
    width: 260px;
}

ul.affix-top {
    position: static;
}

ul.affix-bottom {
    position: absolute;
}

/* First level of nav */
.sidenav {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #F5F5F5;
    border-radius: 5px;
}

/* All levels of nav */
.sidebar .nav > li > a {
    display: block;
    padding: 5px 20px;
    /*  color: #BF8E3E;*/
    color: #5bc0de;
}

.sidebar .nav > li > a:hover,
.sidebar .nav > li > a:focus {
    text-decoration: none;
}

.sidebar .nav > .active > a,
.sidebar .nav > .active:hover > a,
.sidebar .nav > .active:focus > a {
    font-weight: bold;
    background-color: transparent;
}

/* Nav: second level */
.sidebar .nav .nav {
    margin-bottom: 8px;
}

.sidebar .nav .nav > li > a {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 30px;
    font-size: 90%;
}

.sidebar .nav .nav .nav > li > a {
    padding-left: 40px;
    font-size: 85%;
}

.enrichedWords {
    color: greenyellow;
}

.tooltip-inner {
    background-color: #00acd6;
    color: #fff;
}

/*.tooltip.top .tooltip-arrow {*/
/*border-top-color: #00acd6;*/
/*}*/

/*.tooltip.right .tooltip-arrow {*/
/*border-right-color: #00acd6;*/
/*}*/

/*.tooltip.bottom .tooltip-arrow {*/
/*border-bottom-color: #00acd6;*/
/*}*/

/*.tooltip.left .tooltip-arrow {*/
/*border-left-color: #00acd6;*/
/*}*/

.download_as_box {
    text-align: right;
    display: block;
    margin-top: -15px;
    margin-bottom: -1px;
}


#ontology_highlight_box {
    text-align: right;
    display: block;
    margin-bottom: -10px;
}

#buttons_highlight_box{
    margin-bottom: 10px;
    text-align: right;

}
.ontology-highlight-on{
    color: #234979;
}

#ontology_highlight_box .i.fa.fa-pencil-square-o {
    margin-right: 5px;
}

.synonym_even{
    color: wheat;
}

.synonym_odd{
    color: white;
}

a.biological{
    margin-right:10px;
}

input[type=range][orient=vertical]
{
    writing-mode: vertical-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    margin-top: 20px;
    margin-left: 5px;
    width: 8px;
    height: 250px;
    padding: 0 5px;
}

/*
  We're using CSS transitions for when
  the enter and move events are triggered
  for the element that has the .repeated-item
  class
*/
.repeated-item.ng-enter, .repeated-item.ng-move {
    -webkit-transition:1.5s linear all;
    -moz-transition:1.5s linear all;
    -o-transition:1.5s linear all;
    transition:1.5s linear all;
    opacity:0;
}

/*
 The ng-enter-active and ng-move-active
 are where the transition destination properties
 are set so that the animation knows what to
 animate.
*/
.repeated-item.ng-enter.ng-enter-active,
.repeated-item.ng-move.ng-move-active {
    opacity:1;
}

/*
  We're using CSS keyframe animations for when
  the leave event is triggered for the element
  that has the .repeated-item class
*/
.repeated-item.ng-leave {
    -webkit-animation:1.5s my_animation;
    -moz-animation:1.5s my_animation;
    -o-animation:1.5s my_animation;
    animation:1.5s my_animation;
}

@keyframes my_animation {
    from { opacity:1; }
    to { opacity:0; }
}

/*
  Unfortunately each browser vendor requires
  its own definition of keyframe animation code...
*/
@-webkit-keyframes my_animation {
    from { opacity:1; }
    to { opacity:0; }
}

@-moz-keyframes my_animation {
    from { opacity:1; }
    to { opacity:0; }
}

@-o-keyframes my_animation {
    from { opacity:1; }
    to { opacity:0; }
}

.ddi-transparent-button{
    border: hidden;
    background: transparent;
}

.json-button{
    background-color: #4CAF50; /* Green */
    border: 1px solid #4CAF50;
    border-bottom-color: #4CAF50 !important;
    padding: 8px 16px;
    text-align: center;
    border-radius: 12px;
    font-size: 10px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.03);
    color: white;
}

.json-button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.json-button:hover {
    background-color: white; /* Green */
    color: black;
}

.xml-button{
    background-color: #E4753D;
    border: 1px solid #E4753D;
    border-bottom-color: #E4753D !important;
    padding: 8px 16px;
    text-align: center;
    border-radius: 12px;
    font-size: 10px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.03);
    color: white;
}

.xml-button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.xml-button:hover {
    background-color: white; /* Green */
    color: black;
}

.ddi-icon-in-reanalysis{
    width:15px;
    height:10px;
    margin-bottom:4px
}

.sameline
{
    Display: Inline-Block;
}

.adv-dropdown-menu {
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 10000;
    width: 300px;
    max-height: 170px;
    overflow-x: scroll;
    overflow-y: scroll;
    padding: 2px 0;
    margin: 2px 0 0;
    text-align: left;
    list-style: none;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    font-size: 12px;
}

.adv-dropdown-menu>input {
    display: block;
    /*width: 96%;*/
    margin-left: 2px;
    border-radius: 4px;
}

.adv-dropdown-menu ul li {
    display: block;
    margin: 3px 0;
    padding: 3px 4px;
    clear: both;
    font-weight: 400;
    white-space: nowrap;
}

.adv-dropdown-menu ul li:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

/* database pagination item styling*/
.my-pagination .ngx-pagination {
  text-align: center;
  padding: 0 9px;
}

.my-pagination .ngx-pagination li {
  cursor: pointer;
}

.my-pagination .ngx-pagination li.disable {
  cursor: default;
}

.ngx-pagination {
    padding: 0 9px 0 0;
}

div#local-masthead ul.dropdown-menu {
  background-color: white;
}

div#local-masthead ul.dropdown-menu li{
  width : 100%;
}

div#local-masthead ul.dropdown-menu li a{
  color: black;
}


div#local-masthead ul.dropdown-menu li a:hover, div#local-masthead ul.dropdown-menu li a:focus, div#local-masthead ul.dropdown-menu li a:active {
  border-bottom: 3px solid #71b360;
  background-color: white;
  color: black;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
  background-color: #0099cc;
}

a {
  cursor: pointer !important;
}

ul li.no-match-found {display: none;}

.dot-button{
 /*   margin-left: 2px;
    margin-right: 2px;
    font-style: italic;
    font-size: 0.9em;
    padding: 2px 8px 2px 17px;
    background: lightskyblue;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;


    */
    border-radius: 5px;
    display: inline-block;
    padding:2px 8px 2px 17px;

    background-color: #FFF; color: black; border: dotted 1px black; cursor: pointer;
}

.align-bottom{
    position: absolute;
    bottom:0;
    right:0;
    margin-bottom: 10px;
}

.nav-element {
    color:white !important;
    text-decoration:none;
    border-color: transparent;
}

#item1,#item2,#item3,#item4,#item5,#item6,#item7,#item8{
    color:white !important;
    text-decoration:none;
    border-color: transparent;
}

.nav-element:hover {
    background-color:#2e6da4 !important;
}

#item1:hover {
    background-color:#2e6da4 !important;
}
#item2:hover{
    background-color:#2e6da4 !important;
}
#item3:hover{
    background-color:#2e6da4 !important;
}
#item4:hover{
    background-color:#2e6da4 !important;
}
#item5:hover{
    background-color:#2e6da4 !important;
}
#item6:hover{
    background-color:#2e6da4 !important;
}
#item7:hover{
    background-color:#2e6da4 !important;
}
#item8:hover{
    background-color:#2e6da4 !important;
}

#item-div1,#item-div2,#item-div3{
    text-align:center;
}

#item-div1:hover{
    background-color:#2e6da4 !important;
}
#item-div2:hover{
    background-color:#2e6da4 !important;
}
#item-div3:hover{
    background-color:#2e6da4 !important;
}

#navbardrop{
    color:white !important;
    text-decoration:none;
    border-color: transparent;
}

.pictureFrame {
    margin-bottom: 15px;
}

/* DISQOUS */

#disqus_thread {
    padding: 15px;
}

@media (min-width: 992px) {
    #app-social {
        width: 6%;
    }
    #rightpanel {
        width: 27%;
    }
}

.activated {
    background-color: #337ab7 !important;
    color: white !important;
}


img.image-rounded {
    object-fit: cover;
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

@media (min-width: 768px) {
    #wrapper {
        padding-left: 240px;
    }
}

.line-bottom:after {
    content: '';
    background-color: rgba(180,180,180,.3);
    right: 15px;
    bottom: 0;
    position: absolute;
    height: 1px;
    width: calc(100% - 30px);
}

.panel-row .mt-card-body {
    padding: 5px !important;
}

.mt-card {
    /*box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);*/
}

.mt-card {
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 6px;
    color: #333;
    background: #fff;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    font-size: .875rem;
}

.mt-card [class*=mt-card-header-] {
    margin: 0 15px;
    padding: 0;
    position: relative;
}

.mt-card .mt-card-title, .mt-card .mt-card-header.mt-card-header-text .mt-card-title {
    margin-top: 15px;
    color: #3C4858;
}

.mt-card .mt-card-header .mt-card-title {
    margin-bottom: 3px;
}

.mt-card .mt-card-body {
    padding: .9375rem 20px;
    position: relative;
}

.mt-card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.mt-card, .mt-card .mt-card-header h4 {
    font-weight: 300;
}

.mt-card .mt-card-body .mt-col-form-label, .mt-card .mt-card-body .mt-label-on-right {
    text-align: right;
}

.control-label {
    text-align: right;
}

app-image-cropper > div {
    text-align: center;
}

.html-render {
    all: initial;
}

.html-render * {
    all: unset;
}

.home-search .autocomplete input {
    border: 1px solid #dddddd !important;
    padding: 7px 7px 6px 7px !important;
}

.form-control {
    border-radius: 0;
    box-shadow: none;
}

.caption {
    font-size: 30px;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: 300;
}
.grey .tag::before, .grey .tag::after {
    background: rgb(232, 232, 232) !important;
}

@media (min-width: 992px) {
    .container_ddi > .panel-row {
        display: flex;
        flex: 1;
    }
    .panel-row > div[class^="col-"]:first-child {
        padding: 0 7px 0 15px;
    }

    .panel-row > div[class^="col-"]:last-child {
        padding: 0 15px 0 7px;
    }

    .panel-row > div[class^="col-"] {
        padding: 0 7px;
    }
}

@media (min-width: 100px) {
    .row > div[class^="col-"] {
        padding: 0 7px 0 15px;
    }
    #search-filter {
        display: none;
    }
}

@media (min-width: 992px) {
    .row > div[class^="col-"] {
        padding: 0 15px 0 15px;
    }
    #search-filter {
        display: inline-block;
    }
}

.cut-text {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 95%;
    white-space: nowrap;
}

.badge-circle {
    fill: white;
}

.grey .badge-circle {
    fill: silver !important;
}

.circular-chart {
    display: block;
    margin: 5px 10px;
}

.circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 5;
}

.circle {
    fill: none;
    stroke-width: 4;
    stroke-linecap: round;
}

.percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: .8em;
    text-anchor: middle;
}
.rosette-chart:hover + .tooltip-rosette {
    display: block !important;
    transition: all 1s ease-in-out;
}

.tooltip-rosette:hover {
    display: block !important;
}

a:hover {
    color: #00b7ea;
}
.nav-link {
    border: 0 !important;
}