<div class="contactInfo" *ngIf="contactInfoPresent()" id="contactInfo">
    <div class="contactInfoCaption">Contact Info</div>

    <p class="affiliation" *ngIf="this.profile?.affiliation">
        <span class="icon icon-generic" data-icon="]">&nbsp;{{this.profile?.affiliation}}</span>
    </p>

    <p class="email" *ngIf="this.profile?.email">
        <a class="icon icon-generic" data-icon="E"
           href="mailto:{{this.profile?.email}}">&nbsp;{{this.profile?.email}}</a>
    </p>

    <p class="homepage" *ngIf="this.profile?.homepage">
        <a class="icon icon-generic" data-icon="y"
           href="{{this.profile?.homepage}}">&nbsp;Go to page</a>
    </p>

    <p class="orcid" *ngIf="this.profile?.orcid">
        <a class="icon icon-socialmedia" data-icon="O"
           href="http://europepmc.org/search?query=AUTHORID:%22{{this.profile?.orcid}}%22&amp;sortby=Date">&nbsp;{{this.profile?.orcid}}</a>
    </p>

    <p class="publicProfile" *ngIf="this.profile?.isPublic">
        <a [routerLink]="['/profile',this.profile.userId]" title="OmicsDI public profile">
            <img src="img/logo/OmicsDI-icon-3.png" style="width:16px; height:16px;position:relative; top:-3px;">&nbsp;{{this.profile?.userName}}</a>
    </p>

</div>
