<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a [routerLink]="['/home']">Home</a></li>
          <li><a [routerLink]="['/database']">Databases</a></li>
          <li><a [routerLink]="['/profile']">Profile</a></li>
          <li><a [routerLink]="['/about']">About</a></li>
          <li><app-login-launcher>launch</app-login-launcher></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
