<div id="gsc_rsb" role="navigation" style="padding-top:30px;">
  <div class="gsc_rsb_s" id="gsc_rsb_co"><h3 class="gsc_rsb_h">Social connections
  </h3>
    <ul class="gsc_rsb_a">
      <li><span class="gsc_rsb_aa"><img src="assets/orcid.gif"/>&nbsp;<a href="#">Orcid</a>
            <span *ngIf="orcidConnected">&nbsp;&nbsp;&nbsp;&nbsp;<img src="/assets/link.png"></span>
            <span style="float:right; padding-right:60px;">
              <ui-switch size="small" [(ngModel)]="orcidConnected"></ui-switch>
            </span>
          </span>
      </li>
      <li><span class="gsc_rsb_aa"><img src="assets/elixir.gif"/>&nbsp;<a href="#">Elixir</a>
            <span *ngIf="elixirConnected">&nbsp;&nbsp;&nbsp;&nbsp;<img src="/assets/link.png"></span>
            <span style="float:right; padding-right:60px;">
              <ui-switch size="small" [(ngModel)]="elixirConnected"></ui-switch>
            </span>
      </span></li>
      <li><span class="gsc_rsb_aa"><img src="assets/facebook.gif"/>&nbsp;<a href="#">Facebook</a>
            <span *ngIf="facebookConnected">&nbsp;&nbsp;&nbsp;&nbsp;<img src="/assets/link.png"></span>
            <span style="float:right; padding-right:60px;">
              <ui-switch size="small" [(ngModel)]="facebookConnected"></ui-switch>
            </span>
          </span></li>
      <li><span class="gsc_rsb_aa"><img src="assets/twitter.gif"/>&nbsp;<a href="#">Twitter</a>
                    <span *ngIf="twitterConnected">&nbsp;&nbsp;&nbsp;&nbsp;<img src="/assets/link.png"></span>
            <span style="float:right; padding-right:60px;">
              <ui-switch size="small" [(ngModel)]="twitterConnected"></ui-switch>
            </span>
      </span></li>
      <li><span class="gsc_rsb_aa"><img src="assets/github.png"/>&nbsp;<a href="#">GitHub</a>
                    <span *ngIf="githubConnected">&nbsp;&nbsp;&nbsp;&nbsp;<img src="/assets/link.png"></span>
            <span style="float:right; padding-right:60px;">
              <ui-switch size="small" [(ngModel)]="githubConnected" (change)="githubConnectedChanged()"></ui-switch>
            </span>
      </span></li>

      <li class="gsc_rsb_fade"></li>
    </ul>
  </div>
</div>
