<div style="padding-bottom:20px">
  <h3 style="display: inline;">
                                 <i class="fa fa-search"></i>
                <span id="metasearch-results-count" class="ng-binding ng-scope">{{searchCount}}</span>
                                Results
  </h3>
  <span>
        <a class="showall" (click)="showAllClick()"><i class="fa fa-filter" aria-hidden="true"></i> show all</a>&nbsp;&nbsp;
        <a class="showall" (click)="saveSearchClick()"><i class="fa fa-bookmark-o" aria-hidden="true"></i> save search</a>&nbsp;&nbsp;
        <a class="showall" ngxClipboard [cbContent]="searchQuery" (click)="copyQueryClick()" ><i class="fa fa-files-o" aria-hidden="true"></i> copy query</a>
  </span>
</div>
