<div class="caption">{{this.profile && this.profile.userName}}</div>


<div *ngIf="!editMode">
<div class="pictureFrame" style="">

<img
  [src]="this.profileImageUrl"
  width="150"
  id="gsc_prf_pup"
  style="width:150px;">
<form method="post" enctype="multipart/form-data"
      action="#"
      id="gsc_prf_puf">
  <div style="text-align: center; font-size: 10px; font-style: italic; font-weight: normal;">
    <input type="file" id="file" name="file" ng2FileSelect [uploader]="uploader" (change)="fileChangeEvent($event)" class="inputfile" />
    <label for="file" style="font-size: 10px; font-style: italic; font-weight: normal;">change photo</label>
  </div>
</form>
</div>

<div class="bioContainer">
<div class="bio">{{this.profile && this.profile.bio}}<a class="editBioLink" (click)="editClicked()">Edit Bio</a>
</div>
</div>
</div>


<div *ngIf="editMode">

  <div class="pictureFrameEdit" style="">

    <img
      [src]="this.profileImageUrl"
      width="150"
      id="gsc_prf_pup"
      style="width:150px;">
  </div>

  <!-- ##################### Edit Mode ############################# -->
  <div class="editContainer">
    <form *ngIf="editMode" >
      <div class="gsc_prf_el">Name</div>
      <div  class="gsc_prf_ev">
        <div [formGroup]="form" class="gs_in_txtf">
          <input
            [(ngModel)]="this.profile && this.profile.userName"
            type="text"
            class="gs_in_txt"
            name="userName"
            maxlength="250"
            formControlName="name">
          <div class="gs_in_txts gs_gray"></div>
        </div>
      </div>
      <div class="gsc_prf_el">Orcid ID</div>
      <div class="gsc_prf_ev">
        <div class="gs_in_txtf">
          <input
            [(ngModel)]="this.profile && this.profile.orcid"
            type="text"
            class="gs_in_txt"
            name="orcid"
            maxlength="250" autocapitalize="off">
          <div class="gs_in_txts gs_gray"></div>
        </div>
      </div>
      <div class="gsc_prf_el">Affiliation</div>
      <div class="gsc_prf_ev">
        <div class="gs_in_txtf">
          <input
            [(ngModel)]="this.profile && this.profile.affiliation"
            type="text"
            class="gs_in_txt"
            name="affiliation"
            maxlength="250" autocapitalize="off">
          <div class="gs_in_txts gs_gray"></div>
        </div>
      </div>
      <div class="gsc_prf_el">Primary email</div>
      <div class="gsc_prf_ev">
        <div class="gs_in_txtf">
          <input type="text" class="gs_in_txt"
                 [(ngModel)]="this.profile && this.profile.email"
                 name="email"
                 maxlength="250" autocapitalize="off" autocorrect="off">
          <div class="gs_in_txts gs_gray"></div>
        </div>
      </div>
      <div class="gsc_prf_el">Homepage</div>
      <div class="gsc_prf_ev">
        <div class="gs_in_txtf">
          <input type="text" class="gs_in_txt" name="homepage"
                 [(ngModel)]="this.profile && this.profile.homepage"
                 maxlength="250"
                 autocapitalize="off" autocorrect="off">
          <div class="gs_in_txts gs_gray"></div>
        </div>
      </div>
      <div class="gsc_prf_el">Bio</div>
      <div class="gsc_prf_ev">
        <div class="gs_in_txtf">
                    <textarea [(ngModel)]="this.profile && this.profile.bio"
                              style="height:100px;"
                              class="gs_in_txt"
                              name="bio"></textarea>
          <div class="gs_in_txts gs_gray"></div>
        </div>
      </div>
      <div id="gsc_prf_ep">
        <input [(ngModel)]="this.profile && this.profile.isPublic" type="checkbox" name="isPublic" id="gsc_prf_p"
               value="1" checked="" style="opacity:100;" >
        <label for="gsc_prf_p" style="padding-left:20px;">Make my profile public</label>
      </div>


      <div id="gsc_prf_eb">
        <button (click)="submitClicked()" type="submit" id="gsc_prf_ebs" name="save_profile_btn" class=" gs_btn_act">
                <span class="gs_wr">
                <span class="gs_lbl">Save</span>
                <span class="gs_bsc">
                <span class="gs_bs"></span></span></span>
        </button>
        <button (click)="cancelClicked()" type="button" id="gsc_prf_btni" aria-controls="gsc_prf_i" class="">
          <span class="gs_wr"><span class="gs_lbl">Cancel</span></span>
        </button>
      </div>
    </form>
  </div>
</div>


<div class="contactInfo" *ngIf="contactInfoPresent()">
    <div class="contactInfoCaption">Contact Info</div>

    <p class="affiliation" *ngIf="this.profile?.affiliation">
      <span class="icon icon-generic" data-icon="]"> {{this.profile && this.profile.affiliation}}</span>
    </p>

    <p class="email" *ngIf="this.profile?.email">
      <a class="icon icon-generic" data-icon="E" href="mailto:{{this.profile && this.profile.email}}"> {{this.profile && this.profile.email}}</a>
    </p>

    <p class="homepage" *ngIf="this.profile?.homepage">
      <a class="icon icon-generic" data-icon="y" href="{{this.profile && this.profile.homepage}}"> {{this.profile && this.profile.homepage}}</a>
    </p>

    <p class="orcid" *ngIf="this.profile?.orcid">
      <a href="http://europepmc.org/search?query=AUTHORID:%22{{this.profile.orcid}}%22&amp;sortby=Date">
        <img src="http://www.ebi.ac.uk/web_guidelines/images/logos/orcid/orcid_16x16.png" style="position:relative; top:-3px;"> {{this.profile && this.profile.orcid}}</a>
    </p>

  <p class="publicProfile" *ngIf="this.profile?.isPublic">
    <a href="{{this.publicProfileUrl()}}" title="OmicsDI public profile">
      <img src="/img/logo/OmicsDI-icon-3.png" style="width:16px; height:16px;position:relative; top:-3px;"> {{this.publicProfileUrl()}}</a>
  </p>

</div>






