<div style="text-align: center; padding-top: 20px;">

<img
  [src]="this.profileImageUrl"
  sizes="print 52px,(max-width:599px) 49px,(max-width:981px) 65px,98px"
  id="gsc_prf_pup">
<form method="post" enctype="multipart/form-data"
      action="#"
      id="gsc_prf_puf">
  <div style="text-align: center; font-size: 10px; font-style: italic; font-weight: normal;">
    <input type="file" id="file" name="file" ng2FileSelect [uploader]="uploader" (change)="fileChangeEvent($event)" class="inputfile" />
    <label for="file" style="font-size: 10px; font-style: italic; font-weight: normal;">change photo</label>
  </div>
</form>
</div>


<!-- ##################### View Mode ############################ -->
<div *ngIf="!editMode" style="padding-top:20px;">
  <div id="gsc_prf_in">{{profileService.profile.userName}}</div>
  <div class="gsc_prf_il">{{profileService.profile.affiliation}}</div>
  <div class="gsc_prf_il">{{profileService.profile.bio}}</div>
  <div class="gsc_prf_il">{{profileService.profile.orcid}}</div>

<div style="text-align: center; padding-top:20px;">
  <button (click)="editClicked()" *ngIf="!editMode"  type="button" id="gsc_prf_btne" aria-controls="gsc_prf_e"
          class="gs_btnC gs_in_ib gs_btn_hph"><span class="gs_wr"><span
    class="gs_lbl">Edit</span><span class="gs_ico"></span></span></button>
</div>

</div>


<!-- ##################### Edit Mode ############################# -->
      <form *ngIf="editMode" id="gsc_prf_ef">
        <div class="gsc_prf_el">Name</div>
        <div  class="gsc_prf_ev">
          <div [formGroup]="form" class="gs_in_txtf">
            <input
              [(ngModel)]="profileService.profile.userName"
              type="text"
              class="gs_in_txt"
              name="userName"
              maxlength="250"
              formControlName="name">
            <div class="gs_in_txts gs_gray"></div>
          </div>
        </div>
        <div class="gsc_prf_el">Orcid ID</div>
        <div class="gsc_prf_ev">
          <div class="gs_in_txtf">
            <input
              [(ngModel)]="profileService.profile.orcid"
              type="text"
              class="gs_in_txt"
              name="orcid"
              maxlength="250" autocapitalize="off">
            <div class="gs_in_txts gs_gray"></div>
          </div>
        </div>
        <div class="gsc_prf_el">Affiliation</div>
        <div class="gsc_prf_ev">
          <div class="gs_in_txtf">
            <input
              [(ngModel)]="profileService.profile.affiliation"
              type="text"
              class="gs_in_txt"
              name="affiliation"
              maxlength="250" autocapitalize="off">
            <div class="gs_in_txts gs_gray"></div>
          </div>
        </div>
        <div class="gsc_prf_el">Primary email</div>
        <div class="gsc_prf_ev">
          <div class="gs_in_txtf">
            <input type="text" class="gs_in_txt"
                   [(ngModel)]="profileService.profile.email"
                   name="email"
                   maxlength="250" autocapitalize="off" autocorrect="off">
            <div class="gs_in_txts gs_gray"></div>
          </div>
        </div>
        <div class="gsc_prf_el">Homepage</div>
        <div class="gsc_prf_ev">
          <div class="gs_in_txtf">
            <input type="text" class="gs_in_txt" name="homepage"
                   [(ngModel)]="profileService.profile.homepage"
                   maxlength="250"
                   autocapitalize="off" autocorrect="off">
            <div class="gs_in_txts gs_gray"></div>
          </div>
        </div>
        <div class="gsc_prf_el">Bio</div>
        <div class="gsc_prf_ev">
          <div class="gs_in_txtf">
                    <textarea [(ngModel)]="profileService.profile.bio"
                              style="height:100px;"
                              class="gs_in_txt"
                              name="bio"></textarea>
            <div class="gs_in_txts gs_gray"></div>
          </div>
        </div>
        <div id="gsc_prf_ep">
          <input [(ngModel)]="profileService.profile.isPublic" type="checkbox" name="isPublic" id="gsc_prf_p"
                 value="1" checked="" style="opacity:100;" >
          <label for="gsc_prf_p" style="padding-left:20px;">Make my profile public</label>
        </div>


        <div id="gsc_prf_eb">
          <button (click)="submitClicked()" type="submit" id="gsc_prf_ebs" name="save_profile_btn" class=" gs_btn_act">
                <span class="gs_wr">
                <span class="gs_lbl">Save</span>
                <span class="gs_bsc">
                <span class="gs_bs"></span></span></span>
          </button>
          <button (click)="cancelClicked()" type="button" id="gsc_prf_btni" aria-controls="gsc_prf_i" class="">
            <span class="gs_wr"><span class="gs_lbl">Cancel</span></span>
          </button>
        </div>
      </form>

