<div class="metasearch-organism-facet force-scrollbars" style="max-height: 400px;">
    <!-- Omic types -->
    <h3>Show results for</h3>
    <ul class="list-unstyled metasearch-facet-values">

        <li *ngFor="let v of facetValuesFiltered" [hidden]="!v.visible">
            <app-omics-image [omics]="[v.value]" [size]="'small'"></app-omics-image>
            <a (click)="labelClicked(v.value, $event, true)">
                <span style="font-size:13px; font-weight:bold; margin-left: 5px">{{v.label}}</span>
                <small class="ng-binding">
                    ({{v.count}})
                </small>
            </a>
        </li>

    </ul>
</div>
