<div [ngClass]="isHomeSearch ? '' : 'search-box'">
    <form novalidate name="queryForm" class="local-search" [ngClass]="isHomeSearch ? 'global-search' : 'local-search'">
        <div class="form-group ">
            <div class="input-group ">
                <app-autocomplete-n (submit)="search()" [searchText]="query"></app-autocomplete-n>
                <div class="input-group-btn">
                    <button [matMenuTriggerFor]="advancedSearchMenu" type="button" class="btn btn-primary ddi-btn">
                        <i class="fa {{this.caret_class()}}" aria-hidden="true"></i>
                        Advanced
                    </button>
                    <button type="submit" value="submit" class="btn btn-primary ddi-btn" (click)="search()">
                        <i class="fa fa-search"></i> Search
                    </button>
                </div>
            </div>
            <span class="help-block example-searches" *ngIf="isHomeSearch">
                 <i>
                     Examples:
                     <a rel="nofollow" (click)="doSearch('cancer')">cancer</a>,
                     <a rel="nofollow" (click)="doSearch('TAXONOMY:&quot;9606&quot;')">Homo sapiens</a>,
                     <a rel="nofollow" (click)="doSearch('Orbitrap')">Orbitrap</a>,
                     <a rel="nofollow" (click)="doSearch('Q9HAU5')">Q9HAU5</a>,
                     <a rel="nofollow" (click)="doSearch('Phospho')">Phospho</a>,
                     <a rel="nofollow" (click)="doSearch('Hela')">Hela</a>,
                     <a rel="nofollow" (click)="doSearch('PXD001416')">PXD001416</a>
                 </i>
             </span>
        </div>
    </form>
</div>

<mat-menu id="advancedSearchMenu" #advancedSearchMenu="matMenu" [overlapTrigger]="false">
    <div class="mat-menu-content" style="width:550px">
        <div class="alert alert-info" (click)="doNotPropagate($event);">
            <div style="position: relative;">
                <strong>Full Text Query:</strong><br/>
                <input type="text" [(ngModel)]="query"/>
            </div>

        </div>
        <query-builder [searchQuery]="queryParams" (queryChange)="updateQueryParams($event)" (click)="doNotPropagate($event);">
        </query-builder>
    </div>
</mat-menu>
