<div id="wrapper">
    <div class="container-fluid3">

        <div class="caption">Feedback</div>

        <div style="width:100%; display:inline-block;">
            <app-feedback></app-feedback>
        </div>
        <div class="caption">Discussion board</div>
        Share your thoughts with developers and see your ideas implemented in next release. Thread is monitored
        daily, you comments are visible to everyone in community (You need to login to DISQS)

        <disqus [identifier]="'profile_problems'"></disqus>

    </div>
</div>




