<span>
    <div class="score score-views" [appTooltip]="'Views'">
        <i class="fa fa-eye" aria-hidden="true"></i>
        <strong class="views"> {{views}}</strong>
    </div>
    <div class="score score-citations" [appTooltip]="'Citations'">
        <i class="fa fa-quote-left" aria-hidden="true"></i>
        <strong class="citations"> {{citations}}</strong>
    </div>
    <div class="score score-reanalysis" [appTooltip]="'Reanalyses'">
        <i class="fa fa-code-fork" aria-hidden="true"></i>
        <strong class="reanalysis"> {{reanalysis}}</strong>
    </div>
    <div class="score score-connections" [appTooltip]="'Connections'">
        <i class="fa fa-th" aria-hidden="true"></i>
        <strong class="connections"> {{connections}}</strong>
    </div>
</span>
