<span>
    <div class="score score-views" [appTooltip]="'Views'">
        <i class="fa fa-eye" aria-hidden="true"></i>
        <strong id="views">{{views}}</strong>
    </div>
    <div class="score score-citations" [appTooltip]="'Citations'">
        <i class="fa fa-quote-left" aria-hidden="true"></i>
        <strong id="citations">{{citations}}</strong>
    </div>
    <div class="score score-reanalysis" [appTooltip]="'Reanalisys'">
        <i class="fa fa-code-fork" aria-hidden="true"></i>
        <strong id="reanalysis">{{reanalysis}}</strong>
    </div>
    <div class="score score-connections" [appTooltip]="'Connections'">
        <i class="fa fa-th" aria-hidden="true"></i>
        <strong id="connections">{{connections}}</strong>
    </div>
</span>
