<div class="row">
    <div class="col-md-12">
        <div class="mt-card">
            <div class="mt-card-header">
                <h4 class="mt-card-title" style="margin-left: 20px">
                    Social connections
                </h4>
            </div>
            <div class="mt-card-body">
                <ul style="list-style-type: none; padding: 0 14px">
                    <li>
                        <span style="position: absolute; right:10px;">
                            <mat-slide-toggle [(ngModel)]="orcidConnected"
                                              (change)="connectedChanged(orcidConnected, 'orcid')"></mat-slide-toggle>
                        </span>
                        <span class="connection"><img src="assets/orcid.png"/>&nbsp;<a
                            (click)="connectedChanged(orcidConnected,'orcid')">Orcid</a>
                            <span *ngIf="orcidConnected">&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/link.png"></span>
                        </span>
                    </li>
                    <li>
                        <span style="position: absolute; right:10px;">
                            <mat-slide-toggle [(ngModel)]="elixirConnected"
                                              (change)="connectedChanged(elixirConnected,'elixir')" ></mat-slide-toggle>
                        </span>
                        <span class="connection"><img src="assets/elixir-small.png"/>&nbsp;<a
                            (click)="connectedChanged(elixirConnected,'elixir')">Elixir</a>
                                <span *ngIf="elixirConnected">&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/link.png"></span>
                        </span>
                    </li>
                    <li>
                        <span style="position: absolute; right:10px;">
                            <mat-slide-toggle [(ngModel)]="googleConnected"
                                              (change)="connectedChanged(googleConnected,'google')" ></mat-slide-toggle>
                        </span>
                        <span class="connection"><img src="assets/google.png"/>&nbsp;<a
                            (click)="connectedChanged(googleConnected,'google')">Google</a>
                            <span *ngIf="googleConnected">&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/link.png"></span>
                        </span>
                    </li>
                    <li>
                        <span style="position: absolute; right:10px;">
                            <mat-slide-toggle [(ngModel)]="twitterConnected"
                                              (change)="connectedChanged(twitterConnected,'twitter')" ></mat-slide-toggle>
                        </span>
                        <span class="connection"><img src="assets/twitter.png"/>&nbsp;<a
                            (click)="connectedChanged(twitterConnected,'twitter')">Twitter</a>
                                    <span *ngIf="twitterConnected">&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/link.png"></span>
                        </span>
                    </li>
                    <li>
                        <span style="position: absolute; right:10px;">
                            <mat-slide-toggle [(ngModel)]="githubConnected"
                                              (change)="connectedChanged(githubConnected,'github')" ></mat-slide-toggle>
                        </span>
                        <span class="connection"><img src="assets/github.png"/>&nbsp;<a
                            (click)="connectedChanged(githubConnected,'github')">GitHub</a>
                                    <span *ngIf="githubConnected">&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/link.png"></span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
