<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" ng-app="ddiApp" id="ng-app" xmlns:ng="http://angularjs.org"
      class="js flexbox canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths ng-scope">
<head>
    <style type="text/css">@charset "UTF-8";
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
        display: none !important;
    }

    ng\:form {
        display: block;
    }
    </style>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width" name="viewport">
    <meta content="DDI is a integrate resource to multiple omics repositories, including Proteomics, Metabolomics and Genomics"
          name="description">


    <title>DDI: About</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link type="text/css" href="css/main.css" rel="stylesheet">
    <!--
    <link type="text/css" href="css/prider.css" rel="stylesheet">
    <link type="text/css" href="css/ebi-global.css" rel="stylesheet">
    <link type="text/css" href="css/ebi-visual.css" rel="stylesheet">
    -->

    <link rel="stylesheet" href="//www.ebi.ac.uk/web_guidelines/css/compliance/develop/boilerplate-style.css">
    <link rel="stylesheet" href="//www.ebi.ac.uk/web_guidelines/css/compliance/develop/ebi-global.css" type="text/css"
          media="screen">
    <link rel="stylesheet" href="//www.ebi.ac.uk/web_guidelines/css/compliance/develop/ebi-visual.css" type="text/css"
          media="screen">
    <link rel="stylesheet" href="//www.ebi.ac.uk/web_guidelines/css/compliance/develop/984-24-col-fluid.css"
          type="text/css" media="screen">
    <link type="text/css" href="css/ddi.css" rel="stylesheet">
    <link type="text/css" href="css/autocomplete.css" rel="stylesheet">

    <!-- favico -->
    <link rel="apple-touch-icon" sizes="57x57" href="/Tools/ddi/static/img/favico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/Tools/ddi/static/img/favico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/Tools/ddi/static/img/favico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/Tools/ddi/static/img/favico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/Tools/ddi/static/img/favico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/Tools/ddi/static/img/favico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/Tools/ddi/static/img/favico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/Tools/ddi/static/img/favico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/Tools/ddi/static/img/favico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/Tools/ddi/static/img/favico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Tools/ddi/static/img/favico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/Tools/ddi/static/img/favico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/Tools/ddi/static/img/favico/favicon-16x16.png">
    <link rel="manifest" href="/Tools/ddi/static/img/favico/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/Tools/ddi/static/img/favico/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!--favico end -->

    <script src="js/vendor/jquery-1.10.1.min.js"></script>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
</head>

<script>
    $(function () {
        $("#footer").load("footer.html");
    });
</script>

<body class="level2">
<div id="wrapper" class="container_24">
    <header>
        <div id="local-masthead" class="masthead grid_24 nomenu" style="height:132px">
            <!-- local-title -->
            <!-- NB: for additional title style patterns, see http://frontier.ebi.ac.uk/web/style/patterns -->
            <div class="grid_12 alpha logo-title" id="local-title">
                <a href="/app" title="Back to DDI homepage"><img src="/Tools/ddi/static/img/logo/DDI-icon-3.png"
                                                                 alt="logo"
                                                                 width="64" height="64"></a>
                <span><h1><a href="/app" title="Back to DDI homepage">Data Discovery Index</a></h1></span>
            </div>
            <!-- /local-title -->

            <!-- local-search -->
            <div style="height:105px">
            </div>
            <!-- NB: if you do not have a local-search, delete the following div, and drop the class="grid_12 alpha" class from local-title above -->
            <!-- /local-search -->


            <!-- local-nav -->
            <nav style="float:bottom">
                <ul class="grid_24" id="local-nav">
                    <li class=" first" id="home-menu"><a title="Home" href="/Tools/ddi/">Home</a></li>
                    <li class="" id="browse-menu"><a title="Browse"
                                                     href="/Tools/ddi/browse.html#/search?q=*:*">Browse</a>
                    </li>
                    <li class="" id="api-menu"><a title="DDI API" href="/Tools/ddi/api.html#/overview">API</a>
                    </li>
                    <li class=" last" id="about-prider-menu"><a title="Databases"
                                                                href="/Tools/ddi/databases.html">Databases</a>
                    </li>
                    <!-- If you need to include functional (as opposed to purely navigational) links in your local menu,
                    add them here, and give them a class of "functional". Remember: you'll need a class of "last" for
                    whichever one will show up last...
                    For example: -->
                    <li class="functional last"><a data-icon="\" class="icon icon-static"
                                                   href="http://www.ebi.ac.uk/support/index.php?query=pride">Feedback</a>
                    </li>
                    <li class="functional"><a class="" href="about.html">About</a></li>
                    <li class="functional"><a class="" href="help.html#/Overview">Help</a></li>
                    <li class="functional" id="login-menu" hidden="true"><a title="Login to PRIDE Archive" data-icon="l"
                                                                            class="icon icon-functional"
                                                                            href="http://www.ebi.ac.uk/pride/archive/login">Login</a>
                    </li>
                    <li class="functional first" id="register-menu" hidden="true"><a title="Register" data-icon="5"
                                                                                     class="icon icon-functional"
                                                                                     href="http://www.ebi.ac.uk/pride/archive/register">Register</a>
                    </li>
                </ul>
            </nav>

            <!-- /local-nav -->
        </div>
    </header>
    <div ng-controller="QueryCtrl" class="grid_12 omega ng-cloak"
         style="height:105px; float:right; margin-top:-140px; z-index:1">
        <form novalidate name="queryForm" class="local-search" ng-submit="submit_query()">
            <fieldset>
                <div class="form-group" ng-class="(query.submitted && queryForm.$invalid) ? 'has-error' : ''">
                    <div class="input-group input-group-sm">
                        <autocomplete ng-model="query.text"
                                      attr-placeholder="organism, repository, gene, tissue, accession"
                                      click-activation="true" data="words" on-type="get_suggestions"
                                      on-select="do_query"></autocomplete>
                        <!--
                                                        <input type="text" style="background-color:#fff; width:99%"
                                                               placeholder="organism, repository, gene, tissue, accession"
                                                               class="form-control"
                                                               id="query-text"
                                                               name="text"
                                                               tabindex="1"
                                                               ng-model="query.text"
                                                               ng-minlength="2"
                                                               ng-maxlength="1000"
                                                               autocomplete="off"
                                                               required>
                        -->
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-search"></i> Search
                            </button>
                        </div>
                        <!-- /input-group-btn -->
                    </div>
                    <!--input-group -->
                     <span class="help-block example-searches">
                         <small>
                             <i>
                                 Examples:
                                 <a href="" rel="nofollow" ng-click="meta_search('cancer')">cancer</a>,
                                 <a href="" rel="nofollow" ng-click="meta_search('TAXONOMY:&quot;9606&quot;')">Homo
                                     sapiens</a>,
                                 <a href="" rel="nofollow" ng-click="meta_search('Orbitrap')">Orbitrap</a>,
                                 <a href="" rel="nofollow" ng-click="meta_search('Q9HAU5')">Q9HAU5</a>,
                                 <a href="" rel="nofollow" ng-click="meta_search('Phospho')">Phospho</a>,
                                 <a href="" rel="nofollow" ng-click="meta_search('Hela')">Hela</a>
                             </i>
                         </small>
                     </span>
                    <!--
                    <label class="control-label ng-cloak has-error"
                           for="query-text"
                           ng-show="query.submitted && (queryForm.text.$error.required || queryForm.text.$error.minlength)"
                           ng-cloak>
                        Your query is too short
                    </label>
                    <label class="control-label ng-cloak"
                           for="query-text" ng-show="query.submitted && (queryForm.text.$error.maxlength)"
                           ng-cloak>
                        Your query is too long
                    </label>
                    -->
                </div>
                <!-- /form-group -->
            </fieldset>
        </form>
    </div>


    <div class="container-main container">
        <!--[if lt IE 10]>
        <div class="alert alert-danger">
            You are using an <strong>outdated browser</strong> and as a result this website may not function as
            intended. Please <a href="http://whatbrowser.org/">upgrade your browser</a> to improve your experience.</p>
        </div>
        <![endif]-->

        <noscript>
            <div class="alert alert-danger">
                Javasript is currently disabled or is not supported by this browser. Please enable JavaScript for full
                functionality.
            </div>
        </noscript>

        <div id="content" class="row">
            <h2 id="rest-api" class="icon icon-generic" data-icon="i">
                About Data Discovery Index
            </h2>

            <div class="help-content">
                <p>
                    The Data Discovery Index (DDI) provides dataset discovery across a heterogeneous, distributed
                    group of genomics, proteomics and metabolomics data resources spanning eight repositories in two
                    continents and six organisations, including both open and controlled access data resources. The
                    resource provides a short description of every dataset: accession, description, sample/data
                    protocols biological evidences, publication, etc. The search capabilities offer a unique resource to
                    search for omics datasets. This fact converts the DDI in the first resource worldwide to provide
                    search capabilities through multi-omics experiments.

                </p>
            </div>

            <!--<h3 id="publication">Publications / how to cite</h3>-->
            <!--<div class="help-content">-->
            <!--<blockquote>-->
            <!---->
            <!--</blockquote>-->
            <!--</div>-->

            <h3 id="team">The team</h3>

            <div class="help-content">
                <p>
                    DDI development team is part of the EMBL-EBI Proteomics Services, led by <a
                        href="http://www.ebi.ac.uk/about/people/henning-hermjakob" target="_blank">Henning Hermjakob</a>.
                    The DDI team currently consists
                    of software developers, biocurators, trainees/visitors and one project coordinator.
                </p>

                <p>
                    The main contributors to the DDI project include:
                <ul>
                    <li>Mingze Bai</li>
                    <li>Rui Wang</li>
                    <li>Tobias Ternent</li>
                    <li>Noemi del Toro</li>
                    <li>Juan Antonio Vizcaino</li>
                    <li>Yasset Perez-Riverol</li>
                </ul>
                </p>
            </div>

            <h3 id="acknowledgement">Acknowledgement</h3>

            <div class="help-content">
                <p>
                    The DDI team would like to thank all data submitters/collaboration databses for their contributions.
                    The DDI team is
                    funded at present by the Wellcome Trust [grant number WT101477MA], and the BBSRC grants
                    BB/I00095X/1, BB/K01997X/1 and BB/L024225/1] and EMBL core funding.
                </p>

                <p>
                </p>

                <p>
                    The DDI team would like to thank the following companies and organisations for their support
                    through the offering of free software licenses:

                <ul>
                    <li><a href="https://www.jetbrains.com/" target="_blank">JetBrains</a> for the most intelligent Java
                        IDE - <a href="https://www.jetbrains.com/idea/index.html" target="_blank">IntelliJ IDEA</a>.
                    </li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</div>

<footer>
    <div id="footer" class="container"></div>
</footer>


<script src="js/vendor/angular/angular.min.js"></script>
<script src="js/vendor/angular/angular-animate.min.js"></script>
<script src="js/vendor/angular/loading-bar/loading-bar.js"></script>
<script src="js/autocomplete.js"></script>
<script src="js/vendor/underscore/underscore-min.js"></script>
<script src="js/search/ddi.metadata.search.js"></script>
<script src="js/vendor/d3/d3.min.js"></script>

</body>
</html>
