<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" ng-app="ddiApp" id="ng-app" xmlns:ng="http://angularjs.org"
      class="js flexbox canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths ng-scope">
<head>
    <style type="text/css">@charset "UTF-8";
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
        display: none !important;
    }

    ng\:form {
        display: block;
    }
    </style>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width" name="viewport">
    <meta content="DDI is a integrate resource to multiple omics repositories, including Proteomics, Metabolomics and Genomics"
          name="description">


    <title>DDI: Help</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link type="text/css" href="css/main.css" rel="stylesheet">
    <!--
    <link type="text/css" href="css/prider.css" rel="stylesheet">
    <link type="text/css" href="css/ebi-global.css" rel="stylesheet">
    <link type="text/css" href="css/ebi-visual.css" rel="stylesheet">
    -->

    <link rel="stylesheet" href="//www.ebi.ac.uk/web_guidelines/css/compliance/develop/boilerplate-style.css">
    <link rel="stylesheet" href="//www.ebi.ac.uk/web_guidelines/css/compliance/develop/ebi-global.css" type="text/css"
          media="screen">
    <link rel="stylesheet" href="//www.ebi.ac.uk/web_guidelines/css/compliance/develop/ebi-visual.css" type="text/css"
          media="screen">
    <link rel="stylesheet" href="//www.ebi.ac.uk/web_guidelines/css/compliance/develop/984-24-col-fluid.css"
          type="text/css" media="screen">
    <link type="text/css" href="css/ddi.css" rel="stylesheet">

    <!-- favico -->
    <link rel="apple-touch-icon" sizes="57x57" href="/Tools/ddi/static/img/favico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/Tools/ddi/static/img/favico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/Tools/ddi/static/img/favico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/Tools/ddi/static/img/favico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/Tools/ddi/static/img/favico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/Tools/ddi/static/img/favico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/Tools/ddi/static/img/favico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/Tools/ddi/static/img/favico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/Tools/ddi/static/img/favico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/Tools/ddi/static/img/favico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Tools/ddi/static/img/favico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/Tools/ddi/static/img/favico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/Tools/ddi/static/img/favico/favicon-16x16.png">
    <link rel="manifest" href="/Tools/ddi/static/img/favico/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/Tools/ddi/static/img/favico/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!--favico end -->

    <script src="js/vendor/jquery-1.10.1.min.js"></script>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
</head>

<script>
    $(function () {
        $("#footer").load("footer.html");
    });
</script>

<body class="level2">
<div id="wrapper" class="container_24">
    <header>
        <div id="local-masthead" class="masthead grid_24 nomenu">
            <!-- local-title -->
            <!-- NB: for additional title style patterns, see http://frontier.ebi.ac.uk/web/style/patterns -->
            <div class="grid_12 alpha logo-title" id="local-title">
                <a href="/app" title="Back to DDI homepage"><img src="/Tools/ddi/static/img/logo/DDI-icon-3.png" alt="logo"
                                                                 width="64" height="64"></a>
                <span><h1><a href="/app" title="Back to DDI homepage">Data Discovery Index</a></h1></span>
            </div>
            <!-- /local-title -->

            <!-- local-search -->
            <!-- NB: if you do not have a local-search, delete the following div, and drop the class="grid_12 alpha" class from local-title above -->
            <div ng-controller="QueryCtrl" class="grid_12 omega " style="height:105px">
                <form novalidate name="queryForm" class="local-search" ng-submit="submit_query()">
                    <fieldset>
                        <div class="form-group" ng-class="(query.submitted && queryForm.$invalid) ? 'has-error' : ''">
                            <div class="input-group input-group-sm">
                                <input type="text" style="background-color:#fff; width:99%"
                                       placeholder="organism, repository, gene, tissue, accession"
                                       class="form-control"
                                       id="query-text"
                                       name="text"
                                       tabindex="1"
                                       ng-model="query.text"
                                       ng-minlength="2"
                                       ng-maxlength="1000"
                                       autocomplete="off"
                                       required>

                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-search"></i> Search
                                    </button>
                                </div>
                                <!-- /input-group-btn -->
                            </div>
                            <!--input-group -->
                     <span class="help-block example-searches">
                         <small>
                             <i>
                                 Examples:
                                 <a href="" rel="nofollow" ng-click="meta_search('cancer')">cancer</a>,
                                 <a href="" rel="nofollow" ng-click="meta_search('TAXONOMY:&quot;9606&quot;')">Homo
                                     sapiens</a>,
                                 <a href="" rel="nofollow" ng-click="meta_search('Orbitrap')">Orbitrap</a>,
                                 <a href="" rel="nofollow" ng-click="meta_search('Q9HAU5')">Q9HAU5</a>,
                                 <a href="" rel="nofollow" ng-click="meta_search('Phospho')">Phospho</a>,
                                 <a href="" rel="nofollow" ng-click="meta_search('Hela')">Hela</a>
                             </i>
                         </small>
                     </span>
                            <label class="control-label ng-cloak has-error"
                                   for="query-text"
                                   ng-show="query.submitted && (queryForm.text.$error.required || queryForm.text.$error.minlength)"
                                   ng-cloak>
                                Your query is too short
                            </label>
                            <label class="control-label ng-cloak"
                                   for="query-text" ng-show="query.submitted && (queryForm.text.$error.maxlength)"
                                   ng-cloak>
                                Your query is too long
                            </label>
                        </div>
                        <!-- /form-group -->
                    </fieldset>
                </form>
            </div>
            <!-- /local-search -->


            <!-- local-nav -->
            <nav>
                <ul class="grid_24" id="local-nav">
                    <li class=" first" id="home-menu"><a title="Home" href="/Tools/ddi/">Home</a></li>
                    <li class="" id="browse-menu"><a title="Browse"
                                                     href="/Tools/ddi/browse.html#/search?q=*:*">Browse</a>
                    </li>
                    <li class="" id="api-menu"><a title="DDI API" href="/Tools/ddi/api.html#/overview">API</a>
                    </li>
                    <li class=" last" id="about-prider-menu"><a title="Databases"
                                                                href="/Tools/ddi/databases.html">Databases</a>
                    </li>
                    <!-- If you need to include functional (as opposed to purely navigational) links in your local menu,
                    add them here, and give them a class of "functional". Remember: you'll need a class of "last" for
                    whichever one will show up last...
                    For example: -->
                    <li class="functional last"><a data-icon="\" class="icon icon-static"
                                                   href="http://www.ebi.ac.uk/support/index.php?query=pride">Feedback</a>
                    </li>
                    <li class="functional"><a class="" href="about.html">About</a></li>
                    <li class="functional"><a class="" href="help.html#/Overview">Help</a></li>
                    <li class="functional" id="login-menu" hidden="true"><a title="Login to PRIDE Archive" data-icon="l"
                                                                            class="icon icon-functional"
                                                                            href="http://www.ebi.ac.uk/pride/archive/login">Login</a>
                    </li>
                    <li class="functional first" id="register-menu" hidden="true"><a title="Register" data-icon="5"
                                                                                     class="icon icon-functional"
                                                                                     href="http://www.ebi.ac.uk/pride/archive/register">Register</a>
                    </li>
                </ul>
            </nav>

            <!-- /local-nav -->
        </div>
    </header>


    <div class="container-main container">
        <!--[if lt IE 10]>
        <div class="alert alert-danger">
            You are using an <strong>outdated browser</strong> and as a result this website may not function as
            intended. Please <a href="http://whatbrowser.org/">upgrade your browser</a> to improve your experience.</p>
        </div>
        <![endif]-->

        <noscript>
            <div class="alert alert-danger">
                Javasript is currently disabled or is not supported by this browser. Please enable JavaScript for full
                functionality.
            </div>
        </noscript>

        <div id="" class="row">
        </div>
        <div id="" class="row">
            <p>
            </p>
        </div>


        <div id="content" class="row" ng-controller="MainContent">
            <div id="" class="col-md-9" role="main">
                <h1 id="Overview">
                    Overview
                </h1>


                <p>
                    The Data Discovery Index (OmicsDI) provides dataset discovery across a heterogeneous,
                    distributed group of genomics, proteomics and metabolomics data resources spanning eight
                    repositories in two continents and six organisations, including both open and controlled access data
                    resources. The resource provides a short description of every dataset: accession, description,
                    sample/data protocols biological evidences, publication, etc. The search capabilities offer a unique
                    resource to search for omics datasets. This fact converts the DDI in the first resource worldwide to
                    provide search capabilities through multi-omics experiments.
                </p>


                <h1 id="MajorPartner">
                    Major Partners
                </h1>


                <h2 id="ProteomeXchange">
                    <a href="http://www.proteomexchange.org/">ProteomeXchange</a>
                </h2>


                <p>
                    The ProteomeXchange Consortium is a collaboration of currently three major mass spectrometry
                    proteomics data repositories, <a href="http://www.ebi.ac.uk/pride/archive/">PRIDE</a> at EMBL-EBI in
                    Cambridge  (UK), <a href="http://peptideatlas.org">PeptideAtlas </a> at ISB in Seattle (US), and <a
                        href="http://massive.ucsd.edu"> MASSive</a> at UCSD (US), offering a unified data deposition and
                    discovery strategy across all three repositories. ProteomeXchange is a distributed database
                    infrastructure; the potentially very large raw data component of the data is only held at the
                    original submission database, while the searchable metadata is centrally collected and indexed. All
                    ProteomeXchange data is fully open after release of the associated publication.
                </p>


                <h2 id="MetabolomeXchange">
                    <a href="http://metabolomexchange.org/">MetabolomeXchange</a>
                </h2>


                <p>
                    MetabolomeXchange is a collaboration of 4 major metabolomics repositories, with a total of 10
                    partners contributing. MetabolomeXchange was inspired by and is implementing similar coordination
                    strategies to ProteomeXchange. The founding partners are MetaboLights at <a
                        href="http://www.ebi.ac.uk/metabolights/"> EMBL-EBI(UK)</a>,<a
                        href="http://www.cbib.u-bordeaux2.fr/">Metabolomics Repository Bordeaux</a>(FR), <a
                        href="http://gmd.mpimp-golm.mpg.de/">Golm Metabolome Database </a> and the <a
                        href="http://www.metabolomicsworkbench.org/">Metabolomics Workbench</a> (US). The Metabolomics
                    Workbench is a NIH funded collaboration of 6 Regional Comprehensive Metabolomics Resource Cores.
                    MetabolomeXchange started accepting metadata submissions in summer 2014, and reached 200 public
                    datasets in March 2015.
                </p>


                <h2 id="EGA">
                    The European Genome-Phenome Archive
                </h2>


                <p>
                    The European Genome-Phenome Archive (EGA) provides a service for the permanent archiving and
                    distribution of personally identifiable genetic and phenotypic data resulting from biomedical
                    research projects. Data at EGA was collected from individuals whose consent agreements authorise
                    data release only for specific research use to bona fide researchers. Strict protocols govern how
                    information is managed, stored and distributed by the EGA project. The EGA comprises a public
                    metadata section, allowing searching and identifying relevant studies, and the controlled access
                    data section. Access to the data section for a particular study is only granted after validation of
                    a research proposal through the relevant ethics approval.
                </p>


                <h2 id="CurrentDatabases">
                    Current Databases
                </h2>


                <p>
                    The original DDI project provides access to six different databases with proteomics, genomics and
                    metabolomics data from Europe and Unite States (see <a
                        href="/Tools/ddi/databases.html">updated list </a>). The original list includes:
                    PRIDE (proteomics, UK), PeptideAtlas (proteomics, US), MassIVE (proteomics, US), Metaboligths
                    (metabolomics, UK), MetabolomeWorkbench (metabolomics, US), EGA (genomics, UK).
                </p>


                <p>
                    The project is open for new partners and databases (please contact us: <a
                        href="pride-support@ebi.ac.uk">pride-support@ebi.ac.uk</a>). If you are interested in the
                    architecture and the metadata that the resource should provide see section ?.
                </p>


                <h1 id="DDIwebapplication">
                    DDI web application
                </h1>


                <p>
                    The main goal of DDI project is to have a way to search interesting datasets across omics
                    repositories. The main web application and web service (see <a
                        href="/Tools/ddi/api.html#/overview">here</a>) allow the user to search and
                    navigate through the DDI datasets. The DDI web application has two main different way of navigate
                    the data: (i) using the home page navigation blocks or (ii) the search box.
                </p>


                <h2 id="Navigate">
                    Navigate the data from home page
                </h2>

                <p>
                    The DDI home page provides different blocks to navigate through the datasets, some of them are: 2D
                    WordCloud; the species/organism/diseases bubble chart, repo/omics pie chart, Latest datasets, Most
                    accessed datasets, Datasets per year. All the charts allow the user to search the data using the
                    specific attribute. These boxes also act as an statistic component of the resource : for example the
                    pie chart shows how many datasets for each repository and omics the resource contains.
                </p>

                <p>
                    <img src="static/img/help/1.png" class="center">
                </p>


                <p>
                    A <b>TagCloud or WordCloud</b> is a visual representation for metadata, typically used to depict
                    keyword metadata (tags) on datasets, or to visualize free form text. The WordCloud is build using
                    the more frequently words for every database/repository. The DDI <a>WordCloud</a> can be consider as
                    a two dimensional term representation where the user can select the database and the field they want
                    to look for: description vs database. The user can click the highlight word in the wordcloud to
                    search for this term in the resource.
                </p>


                <p>
                    The <b>bubble chart block</b> allows the users to navigate the data using three main categories:
                    Tissues, Organisms, and Diseases. The user can click in the bubble and it will be redirected to the
                    search using the clicked term.
                </p>


                <p>
                    The <b>Repo/Omics pie chart</b> and the <b>Omics vs Year bar chart</b> allow the users navigate the
                    data using the omics categories (metabolomics, proteomics and genomics). The user can click a bar or
                    the pie and it will be redirected to the search using the clicked term.
                </p>


                <p>
                    The <b>Latest Datasets</b> and <b>Most accessed datasets</b> blocks provide a list of the datasets
                    by the tow categories.
                </p>


                <h2 id="Searchingdatasets">
                    Searching datasets
                </h2>

                <p>
                    The main search box in DDI allows the user to search datasets using different keywords. The main
                    search redirects the user to the browser page where the user can see the results of the search (see
                    section 3.3).
                </p>

                <p>
                    <img src="static/img/help/2.png" class="center">
                </p>

                <p>
                    <code>
                        The DDI search page is better that most of the partners (proteomeXchange, metabolomeXchange)
                        searching the data because the data is also indexed using cross-references to other databases.
                    </code>
                </p>

                <h3 id="Searchingusingpublication">
                    Searching using publication details
                </h3>


                <p>
                    The user can use the PubMed identifier, Title, Authors or even terms from the publication abstract.
                </p>


                <p>
                    <img src="static/img/help/3.png" class="center">
                </p>


                <h3 id="Searchingusingbiological">
                    Searching using biological Evidences
                </h3>


                <p>
                    The search box allows the end-users to search data using biological evidences such as the list of
                    the proteins identified in the proteomics experiment or the metabolite reported in the metabolomics
                    experiment. For example if the user search for 3-methyl-2-oxobutanoic in the resource it will found
                    one dataset in Metaboligths and five in Metabolome workbench that identified the current molecule.
                </p>


                <p>
                    <img src="static/img/help/4.png" class="center">
                </p>


                <h2 id="RefiningtheSearchresults">
                    Refining the Search results
                </h2>

                <p>
                    The search results can be filter or refine using different categories, filters or terms. The DDI web
                    application supports at the moment nine different refinements: (1) omics type, (2)
                    repository/database, (3) organisms, (4) tissue, diseases, (5) modifications (proteomics), (6)
                    instruments and platforms, (7)publication data, (8) technology type.
                </p>


                <p>
                    <img src="static/img/help/5.png" class="center">
                </p>


                <p>
                    The refine filters works in combination, if the user set two filters they will act at the same time.
                </p>


                <h1 id="DatasetView">
                    Dataset View
                </h1>

                <p>
                    The dataset View shows the information for every dataset in the resource. It contains four main
                    information components: (1) the dataset description, (2) the sample/data protocol, (3) the
                    publication information, and (4) the similar datasets.
                </p>

                <p>
                    <img src="static/img/help/6.png" class="center">
                </p>


                <h1 id="DDIArchitecture">
                    DDI Architecture
                </h1>

                <p>
                    The DDI project design is a modular architecture with three main components (Figure 1): (i)
                    Database/Repository Adapters, (ii) EBI Search Indexer, (iii) DDI Application. In summary, the
                    Database/Repository Adapters provides all the libraries and readers to translate the original
                    repository/databases information into a universal and highly customizable XML file for each dataset
                    (see section 5.1). The EBI Search Indexer is a Lucene-based framework that enables to index all the
                    metadata and biological evidences for each dataset (see section 5.2). The DDI application component
                    provides a MongoDB, web-services and web application for search and access the different datasets.
                </p>


                <p>
                    <img src="static/img/help/7.png" class="center">
                </p>


                <h2 id="DatabaseRepositoryAdapters">
                    Database/Repository Adapters
                </h2>

                <p>
                    The database/repository Adapter components are a set of readers and libraries that translate the
                    data from the original repositories to a common XML-based file. The DDI-XML is a fully customizable
                    XML file used to represent the data from the different datasets, it contains as mandatory for each
                    dataset:
                <ul>
                    <li>Dataset ID</li>
                    <li>Dataset Title</li>
                    <li>Type of experiment</li>
                    <li>Publication date</li>
                    <li>Submitter details</li>
                </ul>
                A full description of the XML and the exporters can be found in <a href="https://github.com/BD2K-DDI">Github </a>.
                If you need to add a new data resource, that is a new domain, get in touch first with the <a
                    href="pride-support@ebi.ac.uk">DDI team </a>.
                </p>

                <h2 id="EBISearchIndexer">
                    EBI Search Indexer
                </h2>

                <p>
                    In summary, the indexing pipeline:
                <ul>
                    <li>Based on Apache Lucene</li>
                    <li>An automatized indexing cycle takes place on daily basis.</li>
                    <li>Check every night, for every domain if new data is available.</li>
                    <li>The process benefits from the indexing parallelization.</li>
                    <li>All domains together: ~750GB, more than 300GB indexes</li>
                    <li>While the software releases are less frequent, the data to index is checked dail</li>
                </ul>
                </p>


            </div>
            <div class="col-md-3 nav-float" style="position:fixed;right:6em">
            <nav id="affix-nav" class="sidebar  hidden-print visible-lg " role="complementary" style=position:fixed">
                <ul style="width: 272px;" class="nav sidenav affix-top" data-spy="affix" id="affix-ul">
                    <li>
                        <a href="" ng-click="scrollTo('Overview')">Overview</a>
                    </li>
                    <li>
                        <a href="" ng-click="scrollTo('MajorPartner')">Major Partners</a>
                        <ul class="nav">
                            <li>
                                <a href="" ng-click="scrollTo('ProteomeXchange')">ProteomeXchange</a>
                            </li>
                            <li><a href="" ng-click="scrollTo('MetabolomeXchange')">MetabolomeXchange</a></li>
                            <li><a href="" ng-click="scrollTo('EGA')">The European Genome-Phenome Archive</a></li>
                            <li><a href="" ng-click="scrollTo('CurrentDatabases')">Current Databases</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="" ng-click="scrollTo('DDIwebapplication')">DDI web application</a>
                        <ul class="nav">
                            <li><a href="" ng-click="scrollTo('Navigate')">Navigate the data from home page</a></li>
                            <li><a href="" ng-click="scrollTo('Searchingdatasets')">Searching datasets</a>
                                <ul class="nav">
                                    <li><a href="" ng-click="scrollTo('Searchingusingpublication')">Searching using
                                        publication details</a></li>
                                    <li><a href="" ng-click="scrollTo('Searchingusingbiological')">Searching using
                                        biological Evidences</a></li>
                                </ul>
                            </li>
                            <li><a href="" ng-click="scrollTo('RefiningtheSearchresults')">Refining the Search
                                results</a></li>
                        </ul>
                    </li>
                    <li><a href="" ng-click="scrollTo('DatasetView')">Dataset View</a></li>
                    <li><a href="" ng-click="scrollTo('DDIArchitecture')">DDI Architecture</a>
                        <ul class="nav">
                            <li><a href="" ng-click="scrollTo('DatabaseRepositoryAdapters')">Database/Repository
                                Adapters</a></li>
                            <li><a href="" ng-click="scrollTo('EBISearchIndexer')">EBI Search Indexer</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            </div>
        </div>
    </div><!--container-->

</div>  <!--wrapper-->
        <footer>
            <div id="footer" class="container"></div>
        </footer>


        <script src="js/vendor/angular/angular.min.js"></script>
        <script src="js/vendor/angular/angular-animate.min.js"></script>
        <script src="js/vendor/angular/loading-bar/loading-bar.js"></script>
        <script src="js/vendor/underscore/underscore-min.js"></script>
        <script src="js/search/ddi.metadata.search.js"></script>
        <script src="js/vendor/d3/d3.min.js"></script>
        <script src="js/d3/d3.ExpertDatabaseSequenceDistribution.js"></script>
        <script src="js/d3/d3.speciesSunburst.js"></script>
        <script src="js/d3/d3.speciesTree.js"></script>

</body>
</html>
