<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" xmlns:ng="http://angularjs.org" ng-app="ddiApp" id="ng-app"
      class="js flexbox canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths ng-scope">
<head>
    <style type="text/css">@charset "UTF-8";
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
        display: none !important;
    }

    ng\:form {
        display: block;
    }
    </style>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width" name="viewport">
    <meta content="DDI is a integrate resource to multiple omics repositories, including Proteomics, Metabolomics and Genomics"
          name="description">


    <title>DDI: Home</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link type="text/css" href="css/main.css" rel="stylesheet">
    <!--
    <link type="text/css" href="css/prider.css" rel="stylesheet">
    <link type="text/css" href="css/ebi-global.css" rel="stylesheet">
    <link type="text/css" href="css/ebi-visual.css" rel="stylesheet">
    -->

    <link rel="stylesheet" href="//www.ebi.ac.uk/web_guidelines/css/compliance/develop/boilerplate-style.css">
    <link rel="stylesheet" href="//www.ebi.ac.uk/web_guidelines/css/compliance/develop/ebi-global.css" type="text/css"
          media="screen">
    <link rel="stylesheet" href="//www.ebi.ac.uk/web_guidelines/css/compliance/develop/ebi-visual.css" type="text/css"
          media="screen">
    <link rel="stylesheet" href="//www.ebi.ac.uk/web_guidelines/css/compliance/develop/984-24-col-fluid.css"
          type="text/css" media="screen">
    <link type="text/css" href="css/ddi.css" rel="stylesheet">
    <link type="text/css" href="css/autocomplete.css" rel="stylesheet">

    <!-- favico -->
    <link rel="apple-touch-icon" sizes="57x57" href="/Tools/ddi/static/img/favico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/Tools/ddi/static/img/favico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/Tools/ddi/static/img/favico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/Tools/ddi/static/img/favico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/Tools/ddi/static/img/favico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/Tools/ddi/static/img/favico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/Tools/ddi/static/img/favico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/Tools/ddi/static/img/favico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/Tools/ddi/static/img/favico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/Tools/ddi/static/img/favico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Tools/ddi/static/img/favico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/Tools/ddi/static/img/favico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/Tools/ddi/static/img/favico/favicon-16x16.png">
    <link rel="manifest" href="/Tools/ddi/static/img/favico/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/Tools/ddi/static/img/favico/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!--favico end -->
    <base href='/Tools/ddi/'>
    <script src="js/vendor/jquery-1.10.1.min.js"></script>
</head>

<script>
    $(function () {
        $("#footer").load("footer.html");
    });
</script>

<body class="level2 ng-cloak">

<div id="wrapper" class="container_24 ng-cloak">
    <header>
        <div id="local-masthead" class="masthead grid_24 nomenu" style="height:132px">
            <!-- local-title -->
            <!-- NB: for additional title style patterns, see http://frontier.ebi.ac.uk/web/style/patterns -->
            <div class="grid_12 alpha logo-title" id="local-title">
                <a href="/app" title="Back to DDI homepage"><img src="/Tools/ddi/static/img/logo/DDI-icon-3.png"
                                                                 alt="logo"
                                                                 width="64" height="64"></a>
                <span><h1><a href="/app" title="Back to DDI homepage">Data Discovery Index</a></h1></span>
            </div>
            <!-- /local-title -->

            <!-- local-search -->
            <div style="height:105px">
            </div>
            <!-- NB: if you do not have a local-search, delete the following div, and drop the class="grid_12 alpha" class from local-title above -->
            <!-- /local-search -->


            <!-- local-nav -->
            <nav style="float:bottom">
                <ul class="grid_24" id="local-nav">
                    <li class=" first" id="home-menu"><a title="Home" href="/Tools/ddi/">Home</a></li>
                    <li class="" id="browse-menu"><a title="Browse"
                                                     href="/Tools/ddi/browse.html#/search?q=*:*">Browse</a>
                    </li>
                    <li class="" id="api-menu"><a title="DDI API" href="/Tools/ddi/api.html#/overview">API</a>
                    </li>
                    <li class=" last" id="about-prider-menu"><a title="Databases"
                                                                href="/Tools/ddi/databases.html">Databases</a>
                    </li>
                    <!-- If you need to include functional (as opposed to purely navigational) links in your local menu,
                    add them here, and give them a class of "functional". Remember: you'll need a class of "last" for
                    whichever one will show up last...
                    For example: -->
                    <li class="functional last"><a data-icon="\" class="icon icon-static"
                                                   href="http://www.ebi.ac.uk/support/index.php?query=pride">Feedback</a>
                    </li>
                    <li class="functional"><a class="" href="about.html">About</a></li>
                    <li class="functional"><a class="" href="help.html#/Overview">Help</a></li>
                    <li class="functional" id="login-menu" hidden="true"><a title="Login to PRIDE Archive" data-icon="l"
                                                                            class="icon icon-functional"
                                                                            href="http://www.ebi.ac.uk/pride/archive/login">Login</a>
                    </li>
                    <li class="functional first" id="register-menu" hidden="true"><a title="Register" data-icon="5"
                                                                                     class="icon icon-functional"
                                                                                     href="http://www.ebi.ac.uk/pride/archive/register">Register</a>
                    </li>
                </ul>
            </nav>

            <!-- /local-nav -->
        </div>
    </header>

    <div ng-show="web_service_fail==='true'" id="error-row" class="container ng-cloak">
        <div class="row">
            <p class="error-info" style="text-align:center;font-size:200%">
                Oops; a 500 error...
            </p>

            <p class="error-info" style="text-align:center;font-size:100%">
                We cannot ge to the web service now, and we are working on this issue too.
            </p>
        </div>
    </div>

    <div ng-show="web_service_fail==='false'" class="container ng-cloak">


        <div id="" class="row" style="margin:20px">
        </div>


        <div class="row">

            <div class="col-md-12">
                <div ng-controller="QueryCtrl" class="ng-scope panel panel-default" style="">
                    <!--      <div ng-controller="QueryCtrl" class=" ng-scope panel panel-default" style="background-color:lightcyan; ">   -->
                    <h3 style="margin-top:10px">
                    </h3>

                    <form novalidate name="queryForm" class="global-search" ng-submit="submit_query()">
                        <!-- <fieldset> -->
                        <div class="form-group" ng-class="(query.submitted && queryForm.$invalid) ? 'has-error' : ''">
                            <div class="input-group">
                                <autocomplete ng-model="query.text"
                                              attr-placeholder="organism, repository, gene, tissue, accession"
                                              click-activation="true" data="words" on-type="get_suggestions"
                                              on-select="do_query"></autocomplete>
                                <!--
                                                                <input type="text" style="background-color:#fff; width:99%"
                                                                       placeholder="organism, repository, gene, tissue, accession"
                                                                       class="form-control"
                                                                       id="query-text"
                                                                       name="text"
                                                                       tabindex="1"
                                                                       ng-model="query.text"
                                                                       ng-minlength="2"
                                                                       ng-maxlength="1000"
                                                                       autocomplete="off"
                                                                       required>
                                -->
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-search"></i> Search
                                    </button>
                                </div>
                                <!-- /input-group-btn -->
                            </div>
                            <!--input-group -->
                     <span class="help-block example-searches">
                         <!-- <small> -->
                             <i>
                                 Examples:
                                 <a href="" rel="nofollow" ng-click="meta_search('cancer')">cancer</a>,
                                 <a href="" rel="nofollow" ng-click="meta_search('TAXONOMY:&quot;9606&quot;')">Homo
                                     sapiens</a>,
                                 <a href="" rel="nofollow" ng-click="meta_search('Orbitrap')">Orbitrap</a>,
                                 <a href="" rel="nofollow" ng-click="meta_search('Q9HAU5')">Q9HAU5</a>,
                                 <a href="" rel="nofollow" ng-click="meta_search('Phospho')">Phospho</a>,
                                 <a href="" rel="nofollow" ng-click="meta_search('Hela')">Hela</a>
                             </i>
                         <!-- </small> -->
                     </span>
                            <!--
                            <label class="control-label ng-cloak has-error"
                                   for="query-text"
                                   ng-show="query.submitted && (queryForm.text.$error.required || queryForm.text.$error.minlength)"
                                   ng-cloak>
                                Your query is too short
                            </label>
                            <label class="control-label ng-cloak"
                                   for="query-text" ng-show="query.submitted && (queryForm.text.$error.maxlength)"
                                   ng-cloak>
                                Your query is too long
                            </label>
                            -->
                        </div>
                        <!-- /form-group -->
                        <!-- </fieldset> -->
                    </form>
                    <!-- /form -->
                </div>
                <!--/controller-->
            </div>

            <div class="col-md-4">
            </div>


        </div>

        <!-- <div ng-controller="ResultsListCtrl" class="ng-scope container" ng-show="true" style=""> -->
        <div class="row">

            <div class="col-md-4">
                <div id="hotwords" class="panel panel-default" style="height:360px">
                </div>
            </div>


            <div class="col-md-4">
                <div id="chart_tissues_organisms" class="panel panel-default" style="height:360px">
                </div>
            </div>

            <div class="col-md-4">
                <div id="chart_repos_omics" class="panel panel-default" style="height:360px">
                </div>
            </div>


        </div>
        <!-- row -->


        <div class="row" ng-controller="DatasetListsCtrl">
            <div class="col-md-4">
                <div id="latestdatasetspanel" class="panel panel-default">

                    <div class="">
                        <h4 class="icon icon-functional " data-icon="z"> Latest Datasets</h4>
                    </div>
                    <div class="panel-body ">
                        <ul class="nobullet">
                            <li ng-show="get_latest_datasets_fail.length > 1" class="error-info">
                                {{get_latest_datasets_fail}}
                            </li>
                            <li ng-repeat="dataset in latestList">
                                <img src="css/Proteomics2.png" ng-show="proteomics_list.indexOf(dataset.source)>-1"
                                     style="width:15px;height:15px" title="Proteomics"/>
                                <img src="css/Metabolomics2.png" ng-show="metabolomics_list.indexOf(dataset.source)>-1"
                                     style="width:15px;height:15px" title="Metabolomics"/>
                                <img src="css/Genomics2.png" ng-show="genomics_list.indexOf(dataset.source)>-1"
                                     style="width:15px;height:15px" title="Gemonics"/>
                                <a href={{"dataset.html#/"+dataset.id+"*"+repositories[dataset.source]}}
                                   title={{dataset.title}}>
                                    {{dataset.title|limitTo:45}} {{dataset.title.length>45?'...':''}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div id="most_accessed_datasets" class="panel panel-default">

                    <div class="">
                        <h4 class="icon icon-functional " data-icon="z"> Most Accessed Datasets</h4>
                    </div>
                    <div class="panel-body ">
                        <ul class="nobullet">
                            <li ng-show="get_most_access_datasets_fail.length > 1" class="error-info">
                                {{get_most_access_datasets_fail}}
                            </li>
                            <li ng-repeat="dataset in most_accessed_list" style="height:20px">
                                <img src="css/Proteomics2.png" ng-show="proteomics_list.indexOf(dataset.source)>-1"
                                     style="width:15px;height:15px" title="Proteomics"/>
                                <img src="css/Metabolomics2.png" ng-show="metabolomics_list.indexOf(dataset.source)>-1"
                                     style="width:15px;height:15px" title="Metabolomics"/>
                                <img src="css/Genomics2.png" ng-show="genomics_list.indexOf(dataset.source)>-1"
                                     style="width:15px;height:15px" title="Genomics"/>
                                <a href={{"dataset.html#/"+dataset.id+"*"+repositories[dataset.source]}}
                                   title={{dataset.title}}>
                                    {{dataset.title|limitTo:45}} {{dataset.title.length>45?'...':''}}
                                </a>
                                <span class="icon icon-functional"
                                      data-icon="4">{{dataset.visitCount|megaNumber}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <div id="barchart_omicstype_annual" class="panel panel-default">

                    <!--         <div class="" >
                               <h4  > act us</h4>
                            </div>
                            <div class="panel-body ">
                                <ul>
                                </ul>
                            </div> -->


                </div>
            </div>


        </div>
        <!--row -->

        <hr>

        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default" style="height:260px">
                    <div id="tweets-of-the-month" class="">
                        <h4 data-icon="N" class="icon icon-generic">
                            News
                        </h4>
                    </div>

                    <div>
                        <a href="https://twitter.com/@DDIndex" data-icon="T"
                           class="justify-body-text icon icon-socialmedia">More tweets</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">

                <div id="statisticspanel" class="panel panel-default" ng-controller="DatasetListsCtrl"
                     style="height:260px">

                    <div class="">
                        <h4 class="icon icon-functional " data-icon="z"> Statistics</h4>
                    </div>
                    <blockquote>
                        <p ng-repeat="statisticdata in statistic_list " style="margin:8px">
                            {{statisticdata.value|number}} {{statisticdata.name}}
                        </p>
                    </blockquote>
                </div>
            </div>


            <div class="col-md-4">
                <div class="panel panel-default" style="height:260px">
                    <div id="About" class="">
                        <h4 data-icon="N" class="icon icon-generic">
                            About
                        </h4>
                        <blockquote class="small callout-info">The Data Discovery Index (DDI) provides a Knowleage
                            Discovery framework across a heterogeneous data (genomics, proteomics and metabolomics).
                            <a href="help.html#/Overview">Read More</a>).
                        </blockquote>
                        <br/>
                        <blockquote class="small callout-info">DDI project has been developed on <a
                                href="https://github.com/BD2K-DDI/" target="_blank">GitHub</a>, you can check or
                            contribute to our development at (<a href="https://github.com/BD2K-DDI/" target="_blank">here</a>)
                        </blockquote>
                        <br/>
                        </blockquote>
                        <blockquote class="small callout-info">The frontend page is based on the
                            <a href="https://angularjs.org/">Angular JS</a>;
                            <a href="d3js.org/">D3.js</a>
                        </blockquote>

                    </div>
                    <div>
                    </div>
                </div>
            </div>


        </div>
        <!--row -->


    </div>
    <!--main container of page -->

    <!-- </div> ResultsListCtrl -->
    <footer>
        <div id="footer" class="container"></div>
    </footer>

</div>
<!--wraper of page -->


<script src="js/vendor/angular/angular.js"></script>
<script src="js/vendor/angular/angular-animate.min.js"></script>
<script src="js/vendor/angular/loading-bar/loading-bar.js"></script>
<script src="js/vendor/underscore/underscore-min.js"></script>
<script src="js/search/ddi.metadata.search.js"></script>
<script src="js/getTweets.js"></script>
<script src="js/pieCharts.js"></script>
<script src="js/wordCloud.js"></script>
<script src="js/autocomplete.js"></script>
<script src="js/queue.v1.min.js"></script>
<!--
<script src="js/vendor/angular/angular-route.js"></script>
<script src="js/vendor/angular/angular.min.js"></script>
-->
<script src="js/vendor/d3/d3.min.js"></script>
<script src="js/vendor/d3/d3.layout.cloud.js"></script>


<script>

     pie_charts_tissues_organisms();
     pie_charts_repos_omics();
     barcharts_years_omics_types();
     drawHotwords();

    /**
     *  get tweets and write into the page
     *
     */
    var tf = new TweetFetcher('599190509341515776');
    tf.fetch(function (tweets) {
        publishtweets(tweets);
    }, 4);

</script>
</body>
</html>
