<div style="min-height: 60px;">
    <div class="row" *ngIf="loading || (totalResults > 0)" style="margin-top:10px;">
        <div class="col-lg-8">
            <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
        </div>

        <div class="col-lg-4">
            <div class="form-group pull-right" style="margin-right:10px; margin-bottom: 0">
                <div class="input-group">
                    <span style="border:none;">
                        <span (click)="sortOrderChanged(dataControl.order);" style="cursor:pointer;">Sort&nbsp;
                            <i class="fa fa-caret-{{dataControl.order === 'descending' ? 'down' : 'up'}} " style="font-size:19px;"></i>
                        </span> &nbsp;by: &nbsp;
                        <mat-form-field style="width: 100px">
                            <mat-select [ngModel]="dataControl.sortBy" (valueChange)="sortByChanged($event)">
                                <mat-option [value]="''">Relevance</mat-option>
                                <mat-option [value]="'id'">Accession</mat-option>
                                <mat-option [value]="'publication_date'">Pub.Date</mat-option>
                                <mat-option [value]="'view_count_scaled'">Views</mat-option>
                                <mat-option [value]="'citation_count_scaled'">Citations</mat-option>
                                <mat-option [value]="'reanalysis_count_scaled'">Reanalysis</mat-option>
                                <mat-option [value]="'download_count_scaled'">Downloads</mat-option>
                                <mat-option [value]="'normalized_connections'">Connections</mat-option>
                            </mat-select>
                        </mat-form-field>
                        &nbsp;Page size&nbsp;
                        <mat-form-field style="width: 60px">
                            <mat-select [(ngModel)]="dataControl.pageSize" (valueChange)="pageSizeChanged($event)">
                                <mat-option [value]="c" *ngFor="let c of pageSizes">{{c}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>