<a [mdMenuTriggerFor]="menu" *ngIf="!auth.loggedIn()" data-icon="\" class="icon icon-generic" data-icon="M" alt="Open Login Menu">Login</a>

<md-menu #menu="mdMenu" [overlapTrigger]="false" style="width:400px;">
    <app-login-dialog></app-login-dialog>
</md-menu>


<a [mdMenuTriggerFor]="loggedInMenu" *ngIf="auth.loggedIn()" data-icon="\" class="icon icon-generic" data-icon="M" alt="Open Login Dialog">{{name}} <b class="caret"></b></a>


  <md-menu #loggedInMenu="mdMenu" [overlapTrigger]="false">
    <button [routerLink]="['/profile',this.userId]" md-menu-item>
      Public profile
    </button>
    <button md-menu-item [routerLink]="['/dashboard']">
      Dashboard
    </button>
    <button md-menu-item (click)="LogOut()">
      Log Out
    </button>
  </md-menu>



