<a [matMenuTriggerFor]="menu" *ngIf="!auth.loggedIn()" data-icon="\" class="icon icon-generic" data-icon="M" alt="Open Login Menu">Login</a>

<mat-menu #menu="matMenu" [overlapTrigger]="false" style="width:400px;">
    <app-login-dialog></app-login-dialog>
</mat-menu>


<a [matMenuTriggerFor]="loggedInMenu" *ngIf="auth.loggedIn()" data-icon="\" class="icon icon-generic" data-icon="M" alt="Open Login Dialog">{{name}} <b class="caret"></b></a>


  <mat-menu #loggedInMenu="matMenu" [overlapTrigger]="false">
    <button *ngIf="this.isPublic" [routerLink]="['/profile',this.userId]" mat-menu-item>
      Public profile
    </button>
    <button mat-menu-item [routerLink]="['/dashboard']">
      Dashboard
    </button>
    <button mat-menu-item (click)="LogOut()">
      Log Out
    </button>
  </mat-menu>



