<div id="wrapper">
<app-nav></app-nav>
<div id="page-wrapper">
        <div class="container-fluid3">


            <div class="col-lg-12">
                <div class="caption">Saved Searches</div>
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>Search</th>
                            <th># Results</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let s of savedSearches">
                            <td><a [routerLink]="['/search']" [queryParams]="{q: s.search}" >{{s.search}}</a></td>
                            <td> {{s.count}}</td>
                            <td><a (click)="delete(s.id)" title="delete">x</a></td>
                        </tr>
                        </tbody>
                    </table>
                   <div style="padding-left:20px;padding-bottom: 20px;">to add - navigate to <a [routerLink]="['/search']">browse</a> page and select "<i class="fa fa-bookmark-o" aria-hidden="true"></i> save search"</div>
                </div>
            </div>



            <div class="col-lg-12">
                <div class="caption">Watch Notifications</div>
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>Dataset</th>
                            <th>Database</th>
                            <th>Accession</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let s of watchedDatasets">
                            <td><app-datasetwidget-small [id]="s.accession" [source]="s.source"></app-datasetwidget-small></td>
                            <td><a [routerLink]="['/dataset',s.source, s.accession]" >{{s.source}}</a></td>
                            <td><a [routerLink]="['/dataset',s.source, s.accession]" >{{s.accession}}</a></td>
                            <td><a (click)="deleteWatch(s.id)" title="delete">x</a></td>
                        </tr>
                        </tbody>
                    </table>
                    <div style="padding-left:20px;padding-bottom: 20px;">to add - navigate to <a [routerLink]="['/search']">browse</a> page and select "<i class="fa fa-envelope-o" aria-hidden="true"></i> Watch" on dataset panel</div>
                </div>
            </div>

</div>
</div>
</div>