<div class="grid_22 ddi-pagination " style="width:100%">
  <div class="clearfix   " id="sort-by">
                                        <span>Sort by:
                            <a href="" ng-click="pagination(1,'default','id','default')" style="margin-left: 5px;" ng-class="{'disabled':sort_field==='id'}" class="disabled">Accession</a>
                            <a href="" ng-click="pagination(1,'default','relevance','default')" style="margin-left: 5px;" ng-class="{'disabled':sort_field==='relevance'}" class="">Relevance</a>
                            <a href="" ng-click="pagination(1,'default','publication_date','default')" style="margin-left:5px" ng-class="{'disabled':sort_field==='publication_date'}">Publication date</a>
                            <a href="" ng-click="pagination(1,'default','default','descending')" style="margin-left:5px" ng-class="{'disabled':sort_order==='descending'}" class="disabled">
                                <i class="fa fa-arrow-circle-o-down " style="font-size:19px;"></i>
                            </a>
                            <a href="" ng-click="pagination(1,'default','default','ascending')" style="margin-left:5px" ng-class="{'disabled':sort_order==='ascending'}">
                                <i class="fa fa-arrow-circle-o-up" style="font-size:19px"></i>
                            </a>
                            </span>
  </div>
</div>
