.even {
    color: yellow;
}

.odd {
    color: white;
}

.citation-button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

}

.citation-button {
    background-color: #0099cc;
    border-color: #0099cc;
    border-bottom-color: #0099cc !Important;
    padding: 8px 16px;
    text-align: center;
    border-radius: 12px;
    font-size: 10px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.03);
    color: black;
}

.citation-button:hover {
    background-color: white; /* Green */
    color: black;
}

.elements > span {
    display: inline-block;
    margin-right: 8px;
}

.btn {
    padding: 5px 12px;
    min-width: 100px;
}