<div class="mt-card">
    <div class="mt-card-header">
        <h4 class="mt-card-title" style="margin-left: 20px">
            Contact info
        </h4>
    </div>
    <div class="mt-card-body">
        <div class="col-md-3" style="padding: 10px;">
            <div style="width: 150px; height: 150px">
                <img [src]="this.profileImageUrl" id="gsc_prf_pup" class="image-rounded">
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <label class="col-md-2 mt-col-form-label">Email</label>
                <div class="col-md-10">
                    <div class="form-group has-default bmd-form-group">
                        <a href="mailto:{{this.profile?.email}}">{{this.profile?.email}}</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="col-md-2 mt-col-form-label">Affiliation</label>
                <div class="col-md-10">
                    <div class="form-group has-default bmd-form-group">
                        <span>{{this.profile?.affiliation}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="col-md-2 mt-col-form-label">OrcID</label>
                <div class="col-md-10">
                    <div class="form-group has-default bmd-form-group">
                        <a *ngIf="profile.orcid"
                           href="http://europepmc.org/search?query=AUTHORID:%22{{profile?.orcid}}%22&amp;sortby=Date" target="_blank">&nbsp;{{profile?.orcid}}</a>
                        <span *ngIf="!profile.orcid">OrcID unavailable</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="col-md-2 mt-col-form-label">Public profile</label>
                <div class="col-md-10">
                    <div class="form-group has-default bmd-form-group">
                        <a [routerLink]="['/profile', profile.userId]" title="OmicsDI public profile">https://omicsdi.org/profile/{{profile.userId}}</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="col-md-2 mt-col-form-label">Home page</label>
                <div class="col-md-10">
                    <div class="form-group has-default bmd-form-group">
                        <a href="{{this.profile?.homepage}}">{{this.profile?.homepage}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 line-bottom" style="margin: 15px 0" *ngIf="this.profile.bio">
        </div>
        <div class="col-md-12" *ngIf="this.profile.bio">
            {{this.profile.bio}}
        </div>
    </div>
</div>
