<ng-container *ngIf="auth.loggedIn()">

    <div *ngIf="claimable && !claimed" class="dot-button" style="background-color: #FA8B7A" (click)="claimDataset()">
        <i class="fa fa-user-circle" aria-hidden="true"></i>
        <span [ngClass]="unselected">Claim</span>
    </div>

    <div *ngIf="claimed" class="dot-button" style="background-color: #FA8B7A" (click)="viewInProfile()">
        <i class="fa fa-user-circle" aria-hidden="true"></i>
        <span [ngClass]="unselected">View in profile</span>
    </div>

</ng-container>
