<div style="display: block;text-align: left;">
  <div class="container" style="float:left; width:70%;" >
    <app-autocomplete-n></app-autocomplete-n>
  </div>
  <div style="float:right; width:25%; padding:10px; margin-top:10px;">
    <form method="get" action="#" name="local-search" id="local-search">
      <input id="submit-searchbox" class="submit" type="submit" value="Search" (click)="search()" style="height:20px; margin-top:20px;" >
    </form>
  </div>
  <div style="float: left; width:100%;">
  <span class="help-block example-searches">
                         <small>
                             <i>
                                 Examples:
                                 <a href="" rel="nofollow" ng-click="example_query('cancer')">cancer</a>,
                                 <a href="" rel="nofollow" ng-click="example_query('TAXONOMY:&quot;9606&quot;')">Homo
                                     sapiens</a>,
                                 <a href="" rel="nofollow" ng-click="example_query('Orbitrap')">Orbitrap</a>,
                                 <a href="" rel="nofollow" ng-click="example_query('Q9HAU5')">Q9HAU5</a>,
                                 <a href="" rel="nofollow" ng-click="example_query('Phospho')">Phospho</a>,
                                 <a href="" rel="nofollow" ng-click="example_query('Hela')">Hela</a>
                             </i>
                         </small>
</span>
</div>
</div>

