<input type="text" class="form-control ng-pristine ng-untouched ng-valid"
       placeholder="Find your {{label}}"
       #searchInput
       (keyup)="searchByName()"
       style="width:100%;">
<ul class="list-unstyled metasearch-facet-values">

    <li *ngFor="let v of facetValuesFiltered" class="ng-scope" [hidden]="!v.visible">
        <!-- https://github.com/Dogfalo/materialize/issues/4322 -->
        <input #checkbox
               type="checkbox"
               id="{{v.value}}"
               style=" position:relative; opacity: 50; visibility: visible;vertical-align: top; margin-top: 3px"
               [checked]="isChecked(v.value)"
               (click)="checkBoxClicked(v.value, $event)">
        <label for="{{v.value}}" class="facet-label">
            {{v.label}}
            <small class="ng-binding">({{v.count}})</small>
        </label>
    </li>

</ul>
