<div id="wrapper">
  <app-nav></app-nav>
  <div id="page-wrapper">
    <div class="container-fluid3">

      <div class="caption">Edit Profile</div>
      <div>

        <div class="editContainer">
          <form #heroForm="ngForm"  (ngSubmit)="submitClicked()" (reset)="cancelClicked()">
            <div class="form-group">
              <label for="userName">Name</label>
              <input type="text" id="userName" class="form-control"
                     required minlength="4" maxlength="24"
                     pattern="[^\/\\\s][^\/\\]*[^\/\\\s]"
                     name="userName" [(ngModel)]="profile.userName"
                     #userName="ngModel" >

              <div *ngIf="userName.errors && (userName.dirty || userName.touched)"
                   class="alert alert-danger">
                <div [hidden]="!userName.errors.required">
                  Name is required
                </div>
                <div [hidden]="!userName.errors.minlength">
                  Name must be at least 4 characters long.
                </div>
                <div [hidden]="!userName.errors.maxlength">
                  Name cannot be more than 24 characters long.
                </div>
                <div [hidden]="!userName.errors.pattern">
                  Name cannot contain special characters or trail with space.
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="orcid">Orcid ID</label>
              <input type="text" id="orcid" class="form-control"
                     pattern="\d\d\d\d-\d\d\d\d-\d\d\d\d-\d\d\d\d|X"
                     name="orcid" [(ngModel)]="profile.orcid"
                     #orcid="ngModel" >

              <div *ngIf="orcid.errors && (orcid.dirty || orcid.touched)" class="alert alert-danger">
                <div [hidden]="!orcid.errors.pattern">
                  Orcid ID is 0000-0000-0000-000[0|X]
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="affiliation">Affiliation</label>
              <input type="text" id="affiliation" class="form-control"
                     maxlength="100"
                     name="affiliation" [(ngModel)]="profile.affiliation"
                     #affiliation="ngModel" >

              <div *ngIf="affiliation.errors && (affiliation.dirty || affiliation.touched)" class="alert alert-danger">
                <div [hidden]="!affiliation.errors.maxlength">
                  Affiliation must not be >100 chars
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="affiliation">Email</label>
              <input type="text" id="email" class="form-control"
                     maxlength="100"
                     pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
                     name="email" [(ngModel)]="profile.email"
                     #email="ngModel" >

              <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
                <div [hidden]="!email.errors.maxlength">
                  Email must not be >100 chars
                </div>
                <div [hidden]="!email.errors.pattern">
                  invalid email address format
                </div>
              </div>
            </div>


            <div class="form-group">
              <label for="homepage">Homepage</label>
              <input type="text" id="homepage" class="form-control"
                     maxlength="100"
                     pattern="https?://.+"
                     name="homepage" [(ngModel)]="profile.homepage"
                     #homepage="ngModel" >

              <div *ngIf="homepage.errors && (homepage.dirty || homepage.touched)" class="alert alert-danger">
                <div [hidden]="!homepage.errors.maxlength">
                  Homepage must not be >100 chars
                </div>
                <div [hidden]="!homepage.errors.pattern">
                  homepage address must start form http://.. https://
                </div>
              </div>
            </div>


            <div class="form-group">
              <label for="bio">Bio</label>
              <textarea id="bio" class="form-control"
                        maxlength="10000"
                        style="height:300px; background-color: ghostwhite;"
                        name="bio" [(ngModel)]="profile.bio"
                        #bio="ngModel" ></textarea>

              <div *ngIf="bio.errors && (bio.dirty || bio.touched)" class="alert alert-danger">
                <div [hidden]="!bio.errors.maxlength">
                  Bio must not be >1000 chars
                </div>
              </div>
            </div>


            <div class="form-group">

              <label for="isPublic">
                <input type="checkbox" id="isPublic" class="form-control"
                       name="isPublic" [(ngModel)]="profile.isPublic" style="opacity:100; box-shadow:none; display: inline; margin-bottom: 5px;"
                       #isPublic="ngModel"  />
                Make my profile public</label>
            </div>

            <button type="submit" class="btn btn-default">Submit</button>
            <button type="reset" class="btn btn-default">Reset</button>
          </form>

        </div>
      </div>

    </div>
  </div>
</div>