.ddi-card-panel2 {
  background-color: #fff;
  border-radius: 2px;
  margin: 1rem 0rem 0.8rem 1rem;
  padding: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  display: block;
}

.grey{
  background-color: silver;
  cursor:pointer;
}

.white{
  background-color: white;
  cursor:pointer;
}


span.selected{
  font-weight: bold;
  color:black;
}

span.unselected{
  font-weight: normal;
  margin-right: 22px;
  color: black;
}

.score {
  margin-left: 2px;
  margin-right: 2px;
  font-style: italic;
  font-size: 0.9em;
  padding: 2px 8px 2px 17px;
  /*    background: #b7eeba url('../img/favico/tag.png') no-repeat 2px 2px;*/
  background: lightskyblue;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: inline;
  padding:5px;
}